.post-terms{
  font-size: 12px;
}
.post-meta{
  padding-bottom: 15px;
}
.lastudio-posts .post-thumbnail a {
  display: inline-block;
  vertical-align: middle;
}
.lastudio-posts{
  .lastudio-more-wrap{
    .lastudio-more{
      border-radius: 0;
      border:2px solid #D5D5D5;
      background-color:#fff;
      color: $secondary-color;
      text-transform:uppercase;
      font-size:12px;
      font-weight: bold;
      line-height: 1.4;
      margin-top: 10px;
      padding: 15px 40px;
      &:hover{
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;
      }
    }
  }
  .post-thumbnail{
    margin-bottom: 15px;
    img{
      width: 100%;
    }
  }
  .post-meta{
    font-size: 12px;
    @include display();
  }
  .post-meta__item{
    i{
      margin-top: -2px;
      vertical-align: middle;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  .loop__item{
    padding-bottom: 40px;
  }

  &.preset-grid-1{
    .lastudio-more-wrap{
      display: none;
    }
    .post-meta__item{
      color: $primary-color;
      font-style: italic;
      a:hover{
        text-decoration: underline;
      }
    }
  }
}

/*
  $PRESET_POST_GRID_02
*/

.lastudio-posts{
  &.preset-grid-2{
    .post-meta{
      font-size: 11px;
      i{
        display: none;
      }
    }
    .entry-title{
      &:after{
        content: '';
        border-bottom: 2px solid #DADADA;
        width: 50px;
        display: block;
        margin-top: .5em;
      }
    }
    .posted-by{
      text-transform: lowercase;
      a{
        text-transform: capitalize;
        font-weight: bold;
      }
    }
    .post-meta__item{
      + .post-meta__item{
        &:before{
          content: '-';
          padding: 0 5px;
        }
      }
    }
    .post-terms{
      a:not(:last-child){
        &:after{
          content: ', ';
        }
      }
    }
    .entry-excerpt{
      margin-bottom: 15px;
    }
    .lastudio-more-wrap .lastudio-more{
      border: none;
      background-color: $secondary-color;
      color: #ffffff;
      font-size: 11px;
      &:hover{
        color: #fff;
        background-color: $primary-color;
      }
    }
  }
}

/*
  $PRESET_POST_GRID_03
*/
.lastudio-posts{
  &.preset-grid-3{
    .entry-title{
      margin-bottom: 10px;
    }
    .posted-by{
      padding-right:5px;
      -webkit-order: -1;
      order: -1;
    }
    .post-meta{
      i{
        display: none;
      }
    }
  }
}

/*
  $PRESET_POST_GRID_04
*/
.lastudio-posts{
  &.preset-grid-4{
    .post-terms{
      color: $primary-color;
    }
    .entry-title{
      margin-bottom: 10px;
    }
    .post-meta__item{
      padding-right:10px;
      i{
        padding-right: 5px;
      }
    }
    .lastudio-more-wrap .lastudio-more{
      border-width: 1px;
      text-transform: none;
    }
  }
}
/*
  $PRESET_POST_GRID_05
*/
.lastudio-posts{
  &.preset-grid-5{
    .lastudio-posts__inner-box{
      position: relative;
      height: 100%;
      a:hover{
        color: inherit;
        text-decoration: underline;
      }
    }
    .post-thumbnail{
      margin-bottom: 0;
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .post-terms{
      font-size: inherit;
    }
    .entry-title{
      margin-bottom: 10px;
      color: inherit;
    }
    .post-meta__item{
      padding-right:10px;
      i{
        padding-right: 5px;
      }
    }
    .loop__item{
      &.has-post-thumbnail{
        .lastudio-posts__inner-content{
          position: absolute;
          top: 50%;
          bottom: 0;
          height: 100%;
          width: 100%;
          z-index: 2;
          padding: 40px;
          color: #fff;
          @include display();
          @include justify-content(center);
          @include flex-direction(column);
          transition: all .4s;
          opacity: 0;
          visibility: hidden;
          &:after{
            content: '';
            position: absolute;
            opacity: .9;
            background-color: $primary-color;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
          }
        }
        .lastudio-posts__inner-box:hover{
          .lastudio-posts__inner-content{
            top: 0;
            visibility: inherit;
            opacity: 1;
          }
        }
      }
    }
  }
}

/*
  $PRESET_POST_GRID_06
*/
.lastudio-posts{
  &.preset-grid-6{
    .lastudio-posts__inner-box{
      position: relative;
      height: 100%;
      a:hover{
        color: inherit;
        text-decoration: underline;
      }
    }
    .post-thumbnail{
      margin-bottom: 0;
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .entry-title{
      margin-bottom: 10px;
      color: inherit;
    }
    .post-meta__item{
      padding-right:10px;
      i{
        padding-right: 5px;
      }
    }
    .loop__item{
      .lastudio-posts__inner-box{
        background-color: #f9f9f9;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background-image: linear-gradient(180deg, rgba(69,69,69,0.00) 0%, #212121 100%);
          transition: all .5s ease-in-out;
        }
        &:after{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background-image: linear-gradient(180deg, rgba(19,19,19,0.66) 0%, #4241FF 100%);
          @include translate2d(0, 20%);
          opacity: 0;
          transition: all .5s ease-in-out;
        }
      }
      .lastudio-posts__inner-content{
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 3;
        padding: 40px;
        color: #fff;
        transition: all .5s ease-in-out;
        @include translate2d(0, 45%);
      }
      .entry-excerpt,
      .post-meta{
        opacity: 0;
        visibility: hidden;
        max-height: 5.4em;
        overflow: hidden;
        transition: all .5s ease-in-out .2s;
      }
      .lastudio-posts__inner-box:hover{
        .lastudio-posts__inner-content{
          @include translate2d(0,0);
        }
        &:before{
          opacity: 0;
        }
        &:after{
          opacity: 1;
          @include translate2d(0,0);
        }
        .entry-excerpt,
        .post-meta{
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

/*
  $PRESET_POST_GRID_07
*/
.lastudio-posts{
  &.preset-grid-7{
    .lastudio-posts__inner-box{
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
    }
    .post-thumbnail{
      margin-bottom: 0;
    }
    .entry-title{
      margin-bottom: 10px;
    }
    .post-terms{
      color: $primary-color;
      font-size: 1em;
      font-style: italic;
      a:hover{
        text-decoration: underline;
      }
    }
    .post-meta__item{
      padding-right:10px;
      i{
        padding-right: 5px;
      }
    }
    .lastudio-posts__inner-content{
      padding: 20px 30px;
      background-color: #fff;
    }
    .lastudio-more-wrap .lastudio-more{
      border-width: 1px;
      text-transform: none;
      vertical-align: middle;
    }

  }
}

/*
  $PRESET_POST_LIST
*/
.lastudio-posts--list{
  .post-meta__item{
    padding-right:10px;
    i{
      padding-right: 5px;
      margin-top: -2px;
    }
  }
  .entry-title{
    margin-bottom: 5px;
  }
  .entry-excerpt{
    margin-bottom: 25px;
  }
  .lastudio-more-wrap .lastudio-more{
    border-width: 1px;
    text-transform: none;
  }
  .post-terms{
    color: $primary-color;
    a:hover{
      text-decoration: underline;
    }
  }
}

/*
  $PRESET_POST_LIST_01
*/
.lastudio-posts--list.preset-list-2,
.lastudio-posts--list.preset-list-1{
  .lastudio-more-wrap{
    @include display();
    @include align-items(center);
    .lastudio-more{
      text-transform: none;
      margin: 0;
      width: 150px;
      padding: 15px;
    }
    &:after{
      content: '';
      border-top: 1px solid #D8D8D8;
      display: inline-block;
      width: 80%;
      margin-left: 25px;
    }
  }
}

/*
  $PRESET_POST_LIST_02
*/
.lastudio-posts--list.preset-list-2{
  .post-thumbnail{
    margin-bottom: 20px;
  }
  .lastudio-posts__inner-content {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/*
  $PRESET_POST_LIST_03
*/
.lastudio-posts--list.preset-list-3{
  .post-thumbnail{
    margin-bottom: 0;
  }
  .entry-excerpt,
  .lastudio-more-wrap{
    display: none;
  }
  .lastudio-posts__inner-box{
    position: relative;
  }
  .loop__item{
    &.has-post-thumbnail{
      img{
        min-height: 300px;
        object-fit: cover;
      }
      a:hover{
        color: inherit;
        text-decoration: underline;
      }
      .lastudio-posts__inner-content{
        position: absolute;
        bottom: 0;
        padding: 30px 50px 20px;
        color: #fff;
        width: 100%;
        left: 0;
        &:before{
          content: '';
          opacity: .7;
          background-image: linear-gradient(270deg, transparent 24%, #000000 100%);
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
        }
        > div,
        .entry-title{
          position: relative;
        }
      }
      .post-terms,
      .entry-title{
        color: inherit;
      }
      .post-terms,
      .entry-header,
      .post-meta{
        position: relative;
        z-index: 1;
      }
      .entry-title{
        width: 600px;
        max-width: 100%;
      }
    }
  }

}

/*
  $PRESET_POST_LIST_04
*/
.lastudio-posts--list.preset-list-4{
  .lastudio-posts__inner-box{
    @include display();
  }
  .post-thumbnail{
    width: 50%;
    padding-right: 25px;
    img{
      min-height: 100%;
      object-fit: cover;
    }
    + .lastudio-posts__inner-content{
      width: 50%;
      padding-left: 25px;
    }
  }
}

/**
  $BLOG ELEMENTS VISIBLE
 */
#blog-entries{
  &.preset-grid-7,
  &.preset-grid-5,
  &.preset-grid-4,
  &.preset-grid-3,
  &.preset-grid-1{
    .entry-excerpt{
      display: none;
    }
  }
  &.preset-grid-6,
  &.preset-grid-5{
    .lastudio-more-wrap{
      display: none;
    }
  }
}

@media(max-width: 960px){
  .lastudio-posts--list.preset-list-4 .post-thumbnail {
    padding-right: 15px;
    + .lastudio-posts__inner-content {
      padding-left: 15px;
    }
  }
  .lastudio-posts--list .entry-excerpt{
    margin-bottom: 10px;
  }
}

@media(max-width: 767px){
  .lastudio-posts--list.preset-list-4{
    .lastudio-posts__inner-box{
      flex-direction: column;
    }
    .post-thumbnail,
    .lastudio-posts__inner-content{
      width: 100% !important;
      padding: 0 !important;
    }
  }
}


.lastudio-posts.blog__entries .post-thumbnail .blog_item--thumbnail.format-gallery {
  padding-bottom: 0;
}
.lastudio-posts.blog__entries .post-thumbnail .blog_item--thumbnail .slick-slide {
  position: relative;
  display: block;
}
.lastudio-posts.blog__entries .post-thumbnail .blog_item--thumbnail .slick-slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lastudio-posts .post-thumbnail.single_post_quote_wrap{
  .blog_item--thumbnail {
    position: relative;
    background: #4241FF;
    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      object-fit: cover;
    }
    .quote-wrapper{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      text-align: center;
      @include display;
      @include justify-content(center);
      @include align-items(center)
    }
  }
  .format-content{
    padding: 30px;
    width: 100%;
  }
  .quote-content{
    font-size: 20px;
    font-family: "Alegreya", sans-serif;
    width: 470px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .quote-author{
    font-size: 14px;
    font-weight: bold;
    &:before{
      content: '';
      width: 50px;
      border-top: 2px solid;
      display: block;
      margin: 0 auto 15px;
    }
  }
}

.lastudio-posts .post_format-post-format-audio .post-thumbnail .blog_item--thumbnail.format-embed{
  background-color: #212121;
  position: relative;
  .la-media-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    @include display;
    @include justify-content(center);
    @include align-items(center)
  }
}

.lastudio-posts__item.format-video .post-thumbnail{
  position: relative;
  .pf-icon-video{
    position: absolute;
    width: 66px;
    height: 66px;
    background: #fff;
    line-height: 66px;
    font-family: 'LaStudioIcons';
    font-size: 20px;
    text-align: center;
    border-radius: 40px;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before {
      content: "\ea45";
    }
  }
}

@media(max-width: 1200px){
  .lastudio-posts--grid.grid-items{
    .post-thumbnail.single_post_quote_wrap .blog_item--thumbnail .quote-wrapper {
      display: none;
    }
  }
  .lastudio-posts.preset-grid-6 .loop__item .lastudio-posts__inner-content,
  .lastudio-posts.preset-grid-5 .loop__item.has-post-thumbnail .lastudio-posts__inner-content{
    padding: 25px;
  }
}

@media(max-width: 900px){
  .lastudio-posts .post-thumbnail.single_post_quote_wrap .blog_item--thumbnail .quote-wrapper {
    display: none;
  }
  .lastudio-posts--list.preset-list-2 .lastudio-posts__inner-content{
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media(max-width: 767px){
  .lastudio-posts--list.preset-list-2 .lastudio-posts__inner-content{
    padding-left: 0;
    padding-right: 0;
  }
}