.elementor-lastudio-banner {
	&:after {
		clear: both;
		width: 100%;
		display: block;
		content: '';
	}
}
.lastudio-banner {
	position: relative;
	overflow: hidden;
	float: left;
	max-width: 100%;
	background-size: cover;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	* {
		box-sizing: border-box;
	}
	&__content {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		text-align: center;
	}
	&__content-wrap {
		display: flex;
		flex-flow: column;
	}
	.lastudio-banner__title,
	.lastudio-banner__text {
		margin: 0;
		padding: 0;
	}
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
		background: #000;
		-webkit-backface-visibility: hidden;
		-webkit-transform: translate3d(0,0,0);
		transition: opacity 0.35s;
	}
	&__img {
		display: block;
		width: 100%;
	}
	&:hover {
		.lastudio-banner__overlay {
			opacity: .2;
		}
	}

	&.lastudio-effect-none {
		.lastudio-banner__content {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.lastudio-banner__img {
			transition: opacity 0.35s, transform 0.35s;
		}
		.lastudio-banner__button {
			order: 3;
		}
		&:hover{
			.lastudio-banner__img {
				@include scale(1.05);
			}
		}
	}
	&.lastudio-effect-lily {
		.lastudio-banner__img {
			max-width: none;
			width: 100%;
			transition: transform 0.35s;
			transform: translate3d(0px,0,0);
		}
		.lastudio-banner__content {
			text-align: left;
		}
		.lastudio-banner__content-wrap {
			position: absolute;
			top: 0;
			left: 0;
			padding: 2em;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
		.lastudio-banner__title,
		.lastudio-banner__text {
			transform: translate3d(0,80px,0);
		}
		.lastudio-banner__title {
			transition: transform 0.35s;
		}

		.lastudio-banner__text {
			color: rgba(255,255,255,0.8);
			opacity: 1;
			transition: opacity 0.2s, transform 0.35s;
		}
		&:hover {
			.lastudio-banner__text {
				opacity: 1;
			}

			.lastudio-banner__img{
				@include scale(1.1);

			}
			.lastudio-banner__title,
			.lastudio-banner__text {
				transform: translate3d(0,50px,0);
			}

			.lastudio-banner__text {
				transition-delay: 0.05s;
				transition-duration: 0.35s;
			}
		}
	}

	&.lastudio-effect-sadie {

		.lastudio-banner__title {
			position: absolute;
			top: 80%;
			left: 0;
			width: 100%;
			@include opacity(0);
			-webkit-transition: -webkit-transform 0.35s, color 0.35s;
			transition: transform 0.35s, color 0.35s;
			-webkit-transform: translate3d(0,-80%,0);
			transform: translate3d(0,-80%,0);
		}

		.lastudio-banner__text {
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
		}

		.lastudio-banner__text {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 2em;
			width: 100%;
			opacity: 0;
			-webkit-transform: translate3d(0,10px,0);
			transform: translate3d(0,10px,0);
		}

		&:hover {
			cursor: pointer;
			.lastudio-banner__title {
				@include opacity(1);
				top: 50%;
				-webkit-transition: -webkit-transform 0.35s, color 0.35s;
				transition: transform 0.35s, color 0.35s;
				-webkit-transform: translate3d(0,-50%,0);
				transform: translate3d(0,-50%,0);
			}

			.lastudio-banner__text {
				opacity: 1;
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}
		}
	}

	&.lastudio-effect-layla {
		.lastudio-banner__content {
			padding: 3em;
		}

		.lastudio-banner__content::before,
		.lastudio-banner__content::after {
			position: absolute;
			content: '';
			opacity: 0;
			z-index: 2;
		}

		.lastudio-banner__content::before {
			top: 40px;
			right: 20px;
			bottom: 40px;
			left: 20px;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			transform: scale(0,1);
			transform-origin: 0 0;
		}

		.lastudio-banner__content::after {
			top: 20px;
			right: 40px;
			bottom: 20px;
			left: 40px;
			border-right: 1px solid #fff;
			border-left: 1px solid #fff;
			transform: scale(1,0);
			transform-origin: 100% 0;
		}

		.lastudio-banner__title {
			padding-top: 26%;
			transition: transform 0.35s;
		}

		.lastudio-banner__text {
			padding: 0.5em 2em;
			text-transform: none;
			opacity: 0;
			transform: translate3d(0,-10px,0);
		}

		.lastudio-banner__title {
			transform: translate3d(0,-30px,0);
		}

		.lastudio-banner__content::before,
		.lastudio-banner__content::after,
		.lastudio-banner__text {
			transition: opacity 0.35s, transform 0.35s;
		}

		&:hover {
			.lastudio-banner__content::before,
			.lastudio-banner__content::after {
				opacity: 1;
				transform: scale(1);
			}

			.lastudio-banner__title,
			.lastudio-banner__text {
				opacity: 1;
				transform: translate3d(0,0,0);
			}

			.lastudio-banner__content::after,
			.lastudio-banner__title,
			.lastudio-banner__text {
				transition-delay: 0.15s;
			}
		}
	}

	&.lastudio-effect-oscar {

		.lastudio-banner__content {
			padding: 3em;
		}

		.lastudio-banner__content::before {
			position: absolute;
			top: 30px;
			right: 30px;
			bottom: 30px;
			left: 30px;
			border: 1px solid #fff;
			content: '';
		}

		.lastudio-banner__title {
			margin: 20% 0 10px 0;
			transition: transform 0.35s;
			transform: translate3d(0,100%,0);
		}

		.lastudio-banner__content::before,
		.lastudio-banner__text {
			opacity: 0;
			transition: opacity 0.35s, transform 0.35s;
			transform: scale(0);
		}

		&:hover {
			.lastudio-banner__title {
				transform: translate3d(0,0,0);
			}

			.lastudio-banner__content::before,
			.lastudio-banner__text {
				opacity: 1;
				transform: scale(1);
			}

		}
	}

	&.lastudio-effect-marley {

		.lastudio-banner__content {
			text-align: right;
		}

		.lastudio-banner__title,
		.lastudio-banner__text {
			position: absolute;
			right: 0px;
			left: 0px;
			padding: 25px 0;
		}

		.lastudio-banner__title{
			background-color: rgba(0,0,0,0.5);
			@include opacity(0);
			&:after{
				display: none;
			}
		}
		.lastudio-banner__title,
		.lastudio-banner__text {
			bottom: 65px;
			top: auto;
			transform: translate3d(0,100%,0);
		}

		.lastudio-banner__text {
			@include opacity(0);
			padding: 0;
			transition: opacity 0.35s, transform 0.35s;
		}
		.lastudio-banner__img{
			transition: opacity 0.35s, transform 0.35s;
		}

		&:hover {
			cursor: pointer;
			.lastudio-banner__title{
				transform: translate3d(0,91%,0);
				@include opacity(1);
			}
			.lastudio-banner__text {
				@include opacity(1);
				transform: translate3d(0,95%,0);
			}
			.lastudio-banner__img{
				@include scale(1.05);
			}
		}
	}

	&.lastudio-effect-ruby {

		.lastudio-banner__content {
			padding: 2em;
		}

		.lastudio-banner__img {
			transition: transform 0.35s;
			transform: scale(1.15);
		}

		.lastudio-banner__title {
			margin-top: 20%;
			-webkit-transition: -webkit-transform 0.35s;
			transition: transform 0.35s;
			-webkit-transform: translate3d(0,20px,0);
			transform: translate3d(0,20px,0);
		}

		.lastudio-banner__text {
			margin: 1em 0 0;
			padding: 1.5em;
			border: 1px solid #fff;
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-transform: translate3d(0,20px,0) scale(1.1);
			transform: translate3d(0,20px,0) scale(1.1);
		}

		&:hover {
			.lastudio-banner__img {
				transform: scale(1);
			}

			.lastudio-banner__title {
				transform: translate3d(0,0,0);
			}

			.lastudio-banner__text {
				opacity: 1;
				transform: translate3d(0,0,0) scale(1);
			}
		}
	}

	&.lastudio-effect-roxy {

		.lastudio-banner__img {
			max-width: none;
			width: -webkit-calc(100% + 60px);
			width: calc(100% + 60px);
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-transform: translate3d(-50px,0,0);
			transform: translate3d(-50px,0,0);
		}

		.lastudio-banner__content::before {
			position: absolute;
			top: 30px;
			right: 30px;
			bottom: 30px;
			left: 30px;
			border: 1px solid #fff;
			content: '';
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-transform: translate3d(-20px,0,0);
			transform: translate3d(-20px,0,0);
		}

		.lastudio-banner__content {
			padding: 3em;
			text-align: left;
		}

		.lastudio-banner__title {
			padding: 30% 0 10px 0;
		}

		.lastudio-banner__text {
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-transform: translate3d(-10px,0,0);
			transform: translate3d(-10px,0,0);
		}

		&:hover {

			.lastudio-banner__img {
				transform: translate3d(0,0,0);
			}

			.lastudio-banner__content::before,
			.lastudio-banner__text {
				opacity: 1;
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}

		}
	}

	&.lastudio-effect-bubba {

		.lastudio-banner__content::before,
		.lastudio-banner__content::after {
			position: absolute;
			top: 30px;
			right: 30px;
			bottom: 30px;
			left: 30px;
			content: '';
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
		}

		.lastudio-banner__content::before {
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			-webkit-transform: scale(0,1);
			transform: scale(0,1);
		}

		.lastudio-banner__content::after {
			border-right: 1px solid #fff;
			border-left: 1px solid #fff;
			-webkit-transform: scale(1,0);
			transform: scale(1,0);
		}

		.lastudio-banner__title {
			padding-top: 30%;
			-webkit-transition: -webkit-transform 0.35s;
			transition: transform 0.35s;
			-webkit-transform: translate3d(0,-20px,0);
			transform: translate3d(0,-20px,0);
		}

		.lastudio-banner__text {
			padding: 20px 2.5em;
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-transform: translate3d(0,20px,0);
			transform: translate3d(0,20px,0);
		}

		&:hover {
			.lastudio-banner__content::before,
			.lastudio-banner__content::after {
				opacity: 1;
				-webkit-transform: scale(1);
				transform: scale(1);
			}

			.lastudio-banner__title,
			.lastudio-banner__text {
				opacity: 1;
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}
		}
	}

	&.lastudio-effect-romeo {

		-webkit-perspective: 1000px;
		perspective: 1000px;

		.lastudio-banner__img {
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-transform: translate3d(0,0,300px);
			transform: translate3d(0,0,300px);
		}

		.lastudio-banner__content::before,
		.lastudio-banner__content::after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 80%;
			height: 1px;
			background: #fff;
			content: '';
			transition: opacity 0.35s, transform 0.35s;
			transform: translate3d(-50%,-50%,0);
		}

		.lastudio-banner__title,
		.lastudio-banner__text {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			transition: transform 0.35s;
		}

		.lastudio-banner__title {
			transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
		}

		.lastudio-banner__text {
			padding: 0.25em 2em;
			transform: translate3d(0,-50%,0) translate3d(0,150%,0);
		}

		&:hover {

			.lastudio-banner__content::before {
				opacity: 0.5;
				transform: translate3d(-50%,-50%,0) rotate(45deg);
			}

			.lastudio-banner__content::after {
				opacity: 0.5;
				transform: translate3d(-50%,-50%,0) rotate(-45deg);
			}

			.lastudio-banner__img {
				opacity: 0.6;
				transform: translate3d(0,0,0);
			}

			.lastudio-banner__title {
				transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
			}

			.lastudio-banner__text {
				transform: translate3d(0,-50%,0) translate3d(0,100%,0);
			}

		}
	}

	&.lastudio-effect-sarah {

		.lastudio-banner__img {
			max-width: none;
			width: -webkit-calc(100% + 20px);
			width: calc(100% + 20px);
			transition: opacity 0.35s, transform 0.35s;
			transform: translate3d(-10px,0,0);
			backface-visibility: hidden;
		}

		.lastudio-banner__img {
			transform: translate3d(0,0,0);
		}

		.lastudio-banner__content {
			text-align: left;
			padding: 2em;
		}

		.lastudio-banner__title {
			position: relative;
			overflow: hidden;
			padding: 0.5em 0;
		}

		.lastudio-banner__title::after {
			display: none;
		}

		.lastudio-banner__text {
			padding: 1em 0;
			opacity: 0;
			transition: opacity 0.35s, transform 0.35s;
			transform: translate3d(100%,0,0);
		}

		&:hover {
			.lastudio-banner__title::after {
				transform: translate3d(0,0,0);
			}

			.lastudio-banner__text {
				opacity: 1;
				transform: translate3d(0,0,0);
			}
		}
	}

	&.lastudio-effect-chico {
		.lastudio-banner__img {
			transition: transform 0.35s;
			transform: scale(1.12);
		}

		.lastudio-banner__content {
			padding: 3em;
		}

		.lastudio-banner__content::before {
			position: absolute;
			top: 30px;
			right: 30px;
			bottom: 30px;
			left: 30px;
			border: 1px solid #fff;
			content: '';
			-webkit-transform: scale(1.1);
		}

		.lastudio-banner__content::before,
		.lastudio-banner__text {
			opacity: 0;
			transition: opacity 0.35s, transform 0.35s;
		}

		.lastudio-banner__title {
			padding: 20% 0 20px 0;
		}

		.lastudio-banner__text {
			margin: 0 auto;
			max-width: 70%;
			transform: scale(1.5);
		}

		&:hover {
			.lastudio-banner__img {
				transform: scale(1);
			}

			.lastudio-banner__content::before,
			.lastudio-banner__text {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
}
