.lastudio-services {
	.lastudio-services__icon {
		color: white;
		font-size: 40px;
		text-align: center;
		margin: 10px 0;
		.inner {
			width: 80px;
			height: 80px;
			background-color: #f4769a;
			border-radius: 50%;

			i {
				color: white;
				font-size: 40px;
			}
		}
	}

	.lastudio-services__title {
		font-size: 20px;
		color: black;
	}

	.lastudio-services__desc {
		text-align: center;
		font-size: 16px;
	}
}
