.brands-list {
	.brands-list__item {
		&-name {
			margin: 20px 0 0 0;
		}
		&-img {
			display: inline-block;
		}
	}
}

.partner-logos{
	.lastudio-carousel__item {
		filter: grayscale(100);
		-webkit-filter: grayscale(100);
		opacity: 0.7;
		transition: all 250ms ease-out;
		&:hover {
			filter: grayscale(0);
			-webkit-filter: grayscale(0);
		}
		.lastudio-carousel__image img{
			transform: none !important;
		}
	}
	.slick-track{
		@include display();
		@include flex-wrap(wrap);
		@include align-items(center);
		&:before,
		&:after{
			display: none;
		}
	}
}
.partner-logos2{
	.lastudio-carousel__item-inner:hover{
		.lastudio-carousel__image img{
			transform: none !important;
		}
	}
	.slick-track{
		@include display();
		@include flex-wrap(wrap);
		@include align-items(center);
		&:before,
		&:after{
			display: none;
		}
	}
}

@media(max-width: 900px){
	.partner-logos .lastudio-carousel__item .lastudio-carousel__image img{
		max-height: 70px;
	}
}