.pricing-table__price-val sup {
  font-size: 16px;
  vertical-align: super;
}
.pricing-table {
  text-align: center;
  padding: 30px;

  &__icon-box {
    > * {
      &:before {
        font-size: 40px;
      }
    }
  }
  .pricing-table__title {
    margin: 0;
    padding: 0;
  }
  .pricing-table__subtitle {
    margin: 10px 0 0 0;
    padding: 0;
  }
  &__price {
    padding: 15px 0;
    &-prefix,
    &-val {
      font-size: 23px;
    }
    &-desc {
      padding: 0;
      margin: 5px 0 0;
    }
  }
  &__action {
    padding: 20px 0 0 0;
  }
}

.elementor-widget-lastudio-pricing-table{
  &.table-preset-03{
    .pricing-table{
      @include display();
      @include flex-direction(column);
    }
    .pricing-table__heading{
      order: 1;
      -webkit-order: 1;
      @include display();
      @include flex-direction(column);
      .pricing-table__title{
        order: 1;
        -webkit-order: 1;
      }
      .pricing-table__icon{
        order: 2;
        -webkit-order: 2;
      }
      .pricing-table__subtitle{
        order: 3;
        -webkit-order: 3;
      }
    }
    .pricing-table__features{
      order: 2;
      -webkit-order: 2;
    }
    .pricing-table__price{
      order: 3;
      -webkit-order: 3;
    }
    .pricing-table__action{
      order: 4;
      -webkit-order: 4;
    }
  }
}