.lastudio-subscribe-form {
	.subscribe-form--with-icon & {
		position: relative;
		.lastudio-subscribe-form__fields{
			padding-left: 30px;
			&:before {
				content: "\ea02";
				font-family: 'LaStudioIcons';
				position: absolute;
				left: 0;
				top: 50%;
				font-size: 24px;
				line-height: 20px;
				margin-top: -10px;
				speak: none;
				text-transform: none;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}
	.lastudio-subscribe-form__input {
		padding: 13px 20px;
		margin: 5px 0;
		border: none;
		&.mail-invalid {
			color: #d9534f;
		}

		&:focus {
			outline: none;
		}

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.lastudio-subscribe-form__submit {
		background-color: #6ec1e4;
	}

	.lastudio-subscribe-form__submit-icon {
		font-size: 15px;
		margin-right: 10px;
	}
}

.lastudio-subscribe-form--inline-layout {
	.lastudio-subscribe-form__submit {
		margin-left: 10px;
	}
}

.lastudio-subscribe-form--block-layout {
	.lastudio-subscribe-form__submit {
		margin-top: 10px;
	}
}

.lastudio-subscribe-form--response-success {
	.lastudio-subscribe-form__message {
		color: #5cb85c;
	}
}

.lastudio-subscribe-form--response-error {
	.lastudio-subscribe-form__message {
		color: #d9534f;
	}
}

