.lastudio-headline {
	margin: 0;
}
.lastudio-headline__first {
	.lastudio-headline__deco {
		margin-right: 10px;
	}
}

.lastudio-headline__second {
	.lastudio-headline__deco {
		margin-left: 10px;
	}
}

.lastudio-headline__divider {
	height: 2px;
	background-color: #7a7a7a;
}

.lastudio-headline__deco-icon {
	i {
		font-size: 30px;
		color: #54595f;
	}
}

.lastudio-headline--direction-horizontal {
	.lastudio-headline__divider {
		&.lastudio-headline__left-divider {
			margin-right: 10px;
		}

		&.lastudio-headline__right-divider {
			margin-left: 10px;
		}
	}
}

.elementor-widget-heading{
	.elementor-heading-title{
		.elementor & {
			line-height: 1.2;
		}
	}
	div.elementor-heading-title{
		line-height: 1;
	}
}
.elementor-widget:not(:last-child){
	margin-bottom: 0;
}