.la-isotope-container{
  &:not(.loaded){
    .loop__item {
      opacity: 0;
    }
  }
  .loop__item:not(.showmenow) {
    opacity: 0;
  }
  &[data-la_component="AdvancedMasonry"]{
    .lastudio-portfolio__inner{
      @include display();
      @include flex-direction(column);
    }
    .lastudio-portfolio__image,
    .lastudio-images-layout__link{
      height: 100%;
    }
    .lastudio-portfolio__image_wrap{
      @include display();
      @include flex();
      .figure__object_fit{
        img{
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.active-object-fit{
  .figure__object_fit{
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.visible-status .lastudio-portfolio__image-instance {
  visibility: inherit;
}

.lastudio-portfolio__item{
  width:100%;
}

.lastudio-portfolio__inner {
  overflow: hidden;
}

.lastudio-portfolio__divider{
  line-height: 0;
  font-size: 0;
  width: 100%;
  span{
    display: inline-block;
  }
}

.lastudio-portfolio__image {
  &:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    background-color: rgba( $primary-color, 0.9);
    transition: all .4s;
  }
  .lastudio-portfolio__item:hover &{
    &:after{
      opacity: 1;
    }
  }
}

.lastudio-portfolio__content-inner2 {
  display: flex;
  flex-flow: column wrap;
  @include justify-content(center);
  @include align-items(center);
}

/*
  $PRESET_PORTFOLIO_LIST_01
*/
.lastudio-portfolio{
  &.preset-list-type-1{

    .lastudio-portfolio{
      &__icons{
        display: none;
      }
      &__list{
        &.lastudio-carousel{
          .lastudio-images-layout__link{
            opacity: 0;
            transition: all .7s;
          }
          .lastudio-portfolio__content-inner2 > * {
            opacity: 0;
            transition: all .4s ease-in-out .2s;
            transform: translateY(20px);
            -webkit-transform: translateY(20px);
          }
          .lastudio-portfolio__item{
            &.slick-active{
              .lastudio-images-layout__link{
                opacity: 1;
              }
              .lastudio-portfolio__content-inner2 > * {
                opacity: 1;
                transform: translateY(0);
                -webkit-transform: translateY(0);
              }
              .lastudio-portfolio__desc{
                transition-delay: .3s;
              }
              .lastudio-portfolio__button{
                transition-delay: .5s;
              }
            }
          }
        }
      }
      &__content-inner{
        @include display();
        @include justify-content(center);
        @include align-items(center);
        height: 100%;
        background-color: #0A0A0D;
      }
      &__content-inner2{
        width: 520px;
        max-width: 90%;
      }
      &__item{
        transition: none !important;
      }
      &__inner{
        @include display();
        @include flex-wrap(wrap);
        @include flex-direction(row-reverse);
      }
      &__image{
        &:after{
          opacity: 0;
        }
      }
      &__image_wrap{
        @include flex(0 0 64.85%);
        max-width: 64.85%;
        position: relative;
      }
      &__content{
        @include flex(0 0 35.15%);
        max-width: 35.15%;
      }
      &__desc,
      &__category,
      &__title{
        color: #fff;
      }
      &__category{
        -webkit-order: -1;
        order: -1;
        &:after{
          content: '';
          width: 40px;
          border-top: 2px solid;
          display: block;
          margin: 15px auto 0;
        }
      }
    }
  }
}

/*
  $PRESET_PORTFOLIO_LIST_02
*/
.preset-list-type-2{
  &.lastudio-portfolio{
    .lastudio-images-layout__link{
      position: relative;
      overflow: hidden;
    }
    .lastudio-portfolio{
      &__image{
        transition: all 0.3s ease;
        &:after{
          background-color: rgba(#212121, .3);
        }
      }
      &__icons{
        display: none;
      }
      &__content{
        text-align: left;
      }
      &__inner{
        @include display();
        @include justify-content(space-between);
      }
      &__image_wrap{
        width: 54%;
        overflow: hidden;
        &:hover{
          .lastudio-portfolio__image{
            @include scale(1.2);
          }
        }
      }
      &__content{
        width: 40%;
      }
      &__title{
        font-size: 24px;
        margin-bottom: 10px;
      }
      &__button{
        margin-right: auto;
        padding: 0;
        background: none;
        color: inherit;
        font-size: 60px;
      }
      &__item{
        &:nth-child(2n){
          .lastudio-portfolio__inner{
            @include flex-direction(row-reverse)
          }
        }
      }
    }
  }
}

/*
  $PRESET_PORTFOLIO_LIST_04
*/
.preset-list-type-4{
  &.lastudio-portfolio{
    .lastudio-portfolio{
      &__image{
        &:after{
          background-color: rgba(#212121, .3);
        }
      }
      &__icons{
        display: none;
      }
      &__content{
        text-align: left;
        padding-top: 20px;
      }
      &__content-inner2{
        @include align-items(flex-start);
      }
      &__image_wrap{
        overflow: hidden;
      }
      &__title{
        font-size: 30px;
        margin-bottom: 10px;
        width: 570px;
        max-width: 80%;
        margin-top: -50px;
      }
      &__desc{
        width: 570px;
        max-width: 80%;
      }
      &__button{
        margin-left: auto !important;
        order: -1;
      }
      &__item{
        &:hover{
          .lastudio-images-layout__link{
            @include scale(1.2);
          }
        }
      }
    }
  }
}

/*
  $PORTFOLIO_PRESET_GRID_DEFAULT
*/
.playout-grid{
  .lastudio-portfolio{
    &__inner{
      &:hover{
        .lastudio-portfolio__icons{
          opacity: 1;
          visibility: visible;
          margin-top: 0;
        }
      }
    }
    &__image_wrap{
      position: relative;
      width: 100%;
      display: block;
    }
    &__icons {
      position: absolute;
      top: 50%;
      z-index: 3;
      left: 50%;
      visibility: hidden;
      opacity: 0;
      margin-top: 30px;
      transition: all .4s;
      @include translate2d(-50%, -50%);
      @include display;
      a{
        width: 50px;
        height: 50px;
        line-height: 50px;
        background: #fff;
        color: #111111;
        display: inline-block;
        margin: 10px;
        border-radius: 50%;
        text-align: center;
        font-size: 20px;
        &:hover{
          @include scale(1.2);
        }
        i{
          display: inline-block;
          vertical-align: middle;
          margin-top: -.2em;
        }
      }
    }
  }
}

/*
  $PORTFOLIO_PRESET_GRID_01
*/
.playout-grid.preset-type-1 {
  .lastudio-portfolio {
    &__content-inner2{
      display: block;
    }
  }
}
/*
  $PORTFOLIO_PRESET_GRID_02
*/

.playout-grid.preset-type-2 {
  .lastudio-portfolio {
    &__item{
      &:hover{
        .lastudio-portfolio__content{
          opacity: 1;
          visibility: visible;
          bottom: 0;
        }
      }
    }
    &__image{
      &:after{
        display: none;
      }
    }
    &__inner{
      overflow: hidden;
    }
    &__content{
      position: absolute;
      bottom: -50px;
      left: 0;
      background: #212121;
      color: #fff;
      z-index: 2;
      text-align: left;
      padding: 30px;
      transition: all .6s;
      visibility: hidden;
      opacity: 0;
    }
    &__title{
      color: inherit;
      margin-bottom: 5px;
      font-size: 20px;
      a{
        color: inherit;
      }
    }
    &__category{
      margin-bottom: 0;

    }
    &__button,
    &__desc{
      display: none;
    }
  }
}

/*
  $PORTFOLIO_PRESET_GRID_03
*/

.playout-grid.preset-type-3 {
  .lastudio-portfolio {
    &__item{
      &:hover{

      }
    }
    &__image{
      &:after{
        background-color: rgba(#212121, .3);
      }
    }
    &__inner{
      overflow: hidden;
    }
    &__content{
      background: #fff;
      padding: 30px;
    }
    &__title{
      font-size: 20px;
      margin-bottom: 10px;
      a{
        color: inherit;
      }
    }
    &__category{
      margin-bottom: 5px;
    }
  }
}

/*
  $PORTFOLIO_PRESET_GRID_04
*/

.playout-grid.preset-type-4 {
  .lastudio-portfolio {
    &__icons{
      display: none;
    }
    &__item{
      &:hover{
        .lastudio-portfolio__content{
          visibility: visible;
          opacity: 1;
          @include translateY(0);
        }
      }
    }
    &__image{
      &:after{
        background-color: rgba(#212121, .3);
      }
    }
    &__inner{
      overflow: hidden;
    }
    &__content{
      width: auto;
      background: rgba(#212121, .9);
      position: absolute;
      left: 30px;
      top: 30px;
      right: 30px;
      bottom: 30px;
      z-index: 2;
      color: #fff;
      padding: 30px;
      visibility: hidden;
      opacity: 0;
      transition: all .4s;
      @include translateY(30px);
    }
    &__content-inner2{
      text-align: left;
      @include align-items(flex-start);
    }
    &__title{
      font-size: 20px;
      margin-bottom: 10px;
      color: #fff;
      a{
        color: inherit;
      }
    }
    &__category{
      margin-bottom: 5px;
    }
    &__button{
      background-color: #fff;
      color: $color-2;
      &:hover{
        background-color: $primary-color;
        color: #fff;
      }
    }
    &__desc{
      @media(max-width: 1500px){
        max-height: 3.6em;
        overflow: hidden;
      }
    }
  }
}

/*
  $PORTFOLIO_PRESET_GRID_05
*/
.playout-grid.preset-type-5 {
  .lastudio-portfolio {
    &__item{
      &:hover{
        .lastudio-portfolio__content-inner2{
          visibility: visible;
          opacity: 1;
        }
      }
    }
    &__icons{
      position: static;
      width: 100%;
      @include display();
      @include transform(none);
      @include justify-content(center);
      a{
        float: none;
      }
    }
    &__content {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      padding: 30px;
    }
    &__content-inner{
      color: #fff;
      @include display();
      @include flex-direction(column);
    }
    &__content-inner2{
      opacity: 0;
      visibility: hidden;
      transition: all .4s;
    }
    &__title{
      color: inherit;
      a:hover{
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}

/*
  $PORTFOLIO_PRESET_GRID_06
*/
.playout-grid.preset-type-6 {
  .lastudio-portfolio {
    &__content{
      padding: 30px;
      text-align: left;
      border: 1px solid rgba(#C3C3C3,.5);
      background: #fff;
      border-top-width: 0;
    }
    &__content-inner2{
      padding-right: 60px;
      position: relative;
      min-height: 60px;
    }
    &__button{
      padding: 0;
      font-size: 50px;
      background: none;
      position: absolute;
      right: 0;
      margin-top: -.1em;
      color: #C8C8C8;
      &:before{
        content: "\ea54";
        @include lastudio-icon();
        vertical-align: top;
        font-weight: bold;
      }
      span{
        display: none;
      }
    }
    &__title{
      font-size: 20px;
      margin-bottom: 10px;
    }
    &__category{
      margin-bottom: 0;
      font-size: 16px;
      font-style: italic;
    }
    &__item{
      &:hover{
        .lastudio-portfolio__button{
          color: $primary-color;
        }
      }
    }
  }
}

/*
  $PORTFOLIO_PRESET_GRID_07
*/
.playout-grid.preset-type-7 {
  .lastudio-portfolio {
    &__content{
      padding: 30px 30px 10px;
      text-align: left;
      background: #fff;
      width: auto;
      position: absolute;
      left: 50px;
      right: 50px;
      bottom: 0;
      z-index: 2;
    }
    &__content-inner2{
      padding-right: 60px;
      position: relative;
      min-height: 60px;
    }
    &__button{
      padding: 0;
      font-size: 50px;
      background: none;
      position: absolute;
      right: 0;
      margin-top: -.1em;
      color: #C8C8C8;
      &:before{
        content: "\ea54";
        @include lastudio-icon();
        vertical-align: top;
        font-weight: bold;
      }
      span{
        display: none;
      }
    }
    &__title{
      font-size: 20px;
      margin-bottom: 10px;
    }
    &__category{
      margin-bottom: 0;
      font-size: 16px;
      font-style: italic;
    }
    &__item{
      &:hover{
        .lastudio-portfolio__button{
          color: $primary-color;
        }
      }
    }
  }
}


@media(max-width: 1200px){
  .lastudio-portfolio.preset-list-type-1{
    .lastudio-portfolio__image_wrap{
      flex: 0 0 50%;
      max-width: 50%;
    }
    .lastudio-portfolio__content{
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  .playout-grid.preset-type-7 .lastudio-portfolio__content{
    left: 30px;
    right: 30px;
    padding: 20px 20px 10px;
  }
  .playout-grid.preset-type-7 .lastudio-portfolio__content-inner2{
    padding-right: 0;
  }
  .playout-grid.preset-type-7 .lastudio-portfolio__button{
    display: none;
  }
  .playout-grid.preset-type-7 .lastudio-portfolio__title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .playout-grid.preset-type-7 .lastudio-portfolio__category{
    font-size: 14px;
  }
}

@media(max-width: 767px){
  .lastudio-portfolio.preset-list-type-1{
    .lastudio-portfolio__content,
    .lastudio-portfolio__image_wrap{
      flex: 0 0 100%;
      max-width: 100%;
    }
    .lastudio-portfolio__content-inner{
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  .preset-list-type-2.lastudio-portfolio{
    .lastudio-portfolio__item:nth-child(2n) .lastudio-portfolio__inner,
    .lastudio-portfolio__inner{
      flex-direction: column;
    }
    .lastudio-portfolio__content,
    .lastudio-portfolio__image_wrap{
      width: 100%;
    }
    .lastudio-portfolio__image_wrap{
      margin-bottom: 20px;
    }
  }
}