.lastudio-button__icon {
	color: white;
	width: 25px;
	height: 25px;
	font-size: 25px;
	margin: 3px;
}

.lastudio-button__label {
	color: white;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	text-align: left;
}

.lastudio-button__state {
	padding: 20px 40px;
	.button__size-large & {
		padding: 30px 65px;
	}
}

.lastudio-button__plane {
	&-normal {
		background-color: #6ec1e4;
	}

	&-hover {
		background-color: #54595f;
	}
}

.elementor-button{
	border-radius: 0;
	display: inline-block;
	text-align: center;
}
.elementor-widget-button{
	&.size-full{
		.elementor-button{
			width: 100%;
		}
	}
}