.lastudio-team-member .lastudio-team-member__cover{
  text-align: center;
  z-index: 2;
  bottom: 30px;
  opacity: 0;
  transition: all 0.4s 0.1s;
  @include translateY(20px)
}

.lastudio-team-member__image_wrap{
  position: relative;
  width: 100%;
}

.lastudio-team-member__item{
  .lastudio-images-layout__link{
    &:after{
      content: '';
      opacity: 0;
      background-color: $primary-color;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;
    }
  }
  &:hover{
    .lastudio-images-layout__link{
      &:after{
        opacity: 0.9;
      }
    }
    .lastudio-team-member__cover{
      opacity: 1;
      @include translateY(0);
    }
  }
}

.lastudio-team-member__socials{
  .item--social{
    a{
      width: 38px;
      height: 38px;
      line-height: 38px;
      font-size: 18px;
      padding: 0;
      border-radius: 50%;
      vertical-align: middle;
      margin: 5px;
      border: 1px solid rgba(#fff,.5);
      color: #fff;
      transition: all .3s;
      display: inline-block;
      text-align: center;
      &:hover{
        background-color: $primary-color;
        border-color: transparent;
        color: #fff;
      }
    }
  }
}

.lastudio-team-member__position{
  line-height: 1;
  font-size: 12px;
  margin-bottom: 20px;
}

.lastudio-team-member__content{
  padding-top: 20px;
  padding-bottom: 20px;
}

.lastudio-team-member__name {
  margin: 0 0 10px;
  font-size: 20px;
  a{
    color: inherit;
  }
}

.lastudio-team-member {
  .loop__item__thumbnail--bkg {
    background-size: cover;
    > img{
      opacity: 0;
      width: 100%;
    }
  }
}

/*
  $TEAM_MEMBER_PRESET_03
*/
.preset-type-3 {
  &.lastudio-team-member {
    .lastudio-images-layout__link{
      &:after{
        opacity: 0;
      }
    }
    .lastudio-team-member {
      &__image{
        filter: grayscale(100);
      }
      &__content{
        position: relative;
      }
      &__cover{
        display: none;
      }
      &__position{
        position: absolute;
        background-color: #4241FF;
        bottom: 100%;
        color: #fff;
        padding: 20px;
        margin: 0;
        left: -100px;
        white-space: pre;
        visibility: hidden;
        opacity: 0;
        transition: all .5s;
      }
      &__inner{
        overflow: hidden;
        &:hover{
          .lastudio-team-member__position{
            opacity: 1;
            visibility: visible;
            left: 0;
          }
          .lastudio-team-member__image{
            filter: grayscale(0);
          }
        }
      }
    }
  }
}

/*
  $TEAM_MEMBER_PRESET_04
*/
.preset-type-4{
  &.lastudio-team-member{
    .lastudio-team-member{
      &__item{
        &:hover{
          .lastudio-team-member__image{
            filter: grayscale(0);
          }
          .lastudio-images-layout__link{
            &:after{
              opacity: 0;
            }
          }
          .lastudio-team-member__content{
            &:before{
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              visibility: visible;
              opacity: 1;
            }
          }
          .lastudio-team-member{
            &__name,
            &__position,
            &__socials{
              opacity: 1;
              visibility: visible;
              @include translateY(0);
            }
            &__name{
              transition-delay: .2s;
            }
            &__position{
              transition-delay: .4s;
            }
            &__socials{
              transition-delay: .6s;
            }
          }
        }
      }
      &__name,
      &__position,
      &__socials{
        @include translateY(20px);
        transition: all .4s;
        visibility: hidden;
        opacity: 0;
      }
      &__inner{
        overflow: hidden;
      }
      &__image{
        filter: grayscale(100);
      }
      &__name{
        color: inherit;
      }
      &__position{
        margin-bottom: 20px;
      }
      &__content{
        position: absolute;
        height: 100%;
        left: 0;
        bottom: 0;
        z-index: 2;
        text-align: center;
        color: #fff;
        @include display();
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction(column);
        &:before{
          content: '';
          position: absolute;
          left: 20px;
          bottom: 20px;
          right: 20px;
          top: 20px;
          background-color: rgba(33, 33, 33, 0.5);
          transition: all .4s;
          z-index: -1;
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }
}

/*
  $TEAM_MEMBER_PRESET_05
*/
.preset-type-5{
  &.lastudio-team-member{
    .lastudio-team-member{
      &__item{
        &:hover{
          .lastudio-team-member__image{
            filter: grayscale(0);
          }
          .lastudio-images-layout__link{
            &:after{
              opacity: 0;
            }
          }
          .lastudio-team-member__content{
            &:before{
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              visibility: visible;
              opacity: 1;
            }
          }
          .lastudio-team-member{
            &__name,
            &__position,
            &__socials{
              opacity: 1;
              visibility: visible;
              @include translateY(0);
            }
            &__name{
              transition-delay: .2s;
            }
            &__position{
              transition-delay: .4s;
            }
            &__socials{
              transition-delay: .6s;
            }
          }
        }
      }
      &__name,
      &__position,
      &__socials{
        @include translateY(20px);
        transition: all .4s;
        visibility: hidden;
        opacity: 0;
      }
      &__inner{
        overflow: hidden;
      }
      &__image{
        filter: grayscale(100);
      }
      &__name{
        color: inherit;
      }
      &__position{
        margin-bottom: 20px;
      }
      &__content{
        position: absolute;
        height: 100%;
        left: 0;
        bottom: 0;
        z-index: 2;
        text-align: center;
        color: #fff;
        @include display();
        @include justify-content(flex-end);
        @include align-items(center);
        @include flex-direction(column);
        &:before{
          content: '';
          position: absolute;
          left: 20px;
          bottom: 20px;
          right: 20px;
          top: 20px;
          background-color: rgba(33, 33, 33, 0.5);
          transition: all .4s;
          z-index: -1;
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }
}

/*
  $TEAM_MEMBER_PRESET_06
*/
.preset-type-6{
  &.lastudio-team-member {
    .lastudio-images-layout__link{
      &:after{
        background-color: #212121;
      }
    }
    .lastudio-team-member {
      &__item {
        &:hover{
          .lastudio-images-layout__link{
            &:after{
              opacity: .4;
            }
          }
        }
      }
      &__position{
        &:after{
          content: '';
          display: block;
          width: 40px;
          border-bottom: 3px solid #999999;
          padding-top: 25px;
        }
      }
      &__socials{
        display: none;
      }
    }
  }
}

/*
  $TEAM_MEMBER_PRESET_07
*/
.preset-type-7 {
  &.lastudio-team-member {
    .lastudio-team-member{
      &__content{
        padding: 30px;
        background-color: #fff;
      }
      &__email,
      &__phone{
        margin-bottom: 10px;
        i{
          vertical-align: middle;
          border: 1px solid #C8C8C8;
          width: 32px;
          height: 32px;
          line-height: 30px;
          text-align: center;
          border-radius: 30px;
          margin-right: 10px;
          margin-top: -2px;
        }
      }
    }
    .item--social a{
      color: inherit;
      background: none;
      width: 20px;
      height: auto;
      font-size: 16px;
      border: none;
      line-height: normal;
      margin: 5px 10px 0 0;
      &:hover{
        color: $primary-color;
      }
      &.email{
        display: none;
      }
    }
  }
}

/*
  $TEAM_MEMBER_PRESET_08
*/
.preset-type-8 {
  &.lastudio-team-member {
    .lastudio-images-layout__link:after{
      display: none;
    }
    .lastudio-team-member{
      &__email,
      &__phone{
        margin-bottom: 10px;
        i{
          vertical-align: middle;
          border: 1px solid #C8C8C8;
          width: 32px;
          height: 32px;
          line-height: 30px;
          text-align: center;
          border-radius: 30px;
          margin-right: 10px;
          margin-top: -2px;
        }
      }
    }
    .item--social a{
      color: inherit;
      background: none;
      width: 20px;
      height: auto;
      font-size: 16px;
      border: none;
      line-height: normal;
      margin: 5px 10px 0 0;
      &:hover{
        color: $primary-color;
      }
      &.email{
        display: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .preset-type-4.lastudio-team-member .lastudio-team-member__content {
    display: none;
  }
}