.lastudio-testimonials--comment-corner{
  .lastudio-testimonials__comment {
    position: relative;
    &:after {
      content: '';
      height: 0;
      width: 0;
      display: block;
      position: absolute;
      border: 0 solid;
    }
  }
}

.lastudio-testimonials {

  .lastudio-arrow {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin-top: -18px;
    color: #fff;
    background-color: #6ec1e4;

    &:before {
      font-size: 23px;
    }

    &.prev-arrow {
      left: 20px;
    }

    &.next-arrow {
      right: 20px;
    }
  }

  .lastudio-slick-dots {
    margin: 20px 0 0 0;

  }

  &.preset-type-1 {
    .lastudio-testimonials__icon-inner{
      margin: auto;
      i{
        font-size: 60px;
        line-height: 60px;
        vertical-align: top;
      }
    }
    .lastudio-testimonials__content {
      padding: 0 50px;
      @include display;
      @include flex-flow(column nowrap);
    }
    .lastudio-testimonials__icon {
      margin-bottom: 20px;
    }
    .lastudio-testimonials__comment {
      font-size: 16px;
      line-height: 2;
      margin: auto;
    }
    .lastudio-testimonials_info {
      position: relative;
      min-height: 65px;
      text-align: center;
    }
    .lastudio-testimonials__figure {
      padding-bottom: 18px;
      padding-top: 5px;
      text-align: center;
      img{
        @include size(105px,105px);
        @include border-radius(50%);
      }
    }
  }

  &.preset-type-2 {
    .lastudio-testimonials__item-inner{
      padding-left: 100px;
      min-height: 80px;
      position: relative;
      color: #2F2F2F;
      padding-top: 10px;
    }
    .lastudio-testimonials__figure {
      position: absolute;
      left: 0;
      width: 65px;
      height: 65px;
    }
    .lastudio-testimonials__icon{
      display: none;
    }
    .lastudio-testimonials__position,
    .lastudio-testimonials__name{
      font-weight: normal;
      display: inline-block;
      color: inherit;
      margin-right: .5em;
    }
    .lastudio-testimonials__position{
      color: #9B9B9B;
    }
    .lastudio-testimonials__rating{
      padding-top: 5px;
    }
  }
  &.preset-type-3{
    .lastudio-testimonials__rating{
      display: none;
    }
    .lastudio-testimonials__content {
      padding: 125px 50px 50px;
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: center;
    }
    .lastudio-testimonials__figure {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      img{
        @include size(115px,115px);
        @include border-radius(50%);
      }
    }
    .lastudio-testimonials__rating {
      order: -1;
      margin-bottom: 5px;
    }
    .lastudio-testimonials__comment{
      line-height: 2;
    }
    .lastudio-testimonials__name{
      font-weight: bold;
    }
  }
}