/**
 * The admin stylesheet for Zephys.
 *
 * @package Zephys
 * @author  LA-Studio
 * @link
 */
/*------------------------------------------------------------------
[Table of contents]
  1. CSS General
  2. MegaMenu
  3. Button
-------------------------------------------------------------------*/


/*--------------------------------------------------------------
	1. CSS General
---------------------------------------------------------------*/
#customize-controls .la-field-la_ace_editor .ace_editor {
    min-height: 250px;
}

/*--------------------------------------------------------------
    2. MegaMenu
---------------------------------------------------------------*/

.lastudio-megamenu-settings{
    display: block;
    clear: both;
}
.lastudio-megamenu-settings h3{
    margin: 0 !important;
    padding: 10px 0;
    font-size: 1.077em;
}

.lastudio-megamenu-custom-fields .lasf-field h4{
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    display: inline-block;
    line-height: 30px;
}
.lastudio-megamenu-settings .lasf-field .lasf-title {
    width: 120px;
    margin-bottom: 0;
    display: inline;
}
.lastudio-megamenu-settings .lasf-field .lasf-fieldset {
    margin-left: 0;
}
.lastudio-megamenu-settings .lasf-field-textarea textarea{
    min-height: 0;
}
.lastudio-megamenu-custom-fields > .lasf-field:before,
.lastudio-megamenu-custom-fields > .lasf-field:after,
.lastudio-megamenu-custom-fields > .lasf-field{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lastudio-megamenu-custom-fields > .lasf-field{
    padding: 10px 0;
    display: none;
}
.lastudio-megamenu-custom-fields > .lasf-field p{
    margin-top: 5px;
}
.lastudio-megamenu-settings .lasf-mm-icon input {
    display: block;
    float: left;
    padding: 5px 5px;
    margin: 0 5px 0 0;
    width: 120px;
}
.lastudio-megamenu-settings .lasf-mm-tip-label input {
    width: 200px;
}
.lastudio-megamenu-settings .lasf-field.lasf-mm-item-column .lasf-title,
.lastudio-megamenu-settings .lasf-field.la-field-autocomplete .lasf-title {
    width: 100%;
    margin-bottom: 5px;
}
.lastudio-megamenu-settings .lasf-field.la-field-autocomplete .lasf-title .la-text-desc,
.lastudio-megamenu-settings .lasf-field.lasf-mm-item-column .lasf-title .la-text-desc{
    margin-top: 0;
}
.lastudio-megamenu-settings .lasf-field.la-field-autocomplete .lasf-title h4,
.lastudio-megamenu-settings .lasf-field.lasf-mm-item-column .lasf-title h4 {
    line-height: normal;
}

.lastudio-megamenu-custom-fields > .lasf-field.show{
    display: block;
}

.lastudio-megamenu-custom-fields > .lasf-field.lasf-mm-tip-label,
.lastudio-megamenu-custom-fields > .lasf-field.lasf-mm-tip-color,
.lastudio-megamenu-custom-fields > .lasf-field.lasf-mm-tip-background-color,
.lastudio-megamenu-custom-fields > .lasf-field.la-element-dont-link,
.lastudio-megamenu-custom-fields > .lasf-field.la-element-dont-show-a-link,
.lastudio-megamenu-custom-fields > .lasf-field.lasf-mm-icon{
    display: block;
}
.menu-item-depth-0 .lastudio-megamenu-custom-fields > .lasf-field.lasf-mm-only-icon,
.menu-item-depth-0 .lastudio-megamenu-custom-fields > .lasf-field.la-element-custom-styles-for-popup,
.menu-item-depth-0 .lastudio-megamenu-custom-fields > .lasf-field.lasf-mm-menu-type{
    display: block;
}
.lastudio-megamenu-custom-fields .la-field-upload input {
    width: 300px;
}
.lastudio-megamenu-custom-fields .la-autocomplete{
    display: block;
    clear: both;
}
.lastudio-megamenu-settings .lasf-fieldset .wp-picker-container {
    width: inherit;
    display: inline-block !important;
    margin: 0;
}

.lasf-mm-popup-background.lasf-field-background .lasf--media {
    margin-bottom: 0;
}

.wpb_column_container .wpb_vc_row_inner.wpb_sortable{
    margin-bottom: 0;
}

.la-metabox-framework .la-body .lasf-field.la-element-enable-small-layout{
    display: none !important;
}
.post-type-post .la-metabox-framework .la-body .lasf-field.la-element-enable-small-layout:not(.hidden){
    display: block !important;
}

.lastudio-megamenu-custom-fields > .lasf-field.la-element-submenu-position{
    display: block;
}
.menu-item-depth-0 .lastudio-megamenu-custom-fields > .lasf-field.la-element-submenu-position{
    display: none;
}

.la-element-header-mobile-layout .la-field-image-select {
    max-width: 300px;
}
.group-disable-clone .la_group__action-clone.la-clone-group {
    display: none !important;
}
.lastudio-megamenu-custom-fields .la-element-force-full-width .la-text-desc {
    clear: both;
    margin-left: 0;
}

/** Disable revolution Update Notice **/
.plugins tr[data-slug="slider-revolution"] + .plugin-update-tr,
.plugins tr[data-slug="slider-revolution"] + tr + .plugin-update-tr,
.rs-dashboard div#updates_dw {
    display: none;
}

li#customize-control-woocommerce_catalog_columns {
    display: none !important;
}


#customize-controls .lasf-field-tabbed.lasf-responsive-tabs .lasf-tabbed-nav a {
    width: 18%;
    margin-right: 2%;
    box-sizing: border-box;
}

#customize-controls .lasf-field-tabbed.lasf-responsive-column-tabs .lasf-tabbed-section {
    width: 18%;
    margin-right: 2%;
}

#customize-controls .lasf-field-tabbed.lasf-responsive-column-tabs .lasf-tabbed-section > .lasf-field-fullwidth {
    width: 100%;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

.force-hidden{
    display: none !important;
}


#la_pb_widget_area_create p input {
    width: 100%;
    margin: 8px 0 0;
    height: 28px;
}

#la_pb_widget_area_create button.button {
    display: inline-block;
    margin-top: 20px;
    vertical-align: bottom;
}

.la_pb_widget_area_remove {
    display: block;
    padding: 3px 8px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    background-color: #E94A4A;
    text-shadow: none;
    float: left;
    margin: 5px 0 0 5px;
}

.la_pb_widget_area_remove:hover {
    color: #fff;
    text-decoration: none;
}

/*------------------------------------------------*/
/*---------------[RESPONSIVE LAYOUTS]-------------*/
/*------------------------------------------------*/

#la_pb_widget_area_create {
    background-color: #fff;
    max-width: 100%;
    margin-right: 0;
    margin-top: 10px;
    border-radius: 0px;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    margin-left: 0px;
    padding: 15px;
    width: 450px;
    box-sizing: border-box;
}

#la_pb_widget_area_create p {
    margin: 0;
}
#la_pb_widget_area_create p.la_pb_widget_area_result {
    padding-top: 10px;
}
#la_pb_widget_area_create p label {
    display: inline-block;
    width: 70%;
    font-weight: 600;
    padding-right: 8px;
    padding-top: 8px;
}

.la_pb_widget_area_remove {
    margin-top: 11px;
}


/**
* $OPTION_FRAMEWORK
 */
.lasf-field.lasf-section-description {
    padding: 0;
}
.lasf-section-subtitle {
    font-size: 16px;
    font-weight: bold;
    background: #eee;
    line-height: normal;
    padding: 15px;
    color: #111;
}
.lasf-field.lasf-field-fullwidth > .lasf-title {
    width: 100%;
}
.lasf-field.lasf-field-fullwidth > .lasf-fieldset {
    margin: 10px 0 0;
    float: left;
    width: 100%;
}
.lasf-field .button.button-primary.big-button {
    width: 100%;
    text-align: center;
    line-height: 38px;
    height: 40px;
    padding: 0 20px;
}
.lasf-field .button.button-primary.big-button i {
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 10px;
    margin-left: 10px;
}
.lasf-field-tabbed.lasf-responsive-tabs .lasf-tabbed-nav a {
    font-size: 0;
    padding: 0 5px;
    text-align: center;
    width: 18%;
    box-sizing: border-box;
    margin-right: 2%;
}
.lasf-field-tabbed.lasf-responsive-tabs .lasf-tabbed-nav a .lasf--icon {
    font-size: 16px;
    padding: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    margin: 0;
}
.lasf-field-tabbed.lasf-responsive-column-tabs .lasf-tabbed-section {
    border: none;
    display: inline-block;
    width: 18%;
    margin-right: 2%;
}

.lasf-field-tabbed.lasf-responsive-column-tabs .lasf-tabbed-section > .lasf-field-fullwidth {
    padding: 10px 0;
    width: 100%;
    margin-right: 5px;
}
.lasf-field-tabbed.lasf-responsive-column-tabs .lasf-tabbed-section > .lasf-field-fullwidth select {
    width: 100%;
    min-width: 100%;
    margin: 0;
}

.lasf-field-image_select.specificity_image_select .lasf--image {
    max-width: 48%;
    vertical-align: top;
    box-sizing: border-box;
}
.lasf-field-image_select.specificity_image_select img {
    width: 100%;
    height: auto;
}

.lasf-field select{
    max-width: 100%;
    font-size: 13px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #f4f2f2;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    height: 30px;
    margin: 0;
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    padding: 5px 20px 5px 5px;
    line-height: 18px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
    -webkit-background-origin: content-box;
    background-origin: content-box;
    background-position: right -13px center;
    background-repeat: no-repeat;
    -webkit-background-size: 8px 7px;
    background-size: 8px 7px;
    box-sizing: border-box;
}

.lasf-field-select select {
    min-width: 150px;
}
.lasf-field-media .lasf--placeholder input,
.lasf-field-text input {
    padding: 5px;
    background: #f4f2f2;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: none;
    height: 28px;
}
.lasf-field-button_set .lasf--button {
    box-sizing: border-box;
}
.lasf-field-button_set .lasf--button:last-child,
.lasf-field-button_set .lasf--button:first-child {
    border-radius: 0;
}
.lasf-field-background .lasf--select .lasf-field select {
    min-width: 0;
}
.lasf-field-background .lasf-fieldset .lasf--block {
    margin-bottom: 10px;
}
.lasf-field-background .lasf-fieldset .lasf--media {
    margin-bottom: 0;
}

.lasf-field .chosen-container-single .chosen-single {
    background: #f4f2f2;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0;
    min-height: 30px;
    line-height: 28px !important;
    box-shadow: none;
    color: #32373c;
}
.lasf-field-typography .lasf-fieldset .lasf--title{
    color: inherit;
}
.lasf-wrapper .lasf-nav ul ul li a{
    font-size:13px;
}
.lasf-wrapper .lasf-nav ul li a{
    font-size:14px;
}
.lasf-field-tabbed.lasf-responsive-column-tabs .lasf-tabbed-sections,
.lasf-field-tabbed.lasf-responsive-tabs .lasf-tabbed-nav {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.lasf-field-tabbed.lasf-responsive-column-tabs .lasf-tabbed-section,
.lasf-field-tabbed.lasf-responsive-tabs .lasf-tabbed-nav a {
    margin-right: 0;
}