.job_listings.grid-items {
  margin: 0 -15px;
  list-style: none;
  border: none;
}

li.no_job_listings_found {
  padding: 20px;
  display: block;
  text-align: center;
  width: 100%;
}

.listing__content-metaitem {
  display: inline-block;
  margin-right: 30px;
}

.listing__content-metaitem:last-child {
  margin-right: 0 !important;
}

@media (max-width: 1300px) {
  .listing__content-metaitem {
    margin-right: 15px;
  }
}

.listing__content-price {
  color: #4241FF;
}

.listing__image img {
  width: 100%;
}

.listing__content {
  position: relative;
  background-color: #212121;
  color: #fff;
  padding: 30px;
}

.listing__content i[class*="lastudioicon"] {
  color: #EA622B;
  padding-right: 5px;
}

.listing__content-types {
  position: absolute;
  bottom: 100%;
  left: 0;
}

.listing__content-types .job-type {
  background-color: #3377FA;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  padding: 7px 15px 5px;
  vertical-align: middle;
  line-height: 20px;
}

.listing__content-types .job-type.for-sale {
  background-color: #EA622B;
}

.job_listings.listing-preset-type-2 {
  background-color: #fff;
}

.job_listings h3 {
  color: inherit;
}

.job_listings .job_listings .job_listing {
  border: none;
}

.job_listings .job_listing .listing__content-types .job-type {
  color: inherit;
}

.job_listings .job_listing .listing__image a {
  padding: 0;
  display: block;
  width: 100%;
}

.job_listings .job_listing .listing__content-title a {
  padding: 0;
  background: none !important;
}

.job_listings .job_filters {
  background: none;
}

.job_listings .job_filters .job_types {
  display: none;
}

.job_listings .job_filters input[type="text"],
.job_listings .job_filters select {
  border-color: #979797;
  background-color: #fff;
  color: #3E3E3E;
  height: 80px;
}

.job_listings .job_filters .search_jobs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
}

.job_listings .job_filters .search_jobs .search_price_range,
.job_listings .job_filters .search_jobs .search_bedroom,
.job_listings .job_filters .search_jobs .search_bathroom,
.job_listings .job_filters .search_jobs .search_size_range,
.job_listings .job_filters .search_jobs .search_categories,
.job_listings .job_filters .search_jobs .search_location,
.job_listings .job_filters .search_jobs .search_keywords {
  width: 33%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.job_listings .job_filters .search_jobs div[style*="clear"] {
  display: none !important;
}

.job_listings .job_filters .lastudio-search-submit {
  width: 33%;
  padding: 0 15px;
}

.job_listings .job_filters .lastudio-search-submit .search-submit {
  width: 100%;
  height: 80px;
  font-size: 20px;
  position: relative;
  background-color: #4241FF;
}

.job_listings .job_filters .lastudio-search-submit .search-submit i {
  font-size: 2em;
  position: absolute;
  left: 1em;
  top: 51%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.job_listings .job_filters .lastudio-search-submit .search-submit:hover {
  background-color: #0f0eff;
}

.job_filters .search_jobs div label {
  display: none;
}

.job_listings.listing-preset-type-2 li.job_listing,
.job_listings.listing-preset-type-1 li.job_listing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.job_listings.listing-preset-type-2 li.job_listing .listing__content,
.job_listings.listing-preset-type-1 li.job_listing .listing__content {
  height: 100%;
}

/**
$LISTING PRESET 03
 */
.job_listings.listing-preset-type-3 .job_listing {
  position: relative;
  height: 80vh;
  max-height: 890px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.job_listings.listing-preset-type-3 .listing__content-outer {
  width: 1532px;
  max-width: 90%;
  margin: 0 auto;
}

.job_listings.listing-preset-type-3 .listing__image {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
}

.job_listings.listing-preset-type-3 .listing__image a {
  pointer-events: none;
}

.job_listings.listing-preset-type-3 .listing__image figure,
.job_listings.listing-preset-type-3 .listing__image a {
  height: 100%;
}

.job_listings.listing-preset-type-3 .listing__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.job_listings.listing-preset-type-3 .listing__content {
  width: 725px;
  max-width: 100%;
  background-color: rgba(33, 33, 33, 0.9);
}

.job_listings.listing-preset-type-3 .listing__content-types {
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
}