.select2-container .select2-selection--single {
  height: 50px;
  border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  margin-top: 11px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 11px;
}

.woocommerce-account-fields::before, .woocommerce-account-fields::after,
.woocommerce-billing-fields::before,
.woocommerce-billing-fields::after {
  content: ' ';
  display: table;
  flex-basis: 0;
  order: 1;
}

.woocommerce-account-fields::after,
.woocommerce-billing-fields::after {
  clear: both;
}

.la-shop-products .la-pagination ul {
  text-align: center;
}

div#la_shop_products {
  position: relative;
}

.la-ajax-shop-loading {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: #fff;
  visibility: hidden;
  opacity: 0;
}

.la-ajax-shop-loading.loading {
  opacity: 1;
  visibility: visible;
}

.la-ajax-shop-loading .la-ajax-loading-outer {
  margin: 0 auto;
  display: block;
  width: 50px;
}

.star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 6em;
  font-family: "LaStudioIcons";
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #B3BDBC;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: .2em;
}

.star-rating::before {
  content: "\ea5e\ea5e\ea5e\ea5e\ea5e";
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}

.star-rating > span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
  color: #F5A623;
}

.star-rating > span:before {
  content: "\ea5e\ea5e\ea5e\ea5e\ea5e";
  top: 0;
  position: absolute;
  left: 0;
}

.woocommerce-product-rating .woocommerce-review-link {
  font-size: 12px;
  vertical-align: middle;
}

p.stars a {
  position: relative;
  height: 1em;
  width: 1em;
  text-indent: -999em;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}

p.stars a::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-family: "LaStudioIcons";
  content: "\ea5f";
  text-indent: 0;
}

p.stars a:hover ~ a::before {
  content: "\ea5f";
}

p.stars:hover {
  color: #F5A623;
}

p.stars:hover a {
  color: inherit;
}

p.stars:hover a:before {
  content: "\ea5e";
}

p.stars.selected {
  color: #F5A623;
}

p.stars.selected a.active::before {
  content: "\ea5e";
}

p.stars.selected a.active ~ a:before {
  content: "\ea5f";
}

p.stars.selected a:not(.active)::before {
  content: "\ea5e";
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  padding: 14px 30px 14px 60px;
  margin: 0 0 30px;
  position: relative;
  background-color: #eeeff2;
  list-style: none outside !important;
  width: auto;
  word-wrap: break-word;
}

.woocommerce-message:before,
.woocommerce-error:before,
.woocommerce-info:before {
  font-family: "LaStudioIcons";
  content: "\ea22";
  display: inline-block;
  position: absolute;
  left: 25px;
  font-size: 26px;
  top: 2px;
  color: #6dde6d;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.woocommerce-message .button,
.woocommerce-error .button,
.woocommerce-info .button {
  float: right;
  padding: 0;
  background: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.woocommerce-message .button:hover,
.woocommerce-error .button:hover,
.woocommerce-info .button:hover {
  color: #4241FF;
  text-decoration: underline;
}

.woocommerce-message li,
.woocommerce-error li,
.woocommerce-info li {
  list-style: none outside !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.woocommerce-info:before {
  color: #6dde6d;
}

.woocommerce-error:before {
  content: "\ea3a";
  color: #c43002;
  top: 4px;
}

#shipping_method {
  margin: 0;
  list-style: none;
  padding: 0;
}

#shipping_method li input[type="checkbox"],
#shipping_method li input[type="radio"] {
  margin-bottom: 0;
  margin-right: 8px;
}

.form-row::before, .form-row::after {
  content: ' ';
  display: table;
  flex-basis: 0;
  order: 1;
}

.form-row::after {
  clear: both;
}

.form-row.form-row-first {
  float: left;
}

.form-row.form-row-last {
  float: right;
}

.form-row.form-row-first, .form-row.form-row-last {
  width: 48%;
}

@media (max-width: 767px) {
  .form-row.form-row-first, .form-row.form-row-last {
    width: 100%;
  }
}

.form-row.form-row-wide {
  float: left;
  width: 100%;
}

.form-row label {
  margin-bottom: 8px;
  display: block;
}

.form-row label.inline {
  display: inline;
}

.form-row .input-text {
  width: 100%;
  padding: 0 20px;
  height: 50px;
  line-height: 48px;
}

.col2-set {
  margin-left: -15px;
  margin-right: -15px;
}

.col2-set::before, .col2-set::after {
  content: ' ';
  display: table;
  flex-basis: 0;
  order: 1;
}

.col2-set::after {
  clear: both;
}

.col2-set .col-2,
.col2-set .col-1 {
  position: relative;
  float: left;
  min-height: 1px;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col2-set .col-2,
  .col2-set .col-1 {
    width: 100%;
  }
}

.wc-toolbar-container {
  margin-bottom: 10px;
}

.wc-toolbar {
  line-height: 24px;
  font-size: 12px;
}

.wc-toolbar button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font-weight: 600;
  margin-left: 15px;
}

.wc-toolbar p {
  margin-bottom: 0;
}

.wc-toolbar .woocommerce-result-count,
.wc-toolbar .wc-view-toggle,
.wc-toolbar .wc-ordering {
  float: left;
  font-weight: 600;
}

.wc-toolbar .wc-view-toggle {
  font-size: 18px;
  float: right;
  margin-top: -1px;
}

.wc-toolbar .wc-view-toggle button {
  float: left;
  font-weight: normal;
  font-size: 16px;
}

.wc-toolbar .wc-view-toggle button i {
  vertical-align: middle;
}

.wc-toolbar .wc-view-toggle button:not(.active) {
  opacity: .5;
}

.wc-toolbar .wc-toolbar-right {
  float: right;
}

.wc-toolbar .wc-ordering {
  position: relative;
}

.wc-toolbar .wc-ordering:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  padding-bottom: 20px;
}

.wc-toolbar .wc-ordering.is-hover ul {
  opacity: 1;
  visibility: visible;
  margin-top: 7px;
}

.wc-toolbar .wc-ordering ul {
  right: 0;
  position: absolute;
  background-color: #fff;
  padding: 7px;
  z-index: 11;
  visibility: hidden;
  margin-top: 30px;
  opacity: 0;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  transition: all .25s;
}

.wc-toolbar .wc-ordering ul li {
  display: block;
}

.wc-toolbar .wc-ordering ul li a {
  padding: 5px 10px;
  white-space: pre;
  display: block;
  border-radius: 4px;
}

.wc-toolbar .wc-ordering ul li:hover a, .wc-toolbar .wc-ordering ul li.active a {
  background-color: #f1f0f0;
}

.wc-toolbar .wc-view-count {
  float: left;
  margin: 0 20px 0 40px;
}

.wc-toolbar .wc-view-count p,
.wc-toolbar .wc-view-count ul,
.wc-toolbar .wc-view-count li {
  display: inline-block;
  margin: 0 5px;
}

.wc-toolbar .wc-view-count ul {
  margin: 0;
  padding: 0;
}

.wc-toolbar .wc-view-count li.active {
  border-bottom: 1px solid;
  font-weight: bold;
}

.wc-toolbar .wc-view-count a {
  color: inherit;
}

.wc-ordering button:after,
.btn-advanced-shop-filter:after {
  content: '\ea3d';
  font-family: "LaStudioIcons";
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  opacity: .5;
  padding: 0 5px;
  font-size: 16px;
  font-weight: normal;
}

.open-advanced-shop-filter .btn-advanced-shop-filter:after {
  content: '\ea4b';
}

.wc-toolbar-top {
  padding-top: 10px;
  margin-bottom: 15px;
}

.woocommerce table.wishlist_table {
  font-size: 100%;
}

.swatch-control select {
  display: none !important;
}

.swatch-control.radio-select ul {
  padding: 0 !important;
  list-style: none !important;
}

.swatch-control.radio-select li {
  list-style: none !important;
}

.swatch-control.radio-select li label {
  display: inline;
  margin-left: 10px;
}

a.reset_variations {
  position: relative;
  display: none;
  visibility: hidden;
}

a.reset_variations:before {
  content: "\ea3a";
  font-family: "LaStudioIcons";
  padding-right: 5px;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  font-weight: normal;
  display: inline-block;
  line-height: inherit;
}

.swatch-wrapper {
  padding: 2px;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  float: left;
  margin: 0 5px 5px 0;
}

.swatch-wrapper.disabled {
  position: relative;
  cursor: not-allowed;
  zoom: 1;
  opacity: 0.4;
}

.swatch-wrapper.disabled:hover {
  border-color: #ccc;
}

.swatch-wrapper.disabled:before {
  content: "";
  width: 90%;
  height: 2px;
  background-color: red;
  position: absolute;
  left: 5%;
  top: 50%;
  margin-top: -1px;
  z-index: 1;
  opacity: 0.4;
  -webkit-transform: rotate(-45degdeg);
  transform: rotate(-45degdeg);
}

.swatch-wrapper.disabled:after {
  content: "";
  width: 90%;
  height: 2px;
  background-color: red;
  position: absolute;
  left: 5%;
  top: 50%;
  margin-top: -1px;
  z-index: 1;
  opacity: 0.4;
  -webkit-transform: rotate(45degdeg);
  transform: rotate(45degdeg);
}

.swatch-wrapper.disabled .swatch-anchor {
  cursor: inherit;
}

.swatch-wrapper .swatch-anchor {
  display: block;
  position: relative;
  text-align: center;
}

.swatch-wrapper .swatch-anchor:before {
  content: attr(title);
  position: absolute;
  bottom: 80%;
  text-indent: 0;
  background: #000;
  padding: 5px 10px;
  line-height: 1;
  border-radius: 4px;
  margin-bottom: 10px;
  min-width: 50px;
  color: #fff;
  left: 50%;
  white-space: pre;
  text-align: center;
  text-transform: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  visibility: hidden;
  opacity: 0;
  transition: all .25s;
  font-size: 12px;
}

.swatch-wrapper .swatch-anchor:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 80%;
  border-width: 4px 4px 0 4px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
  margin-bottom: 6px;
  margin-left: -4px;
  visibility: hidden;
  opacity: 0;
  transition: all .25s;
}

.swatch-wrapper .swatch-anchor:hover:before, .swatch-wrapper .swatch-anchor:hover:after {
  bottom: 100%;
  opacity: 1;
  visibility: visible;
}

.swatch-wrapper.swatch-only-label .swatch-anchor {
  min-width: auto !important;
  min-height: 0 !important;
  line-height: inherit !important;
}

.swatch-wrapper.selected .swatch-anchor {
  color: #4241FF;
  text-decoration: underline;
}

.swatch-wrapper img {
  width: inherit;
  height: inherit;
  display: block;
  vertical-align: top;
}

.swatch-wrapper.selected {
  padding: 1px;
  border-width: 2px;
}

.swatch-wrapper.la-swatch-item-style-rounder,
.swatch-wrapper.la-swatch-item-style-rounder .swatch-anchor,
.swatch-wrapper.la-swatch-item-style-rounder img {
  border-radius: 5px;
}

.swatch-wrapper.la-swatch-item-style-circle,
.swatch-wrapper.la-swatch-item-style-circle .swatch-anchor,
.swatch-wrapper.la-swatch-item-style-circle img {
  border-radius: 50%;
}

.swatch-wrapper.la-swatch-item-style-default:not(.swatch-only-label) {
  position: relative;
  border-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border-radius: 50%;
}

.swatch-wrapper.la-swatch-item-style-default:not(.swatch-only-label) .swatch-anchor {
  width: 18px !important;
  height: 18px !important;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.swatch-wrapper.la-swatch-item-style-default:not(.swatch-only-label).selected, .swatch-wrapper.la-swatch-item-style-default:not(.swatch-only-label):hover {
  border-color: #e6e6e6;
  border-width: 1px;
}

.swatch-wrapper.la-swatch-item-style-default:not(.swatch-only-label).selected:before {
  content: "\ea20";
  font-family: LaStudioIcons;
  color: #fff;
  position: absolute;
  font-size: 10px;
  z-index: 3;
  width: 16px;
  height: 16px;
  line-height: 16px;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.swatch-wrapper .swatch-anchor-label {
  display: none;
}

.radio-select .disabled {
  cursor: not-allowed;
  zoom: 1;
  opacity: 0.5;
}

.radio-select .disabled input,
.radio-select .disabled label {
  cursor: not-allowed;
}

.woocommerce table.wishlist_table thead th:not(.product-name) {
  text-align: center;
}

.open-advanced-shop-filter .wc-toolbar-container .btn-advanced-shop-filter {
  color: #4241FF;
}

.la-advanced-product-filters {
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.05);
  display: none;
  margin-bottom: 30px;
  font-size: 12px;
}

.la-advanced-product-filters .sidebar-inner--filters {
  padding: 40px 40px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.la-advanced-product-filters .sidebar-inner--filters .widget {
  margin-bottom: 30px;
  width: 20%;
}

.la-advanced-product-filters .sidebar-inner--filters .widget ul.menu li {
  padding-top: 0;
  padding-bottom: 0;
}

.la-advanced-product-filters .sidebar-inner--filters .widget .la-swatches-widget-opts .swatch-wrapper {
  border-radius: 0;
  padding: 0;
  margin: 0;
  border-width: 0 !important;
}

.la-advanced-product-filters .sidebar-inner--filters .widget .la-swatches-widget-opts .swatch-wrapper:before {
  left: 0 !important;
  top: 3px !important;
}

.la-advanced-product-filters .sidebar-inner--filters .widget .la-swatches-widget-opts .swatch-wrapper .swatch-anchor {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -2px;
}

.la-advanced-product-filters .sidebar-inner--filters .widget .la-swatches-widget-opts .swatch-wrapper .swatch-anchor:after, .la-advanced-product-filters .sidebar-inner--filters .widget .la-swatches-widget-opts .swatch-wrapper .swatch-anchor:before {
  display: none;
}

.la-advanced-product-filters .sidebar-inner--filters .widget .la-swatches-widget-opts .swatch-wrapper .swatch-anchor-label {
  display: inline-block;
  text-transform: none;
  vertical-align: middle;
}

.la-advanced-product-filters .menu-item-price ul li {
  display: inline-block;
  width: 49%;
}

.la-advanced-product-filters .menu-item-price ul li a {
  border: none;
  padding: 0;
}

.la-advanced-product-filters .menu-item-price ul li a:hover {
  background: none;
}

.la-advanced-product-filters .wc-ordering p,
.la-advanced-product-filters .wc-layered-nav-term .count {
  display: none;
}

.la-advanced-product-filters .widget_price_filter {
  padding-right: 30px;
}

.la-advanced-product-filters-result {
  padding-bottom: 15px;
  font-size: 14px;
  text-align: center;
}

.la-advanced-product-filters-result i {
  font-size: 22px;
  padding: 0 5px;
  vertical-align: middle;
}

.reset-all-shop-filter > span {
  vertical-align: middle;
  display: inline-block;
}

.wishlist_table tr td.product-thumbnail a {
  display: inline-block;
}

.products-list .product_item .wcvendors_sold_by_in_loop {
  display: block;
}

.form-row .input-checkbox + label.checkbox {
  display: inline;
  text-transform: none;
}

.wcv-store-header .store-info h3 {
  font-weight: normal;
  margin-top: 0;
  line-height: normal;
  margin-bottom: 8px;
}

.wcv-store-header .store-info h3 + a {
  margin-bottom: 10px;
  display: block;
}

.date-pick + .btn {
  padding: 7px 20px;
}

.table.table-vendor-sales-report {
  margin-top: 20px;
}

.table.table-bordered {
  border-collapse: collapse;
}

.table-condensed th,
.table-condensed td {
  padding: 8px;
}

table.wcv-table td,
table.wcv-table th {
  padding: 8px;
}

#pv_shop_description_container,
#pv_seller_info_container,
.pv_seller_info_container,
.pv_shop_name_container,
.pv_paypal_container {
  margin-bottom: 20px;
}

.wcvendors-pro-dashboard-wrapper .wcv-button,
.wcvendors-pro-dashboard-wrapper .button {
  display: inline-block;
  padding: 8px 20px;
  vertical-align: middle;
  color: #fff;
  border: none;
  text-decoration: none !important;
}

.wc-tab .seller-rating span.star-rating {
  display: block;
}

.wcv-store-header .store-info h3 + a {
  color: #f5b223;
}

#la_wishlist_table_wrapper .blockUI.blockOverlay {
  background: #fff url(../images/ajax-loader.gif) no-repeat center center !important;
}

.open-cart-aside #la_wishlist_table_wrapper .blockUI.blockOverlay {
  opacity: 0 !important;
  background-color: transparent !important;
}

#la_wishlist_table_wrapper .product-action {
  text-align: center;
}

#la_wishlist_table_wrapper .product-action .labtn-icon {
  display: none;
}

#la_wishlist_table_wrapper .product-action .la-addcart {
  padding: 15px;
  min-width: 125px;
}

div#la_compare_table_wrapper2 {
  position: relative;
}

.la-compare-table {
  display: block;
  margin: 0;
  width: 100%;
  overflow: auto;
  padding: 0;
}

.la-compare-table tr.compare-tr:first-child th {
  vertical-align: bottom;
  border-right: 0;
}

.la-compare-table tr.compare-tr:first-child th,
.la-compare-table tr.compare-tr:first-child td {
  padding-top: 0;
}

.la-compare-table tr.compare-tr th {
  min-width: 249px;
  background-color: #fff;
  vertical-align: middle;
  font-weight: bold;
  border-left: 0;
  padding: 15px 20px 15px 0;
  border-right: 1px solid #e9e9e9;
}

.la-compare-table tr.compare-tr td {
  min-width: 300px;
  max-width: 100%;
  text-align: center;
  padding: 15px 20px;
  vertical-align: middle;
}

.la-compare-table tr.compare-tr td .remove {
  margin-bottom: 10px;
}

.la-compare-table h4 {
  font-size: 14px;
  margin: 15px 0;
}

.la-compare-table .image-wrap {
  width: 150px;
  max-width: 100%;
  margin: 0 auto;
}

.la-compare-table .add_to_cart_wrap a {
  display: inline-block;
  font-family: inherit;
  background-color: #212121;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  padding: 10px 15px;
  border: 0;
  cursor: pointer;
  text-align: center;
  line-height: 1;
}

.la-compare-table .add_to_cart_wrap a.added {
  display: none;
}

.la-compare-table .add_to_cart_wrap a .labtn-icon {
  display: none;
}

.la-compare-table .add_to_cart_wrap a:hover {
  background-color: #4241FF;
}

.la-compare-table del {
  color: #8a8a8a;
}

.la-compare-table ins {
  text-decoration: none;
}

.la-compare-table .compare-tr-stock .stock.in-stock {
  color: green;
}

.la-compare-table .compare-tr-stock .stock.out-of-stock {
  color: #c43002;
}

.la_remove_from_compare {
  font-size: 12px;
}

.la_remove_from_compare i {
  vertical-align: middle;
  margin-top: -2px;
}

.la-compare-table-items th {
  opacity: 0;
}

.la-compare-table-heading {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
}

@media (max-width: 800px) {
  .la-compare-table th {
    min-width: 150px;
  }
  .la-compare-table-heading {
    width: 150px;
  }
}

@media (max-width: 600px) {
  .la-compare-table th {
    min-width: 0;
  }
}

.demo_store {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 1em 1.41575em;
  background-color: #3d9cd2;
  color: #fff;
  z-index: 9999;
}

.demo_store:before {
  display: inline-block;
  font: normal normal normal 14px/1 LaStudioIcons;
  font-size: inherit;
  text-rendering: auto;
  margin-right: 0.5407911001em;
  content: "\ea59";
}

@media (min-width: 768px) {
  .demo_store a.woocommerce-store-notice__dismiss-link {
    background: rgba(0, 0, 0, 0.1);
    float: right;
    display: inline-block;
    margin: -1em -1.41575em -1em 0;
    padding: 1em 1.41575em;
  }
  .demo_store a.woocommerce-store-notice__dismiss-link:before {
    display: inline-block;
    font: normal normal normal 14px/1 LaStudioIcons;
    font-size: inherit;
    text-rendering: auto;
    content: "\ea3a";
    margin-right: 0.3342343017em;
  }
}

@media (max-width: 600px) {
  .la_wishlist_table .product-action a {
    padding: 5px 10px;
    margin-top: 10px;
  }
}

.woocommerce form.checkout.woocommerce-checkout:before,
.woocommerce form.checkout.woocommerce-checkout:after {
  content: ' ';
  display: table;
  flex-basis: 0;
  order: 1;
}

.woocommerce form.checkout.woocommerce-checkout:after {
  clear: both;
}

.processing .blockOverlay {
  background-image: url(../images/ajax-loader.gif) !important;
  background-position: center 30% !important;
  background-repeat: no-repeat !important;
}

.woocommerce-MyAccount-content form .button {
  border-radius: 30px;
}

form.track_order p {
  margin-bottom: 30px;
  text-align: center;
}

form.track_order .form-row {
  width: 100%;
}

form.track_order .form-row label {
  text-align: left;
}

form.track_order .form-row .input-text {
  height: 70px;
  padding: 10px 20px;
}

.tinvwl-loop-button-wrapper {
  display: none;
}

.woocommerce div.product form.cart .tinvwl_add_to_wishlist_button.button {
  display: none;
}

.tinv-wishlist .tinvwl-buttons-group button {
  border: none;
  background-color: #262626;
  color: #fff;
  padding: 5px 10px;
  line-height: 30px;
}

.tinv-wishlist .tinvwl-buttons-group button i:before {
  color: inherit;
}

.widget_price_filter .ui-slider {
  margin-bottom: 15px;
  position: relative;
  background-color: #d8d8d8;
  margin-right: 20px;
  height: 3px;
}

.widget_price_filter .ui-slider:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 16px;
  background-color: #d8d8d8;
  right: -16px;
}

.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 18px;
  height: 18px;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.2);
  background-color: #151515;
  cursor: ew-resize;
  top: -8px;
  border-radius: 50%;
}

.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 3px;
  background-color: #212121;
}

.widget_price_filter .price_slider_wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.widget_price_filter .price_slider_amount {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.widget_price_filter .price_slider_amount .price_label {
  line-height: 20px;
  font-size: 12px;
  opacity: .8;
  margin-bottom: 15px;
}

.widget_price_filter .button {
  color: #262626;
  border: 2px solid;
  font-size: 10px;
  text-transform: uppercase;
  width: 120px;
  padding: 10px 30px;
  background: none;
  line-height: 20px;
}

.widget_price_filter .button:hover {
  background-color: #262626;
  color: #fff;
  border-color: #262626;
}

.archive.woocommerce #sidebar_primary .sidebar-inner {
  width: 270px;
  max-width: 100%;
}

.archive.woocommerce #sidebar_primary .widget-title:after {
  display: none;
}

.single.single-product #sidebar_primary .widget-title:after {
  display: none;
}

ul.woocommerce-shipping-methods li,
ul.wc_payment_methods li {
  position: relative;
  margin-bottom: .6em;
}

ul.woocommerce-shipping-methods input[type="radio"],
ul.wc_payment_methods input[type="radio"] {
  position: absolute;
  opacity: 0;
  font-size: 0;
}

ul.woocommerce-shipping-methods input[type="radio"] + label,
ul.wc_payment_methods input[type="radio"] + label {
  padding-left: 25px;
  position: relative;
}

ul.woocommerce-shipping-methods input[type="radio"] + label:before,
ul.wc_payment_methods input[type="radio"] + label:before {
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  content: '';
  position: absolute;
  left: 0;
  border-radius: 50%;
  top: 1px;
  box-shadow: 0 0 3px 0 inset rgba(0, 0, 0, 0.2);
}

ul.woocommerce-shipping-methods input[type="radio"]:checked + label:before,
ul.wc_payment_methods input[type="radio"]:checked + label:before {
  border: 5px solid #2196F3;
}

ul.wc_payment_methods {
  margin: 0;
  list-style: none;
}

ul.wc_payment_methods .wc_payment_method img {
  max-width: 120px;
}

ul.wc_payment_methods .about_paypal {
  font-size: .8em;
  padding-left: 10px;
  vertical-align: middle;
}

ul.wc_payment_methods .payment_box p {
  margin: 5px 0 10px;
  font-size: .9286em;
}

.woocommerce-privacy-policy-text {
  margin: 1em 0;
}

.woocommerce-terms-and-conditions-wrapper p.form-row {
  margin-bottom: 20px;
}

.products-grid .slick-arrow {
  bottom: 50%;
}

.prods_masonry li.product_item {
  opacity: 0;
}

.item--overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 250ms ease-out;
}

.products {
  list-style: none;
  padding: 0;
  margin: 0 -15px;
}

.products.products-list .item-inner::before, .products.products-list .item-inner::after {
  content: ' ';
  display: table;
  flex-basis: 0;
  order: 1;
}

.products.products-list .item-inner::after {
  clear: both;
}

.products .product-category img {
  width: 100%;
  -webkit-transition: opacity 0.35s, -webkit-transform 1s;
  transition: opacity 0.35s, transform 1s;
}

.products .product-category .count {
  display: none;
}

.labtn-icon {
  font-family: 'LaStudioIcons';
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.labtn-icon-quickview:before {
  content: "\ea2a";
}

.labtn-icon-wishlist:before {
  content: "\ea2b";
}

.added .labtn-icon-wishlist:before {
  content: "\ea09";
}

.labtn-icon-compare:before {
  content: "\ea26";
}

.labtn-icon-cart:before {
  content: "\ea07";
}

.catalog-grid-1.grid-space-default .product-category {
  margin-bottom: 30px;
}

.catalog-grid-1 .product-category .cat-information {
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 0;
  text-align: center;
}

.catalog-grid-1 .product-category .woocommerce-loop-category__title {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #fff;
  margin: 0;
  padding: 20px 30px;
  line-height: 20px;
  min-width: 160px;
  text-align: center;
}

.catalog-grid-1 .product-category .item--overlay {
  visibility: visible;
  opacity: 0.9;
  background-color: transparent;
  transition: all 450ms ease-out;
}

.catalog-grid-1 .product-category a {
  display: block;
  position: relative;
  overflow: hidden;
}

.catalog-grid-1 .product-category a:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.catalog-grid-1 .product-category a:hover .item--overlay {
  background-color: rgba(52, 53, 56, 0.2);
}

.product_item--thumbnail .elementor-lastudio-countdown-timer {
  position: absolute;
  bottom: 40px;
  z-index: 2;
  width: 100%;
  left: 0;
}

.product_item--thumbnail .elementor-lastudio-countdown-timer .lastudio-countdown-timer__item {
  background-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 5px;
}

.product_item--thumbnail .elementor-lastudio-countdown-timer .lastudio-countdown-timer__item .lastudio-countdown-timer__item-value {
  font-size: 20px;
  line-height: 1;
}

.product_item--thumbnail .elementor-lastudio-countdown-timer .lastudio-countdown-timer__item .lastudio-countdown-timer__item-label {
  font-size: 12px;
  color: #989898;
  line-height: 1;
  text-transform: lowercase;
}

.product_item--info .elementor-lastudio-countdown-timer {
  display: none;
}

.product_item--info .la-custom-badge {
  display: none !important;
}

.product_item .item--overlay {
  background-color: #212121;
  z-index: 2;
}

.product_item .product_item--thumbnail {
  position: relative;
  z-index: 2;
}

.product_item .product_item--thumbnail-holder {
  text-align: center;
}

.product_item .product_item--thumbnail-holder .pic-m-fallback {
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(201, 201, 202, 0.14);
}

.product_item .product_item--thumbnail-holder a {
  display: block;
}

.product_item .product_item--thumbnail-holder a img {
  width: 100%;
  display: block;
}

.product_item .product_item--title {
  font-size: 16px;
  margin: 0 0 5px;
  line-height: inherit;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product_item .product_item--info {
  position: relative;
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 15px;
}

.product_item .added_to_cart {
  display: none;
}

.product_item .product_item--category-link,
.product_item .item--excerpt {
  display: none;
}

.product_item .star-rating ~ .star-rating {
  display: none;
}

.product_item.prod-rating-off .star-rating {
  display: none !important;
}

.product_item .price {
  line-height: 20px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

.product_item .swatch-wrapper {
  float: none;
  display: inline-block;
  padding: 0;
  border-width: 0;
  margin: 0 2px 2px;
}

.product_item .swatch-wrapper:not(.swatch-only-label) {
  border-radius: 50%;
}

.product_item .swatch-wrapper:not(.swatch-only-label) .swatch-anchor {
  max-width: 12px;
  max-height: 12px;
  border-radius: 50%;
}

.product_item .swatch-wrapper.swatch-only-label .swatch-anchor {
  line-height: normal !important;
  min-height: 0 !important;
  min-width: 0 !important;
}

.products-list .product_item {
  width: 100%;
}

.products-list .product_item .product_item--thumbnail {
  float: left;
  width: 32%;
}

.products-list .product_item .product_item--thumbnail .button:not(.quickview) {
  display: none;
}

.products-list .product_item .product_item--thumbnail .quickview {
  background-color: #fff;
  color: #212121;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  -webkit-transform: translate(0, 40px);
  transform: translate(0, 40px);
  z-index: 3;
}

.products-list .product_item .product_item--thumbnail .quickview:hover {
  background-color: #4241FF;
  color: #fff;
}

.products-list .product_item .product_item--thumbnail .quickview .labtn-icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  font-size: 22px;
}

.products-list .product_item .product_item--thumbnail .quickview .labtn-text {
  font-weight: normal;
  position: absolute;
  padding: 5px 12px;
  z-index: 3;
  opacity: 0;
  transition: opacity .2s, margin .3s;
  white-space: pre;
  font-size: 12px;
  font-family: sans-serif;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  line-height: 14px;
  top: -30px;
  margin-top: -12px;
  background-color: #fff;
  color: #212121;
}

.products-list .product_item .product_item--thumbnail .quickview .labtn-text:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  opacity: .9;
}

.products-list .product_item .product_item--thumbnail .quickview:hover .labtn-text {
  visibility: inherit;
  opacity: 1;
  margin-top: -5px;
}

.products-list .product_item .product_item--info {
  text-align: left;
  padding-left: 50px;
  float: left;
  width: 68%;
  padding-top: 0;
}

.products-list .product_item .item--excerpt {
  display: block;
  margin-bottom: 20px;
}

.products-list .product_item .product_item--info .labtn-icon-cart {
  display: none;
}

.products-list .product_item .product_item--info .button {
  line-height: 24px;
  padding: 16px 30px;
  text-transform: uppercase;
  border: none;
  vertical-align: top;
}

.products-list .product_item .product_item--info .button.quickview {
  display: none;
}

.products-list .product_item .product_item--info .la-addcart {
  margin-right: 15px;
  background-color: #212121;
}

.products-list .product_item .product_item--info .la-addcart:hover {
  background-color: #4241FF;
  color: #fff;
}

.products-list .product_item .product_item--info .add_compare,
.products-list .product_item .product_item--info .add_wishlist {
  width: 56px;
  height: 56px;
  padding: 0;
  line-height: 56px;
  font-size: 20px;
  background: none;
  color: inherit;
  position: relative;
}

.products-list .product_item .product_item--info .add_compare .labtn-icon,
.products-list .product_item .product_item--info .add_wishlist .labtn-icon {
  display: block;
}

.products-list .product_item .product_item--info .add_compare .labtn-text,
.products-list .product_item .product_item--info .add_wishlist .labtn-text {
  font-weight: normal;
  position: absolute;
  padding: 5px 12px;
  z-index: 3;
  opacity: 0;
  transition: opacity .2s, margin .3s;
  white-space: pre;
  font-size: 12px;
  font-family: sans-serif;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  line-height: 14px;
  top: -20px;
  margin-top: -12px;
  background-color: #212121;
  color: #fff;
  text-transform: none;
}

.products-list .product_item .product_item--info .add_compare .labtn-text:after,
.products-list .product_item .product_item--info .add_wishlist .labtn-text:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #212121;
  opacity: .9;
}

.products-list .product_item .product_item--info .add_compare:hover .labtn-text,
.products-list .product_item .product_item--info .add_wishlist:hover .labtn-text {
  visibility: inherit;
  opacity: 1;
  margin-top: 0;
}

.products-list .product_item .product_item--info .add_compare.added, .products-list .product_item .product_item--info .add_compare:hover,
.products-list .product_item .product_item--info .add_wishlist.added,
.products-list .product_item .product_item--info .add_wishlist:hover {
  color: #4241FF;
}

.products-list .product_item .product_item--title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.products-list .product_item .price {
  font-weight: normal;
  margin-bottom: 20px;
}

.products-list .product_item:hover .product_item--thumbnail .quickview {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.products-list .product_item:hover .item--overlay {
  opacity: .5;
}

.products-grid .product_item--info .product_item--action {
  display: none;
}

.products-grid .product_item--info .la-swatch-control {
  margin-top: 5px;
  line-height: 0;
  float: right;
}

.products-grid .product_item--info-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.products-grid .product_item--info-inner .star-rating {
  order: 2;
  margin-left: 0;
  margin-top: 10px;
}

.products-grid .product_item_thumbnail_action .wrap-addto {
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
  z-index: 2;
  text-align: center;
  margin-top: -25px;
}

.products-grid .product_item--action:hover .button {
  transition-delay: 0s !important;
}

.products-grid .button {
  background-color: #fff;
  color: #212121;
  border-radius: 50%;
  padding: 0;
  position: relative;
  margin: 5px;
  opacity: 0;
  -webkit-transform: translate(0, 40px);
  transform: translate(0, 40px);
  transition-delay: 100ms;
}

.products-grid .button + .button {
  transition-delay: 150ms;
}

.products-grid .button + .button + .button {
  transition-delay: 200ms;
}

.products-grid .button.added {
  background-color: #4241FF;
  color: #fff;
}

.products-grid .button:hover {
  background-color: #4241FF;
  color: #fff;
}

.products-grid .button .labtn-icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  font-size: 22px;
}

.products-grid .button .labtn-text {
  font-weight: normal;
  position: absolute;
  padding: 5px 12px;
  z-index: 3;
  opacity: 0;
  transition: opacity .2s, margin .3s;
  white-space: pre;
  font-size: 12px;
  font-family: sans-serif;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  line-height: 14px;
  top: -30px;
  margin-top: -12px;
  background-color: #fff;
  color: #212121;
}

.products-grid .button .labtn-text:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  opacity: .9;
}

.products-grid .button:hover .labtn-text {
  visibility: inherit;
  opacity: 1;
  margin-top: -5px;
}

.products-grid .labtn-icon-wishlist:before {
  content: "\ea09";
}

.products-grid .product_item--inner:hover .item--overlay {
  opacity: .5;
}

.products-grid .product_item--inner:hover .button {
  opacity: 1;
  transform: translate(0, 0);
}

/*
  $PRESET_PRODUCT_GRID_02
*/
@media (min-width: 1024px) {
  .products-grid-2 .product_item .product_item--info {
    position: absolute;
    padding: 20px;
    opacity: 0;
    bottom: -50px;
    left: 0;
    width: 100%;
    transition: all .4s;
    visibility: hidden;
    color: #fff;
  }
  .products-grid-2 .product_item .product_item--title,
  .products-grid-2 .product_item .product_item--title a {
    color: inherit;
  }
  .products-grid-2 .product_item:hover .product_item--info {
    opacity: 1;
    visibility: visible;
    bottom: 0;
  }
}

.products-grid.cover-img-bg .product_item--inner {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.products-grid.cover-img-bg .product_item--inner .product_item--thumbnail {
  -webkit-flex-grow: 2;
  flex-grow: 2;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}

.products-grid.cover-img-bg .product_item--inner .figure__object_fit {
  height: 100%;
}

.products-grid.cover-img-bg .product_item--inner .figure__object_fit img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products-grid.cover-img-bg .product_item--thumbnail-holder,
.products-grid.cover-img-bg .product_item--thumbnail-holder a {
  display: block;
  width: 100%;
  height: 100%;
}

/**
Hover second image
 */
.product_item--thumbnail .figure__object_fit > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product_item--thumbnail .p_img-second {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18);
  opacity: 0;
  width: 100%;
  height: 100%;
}

.product_item--thumbnail .p_img-second img {
  height: 100%;
  object-fit: cover;
}

.product_item.thumb-has-effect .product_item--thumbnail:hover .p_img-second {
  opacity: 1;
}

@media (max-width: 900px) {
  .products-grid .button {
    margin: 2px;
  }
  .products-grid .button .labtn-icon {
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
  }
  .products-grid .product_item--inner .button.la-quickview-button {
    display: none;
  }
}

@media (max-width: 767px) {
  .products-list .product_item .product_item--info {
    padding-left: 20px;
  }
  .products-list .product_item .product_item--title {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .products-list .product_item .price {
    margin-bottom: 10px;
  }
}

.woocommerce-product-gallery__actions {
  position: absolute;
  z-index: 2;
  right: 20px;
  bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.woocommerce-product-gallery__actions a {
  background: #fff;
  color: #000;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 19px;
  border-radius: 50%;
  display: block;
  margin: 5px;
  order: 2;
  transition: all .3s;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.15);
}

.woocommerce-product-gallery__actions a i {
  margin-top: -2px;
  vertical-align: middle;
}

.woocommerce-product-gallery__actions a span {
  display: inline-block;
}

.woocommerce-product-gallery__actions a.video-link-popup {
  font-size: 20px;
  order: 1;
}

.woocommerce-product-gallery__actions a:hover {
  background-color: #212121;
  color: #fff;
}

.rtl .woocommerce-product-gallery__actions {
  right: auto;
  left: 20px;
}

.woocommerce-product-gallery__wrapper embed,
.woocommerce-product-gallery__wrapper iframe,
.woocommerce-product-gallery__wrapper object,
.woocommerce-product-gallery__wrapper video {
  width: 100%;
  max-width: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100% !important;
}

.woocommerce-product-gallery__wrapper a[data-videolink^="http"] {
  display: block;
  position: relative;
  width: 100%;
  z-index: 9;
}

.la-woo-product-gallery > .woocommerce-product-gallery__trigger {
  position: absolute;
  top: 15px;
  right: 15px;
  line-height: 30px;
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  z-index: 2;
  text-align: center;
  text-indent: -999px;
  overflow: hidden;
  color: #ffffff;
}

.la-woo-product-gallery > .woocommerce-product-gallery__trigger:before {
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  content: "\f00e";
  line-height: inherit;
  text-indent: 0;
}

.la-woo-thumbs .la-thumb-inner {
  margin-left: -5px;
  margin-right: -5px;
}

.la-woo-thumbs .la-thumb {
  width: 70px;
  float: left;
  margin: 10px;
  border: none;
}

.la-woo-thumbs .la-thumb.slick-current.slick-active {
  border-width: 1px;
  border-style: solid;
  border-color: #979797;
}

.la-woo-thumbs .la-thumb:not(.slick-current) {
  border: 1px solid transparent;
}

.la-woo-thumbs .la-thumb:not(.slick-current) img {
  opacity: 0.8;
}

.la-woo-thumbs .la-thumb div {
  position: relative;
}

.la-woo-thumbs .la-thumb div:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 53, 56, 0.4);
}

.la-woo-thumbs .la-thumb .play-overlay {
  font-size: 30px;
  color: #fff;
  line-height: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  position: absolute;
}

.la-woo-thumbs .slick-arrow {
  font-size: 14px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  background: #fff;
  top: calc(50% - 15px);
  color: #000;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.15);
}

.la-woo-thumbs .slick-arrow i {
  margin-top: -2px;
  vertical-align: middle;
}

.la-woo-thumbs .slick-arrow.slick-disabled {
  opacity: 0;
}

.la-woo-thumbs .slick-vertical .slick-arrow {
  top: 100%;
  opacity: 1;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.la-woo-thumbs .slick-vertical .slick-prev {
  left: 15px;
}

.la-woo-thumbs .slick-vertical .slick-next {
  right: 15px;
}

.product-main-image {
  margin-bottom: 30px;
}

.product-main-image .p---large {
  position: relative;
}

.product-main-image img {
  width: 100%;
}

.product-main-image .la_woo_loading {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.product-main-image .la-woo-product-gallery {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.product-main-image img.zoomImg {
  display: none;
}

.product-main-image .swatch-loading {
  pointer-events: none;
  position: relative;
  overflow: hidden;
}

.product-main-image .swatch-loading .la_woo_loading {
  opacity: 1;
  visibility: visible;
}

.product-main-image .swatch-loading .la-woo-product-gallery {
  position: static !important;
}

.product-main-image .swatch-loading .la-woo-product-gallery .woocommerce-product-gallery__wrapper,
.product-main-image .swatch-loading .la-woo-thumbs .la-thumb-inner {
  opacity: 0.3;
}

.product-main-image .no-gallery .la-woo-thumbs {
  display: none;
}

@media (min-width: 991px) {
  .la-p-single-2 .product-main-image .la-woo-product-gallery {
    float: right;
    position: relative;
    width: 85%;
    width: calc(100% - 85px);
    width: -webkit-calc(100% - 85px);
  }
  .la-p-single-2 .product-main-image .la-woo-thumbs {
    position: relative;
    float: left;
    width: 70px;
  }
  .la-p-single-2 .no-gallery .la-woo-product-gallery {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .enable-main-fullwidth .la-p-single-2 .product-main-image .la-woo-product-gallery {
    float: right;
    position: relative;
    width: calc(100% - 160px);
    width: -webkit-calc(100% - 160px);
  }
  .enable-main-fullwidth .la-p-single-2 .product-main-image .la-woo-thumbs {
    position: relative;
    float: left;
    width: 140px;
  }
  .enable-main-fullwidth .la-p-single-2 .product-main-image .la-woo-thumbs .la-thumb-inner {
    margin: 0;
  }
  .enable-main-fullwidth .la-p-single-2 .product-main-image .la-woo-thumbs .la-thumb {
    margin: 0 0 20px;
  }
  .enable-main-fullwidth .la-p-single-2 .no-gallery .la-woo-product-gallery {
    width: 100%;
  }
}

.woocommerce-product-details__short-description {
  line-height: 2;
  padding-top: 5px;
  padding-bottom: 40px;
}

.product--summary {
  margin-bottom: 30px;
}

.product--summary .cart {
  margin-bottom: 15px;
}

.product--summary .cart:before {
  content: '';
  width: 100%;
  border-top: 1px solid rgba(204, 204, 204, 0.7);
  display: block;
  padding-top: 35px;
}

.product--summary .cart:after {
  content: '';
  width: 100%;
  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
  display: block;
  padding-top: 35px;
}

.product--summary .product_title {
  font-size: 32px;
  margin: 0 0 15px;
  line-height: 1.25;
}

.product--summary .woocommerce-product-rating {
  margin-bottom: 15px;
}

.product--summary .variations_form a.reset_variations {
  top: .6em;
}

.product--summary .variations_form .swatch-wrapper {
  border: none;
  margin: 0;
  font-size: 18px;
  width: 30px;
}

.product--summary .product-nextprev {
  float: right;
  line-height: 20px;
  font-size: 20px;
  margin-top: -50px;
}

.product--summary .product-nextprev a {
  display: inline-block;
}

.product--summary .product-nextprev a i {
  line-height: inherit;
  vertical-align: middle;
}

.product--summary .product-nextprev a + a {
  margin-left: 10px;
}

.product--summary .single-price-wrapper .price {
  font-size: 32px;
  line-height: 1;
  padding-top: 15px;
}

.product--summary .product_meta {
  margin-bottom: 30px;
  line-height: 2;
  font-size: 12px;
}

.product--summary .product_meta > span {
  display: block;
  margin-bottom: 5px;
}

.product--summary .product_meta a:hover {
  text-decoration: underline;
}

.product--summary .product_meta_sku_wrapper {
  margin-bottom: 40px;
  font-size: 0.875em;
}

.product--summary .product_meta_sku_wrapper .sku_wrapper {
  display: block;
}

.product--summary .woocommerce-product-details__short-description ul {
  list-style: inside circle;
  font-weight: 600;
}

.product--summary .woocommerce-product-details__short-description ul li {
  line-height: 28px;
  padding: 6px 0;
  font-size: 12px;
}

.product--summary .product-share-box {
  margin-left: -10px;
  margin-bottom: 40px;
}

.product--summary .product-share-box label {
  display: none;
}

.product--summary .social--sharing a {
  margin: 0 5px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
}

.product--summary .social--sharing a svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-top: -.2em;
}

.product--summary .single_add_to_cart_button {
  font-size: 16px;
  padding: 20px 30px;
  line-height: 20px;
  min-width: 150px;
}

.product--summary .single_add_to_cart_button.disabled {
  cursor: not-allowed;
}

.product--summary .group_table,
.product--summary .group_table td {
  border: none;
  padding: 0;
}

.product--summary .group_table tr {
  float: left;
  width: 100%;
  padding-left: 80px;
  position: relative;
  min-height: 60px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eceaea;
  padding-bottom: 10px;
}

.product--summary .group_table td:first-child {
  position: absolute;
  left: 0;
  width: auto;
  padding: 0;
}

.product--summary .group_table .stock {
  background: none;
  color: inherit;
  padding: 0 0 0 10px;
  display: inline;
  margin: 0 0 0 10px;
}

.product--summary .group_table .woocommerce-grouped-product-list-item__label {
  font-weight: 600;
}

.product--summary .group_table .woocommerce-grouped-product-list-item__price,
.product--summary .group_table .woocommerce-grouped-product-list-item__label {
  width: 100%;
  text-align: left;
  display: block;
  padding: 0 0 0 15px;
}

.product--summary .group_table .add_to_cart_button {
  padding: 10px;
  margin-top: 10px;
}

.product--summary .group_table .add_to_cart_button .labtn-icon {
  display: none;
}

.product--summary .group_table tr.product-type-variable {
  padding-left: 120px;
}

.product--summary .variations,
.product--summary .variations td {
  border: none;
}

.product--summary .variations td {
  padding: 0;
  display: inline-block;
}

.product--summary .variations td.label {
  display: inline-block;
  min-width: 100px;
  margin-bottom: 0;
  margin-top: 8px;
}

.product--summary .variations td.value {
  width: calc(100% - 110px);
}

.product--summary .variations .label .swatch-label {
  font-weight: bold;
}

.product--summary .variations .label .swatch-label:not(:empty):before {
  content: ":";
  margin-left: 5px;
  padding-right: 5px;
}

.product--summary .la-init-swatches .variations td {
  width: 100%;
}

.variations_form .swatch-control {
  display: block;
  float: left;
  width: 100%;
}

.wc-tabs-outer .comment-form-rating {
  clear: both;
}

.wc-tabs {
  padding: 0;
  margin: 0 0 40px;
}

.wc-tabs li {
  display: inline-block;
}

.wc-tabs li a {
  position: relative;
  display: block;
  padding: 15px 20px;
  line-height: 20px;
  font-size: 14px;
}

.wc-tab {
  margin-bottom: 0;
}

.wc-tab .wc-tab-title {
  display: none;
  position: relative;
  font-weight: 600;
}

.wc-tab .wc-tab-title:after {
  font-family: 'LaStudioIcons';
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\ea10";
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 12px;
  font-weight: normal;
}

.wc-tab .wc-tab-title a {
  display: block;
  padding: 13px 0;
}

.wc-tab.active .wc-tab-title:after {
  content: "\ea13";
}

.wc_tabs_at_bottom .wc-tabs-wrapper {
  margin-bottom: 80px;
}

.wc_tabs_at_bottom .wc-tabs {
  margin-top: 50px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wc_tabs_at_bottom .wc-tabs li {
  margin-right: 20px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.wc_tabs_at_bottom .wc-tabs li a {
  font-size: 18px;
  padding: 1.3em 1em;
  text-align: center;
  border: 1px solid #CCCCCC;
  line-height: 30px;
}

.wc_tabs_at_bottom .wc-tabs li:last-child {
  margin-right: 0;
}

.wc_tabs_at_bottom .wc-tabs li.active > a {
  font-weight: 700;
}

.wc_tabs_at_bottom .wc-tabs li.active > a:after {
  opacity: 1;
  width: 100%;
  height: 5px;
}

.wc_tabs_at_bottom .tab-content {
  line-height: 2;
}

.wc_tabs_at_bottom .tab-content ul li {
  margin-bottom: 20px;
  padding-left: 20px;
  position: relative;
}

.wc_tabs_at_bottom .entry-content ul {
  width: 80%;
}

.wc_tabs_at_bottom .entry-content ul, .wc_tabs_at_bottom .entry-content ol, .wc_tabs_at_bottom .entry-content p {
  margin-bottom: 40px;
}

.wc_tabs_at_top .la-wc-tabs-wrapper {
  margin-top: 40px;
}

.wc_tabs_at_top .wc-tabs {
  text-align: left;
}

.wc_tabs_at_top .wc-tabs li.active > a {
  background-color: #EFEFEF;
}

.wc_tabs_at_top .wc-tabs-outer {
  margin-bottom: 30px;
}

.woocommerce-tabs .woocommerce-Reviews-title {
  display: none;
}

#tab-additional_information table,
#tab-additional_information table th,
#tab-additional_information table td {
  border: none;
}

#tab-additional_information table th,
#tab-additional_information table td {
  padding: 2px 0;
}

#tab-additional_information p {
  margin: 0;
}

.la-custom-pright:before, .la-custom-pright:after {
  content: '';
  display: table;
}

.la-custom-pright .stock ~ .stock {
  display: none !important;
}

.custom-product-wrap {
  margin-bottom: 60px;
}

.custom-product-wrap .block_heading--title {
  margin-bottom: 50px;
  letter-spacing: -1px;
  text-align: center;
  border-top: 1px solid #D0D0D0;
  padding-top: 50px;
}

.la-p-single-3 .la-custom-pright::before, .la-p-single-3 .la-custom-pright::after {
  content: ' ';
  display: table;
  flex-basis: 0;
  order: 1;
}

.la-p-single-3 .la-custom-pright::after {
  clear: both;
}

.la-p-single-3 .product-main-image .la-woo-product-gallery {
  border: none;
}

.la-p-single-3 .woocommerce-product-gallery__image {
  margin-top: 10px;
}

.la-p-single-3 .woocommerce-product-gallery__image .video-link-popup {
  display: none;
}

.la-p-single-3 .woocommerce-product-gallery__image:first-child {
  margin-top: 0;
}

.la-p-single-3 .woocommerce-product-gallery__image:first-child .video-link-popup {
  display: block;
}

.la-p-single-3 .la-single-product-page .p-right.product--summary {
  position: static;
  margin-bottom: 0;
}

.la-p-single-4 .product--large-image:not(.no-gallery) .woocommerce-product-gallery__actions,
.la-p-single-3 .product--large-image:not(.no-gallery) .woocommerce-product-gallery__actions {
  bottom: auto;
  top: 20px;
  width: 100%;
  right: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.single-price-wrapper {
  margin-bottom: 30px;
}

/**
Quick View
**/
.lightcase-inlineWrap .la-single-product-page {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.lightcase-inlineWrap .la-p-single-wrap .woocommerce-product-gallery__wrapper a {
  display: block;
  pointer-events: none;
}

.lightcase-inlineWrap .la-p-single-wrap .product-main-image {
  margin-bottom: 0;
  padding: 0;
}

.lightcase-inlineWrap .la-p-single-wrap .product-main-image .la-woo-product-gallery {
  margin-bottom: 0;
}

.lightcase-inlineWrap .la-p-single-wrap .product-main-image .no-gallery .la-woo-product-gallery {
  margin-bottom: 0;
}

.lightcase-inlineWrap .la-p-single-wrap .product--summary {
  margin-bottom: 0;
}

@media (max-width: 1500px) {
  .lightcase-inlineWrap .la-p-single-wrap .product--summary {
    padding: 30px 30px 20px !important;
  }
}

@media (min-width: 1500px) {
  .lightcase-inlineWrap .la-p-single-wrap .product--summary {
    padding: 40px 35px 20px !important;
  }
}

.lightcase-inlineWrap .la-p-single-wrap .product--summary .product_title {
  margin-bottom: 5px;
  font-size: 22px;
}

.lightcase-inlineWrap .la-p-single-wrap .product--summary .single-price-wrapper .price {
  font-size: 18px;
}

.lightcase-inlineWrap .la-p-single-wrap .product--summary .woocommerce-product-rating {
  margin-bottom: 0;
}

.lightcase-inlineWrap .la-p-single-wrap .woocommerce-product-details__short-description {
  font-size: 12px;
}

.lightcase-inlineWrap .product-main-image .la-woo-thumbs {
  display: none;
}

.lightcase-inlineWrap .product-main-image .la-woo-product-gallery {
  width: 100% !important;
}

.lightcase-inlineWrap .product-main-image .woocommerce-product-gallery__image {
  min-height: 100%;
}

.lightcase-inlineWrap .product-main-image .woocommerce-product-gallery__image .g-overlay {
  padding-bottom: 125%;
  background-size: cover;
  display: block;
  background-position: center;
  min-height: 100%;
}

.lightcase-inlineWrap .product-main-image .woocommerce-product-gallery__image img {
  display: none;
}

.lightcase-inlineWrap .slick-slider .slick-arrow {
  background: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #000;
  font-size: 18px;
  top: 50%;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: -25px;
}

.lightcase-inlineWrap .slick-slider .slick-arrow i {
  vertical-align: middle;
}

#lightcase-case .woocommerce-product-gallery__wrapper .slick-list {
  min-height: 60vh;
}

.open-quickview-product #lightcase-case .lightcase-contentInner .lightcase-inlineWrap {
  padding: 0 !important;
}

.lightcase-contentInner .product--summary .product-nextprev {
  margin-top: -15px;
}

@media (min-width: 1441px) {
  .single-product.body-col-1c:not(.enable-main-fullwidth):not(.body-boxed) .site-main .la-p-single-2 .product-main-image .la-woo-thumbs {
    margin-left: -105px;
    width: 90px;
    top: -10px;
  }
  .single-product.body-col-1c:not(.enable-main-fullwidth):not(.body-boxed) .site-main .la-p-single-2 .product-main-image .la-woo-product-gallery {
    min-width: 100%;
    margin-bottom: 0;
  }
}

.lightcase-inlineWrap .woocommerce-product-gallery__wrapper > .woocommerce-product-gallery__image ~ .woocommerce-product-gallery__image,
.woocommerce-variation-availability p.stock.in-stock,
.pswp__caption {
  display: none;
}

.tab-content .shop_attributes {
  max-width: 100%;
}

.extradiv-after-frm-cart {
  padding-bottom: 30px;
}

.extradiv-after-frm-cart a {
  margin-right: 25px;
  font-size: 12px;
}

.extradiv-after-frm-cart i {
  font-size: 18px;
  padding-right: 5px;
  vertical-align: text-bottom;
}

.entry-summary p.stock.in-stock {
  padding-top: 10px;
  margin-bottom: 10px;
  color: #4241FF;
}

.entry-summary .wrap-cart-cta {
  display: inline-block;
  margin-right: 15px;
}

.entry-summary .wrap-cart-cta [id^="wc-stripe"] {
  display: none !important;
}

.entry-summary .add_compare,
.entry-summary .add_wishlist {
  position: relative;
  padding: 0;
  background: none;
  color: inherit;
  font-weight: normal;
}

.entry-summary .add_compare.added,
.entry-summary .add_wishlist.added {
  color: #4241FF;
}

.entry-summary .add_compare .labtn-icon,
.entry-summary .add_wishlist .labtn-icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  font-size: 24px;
}

.entry-summary .add_compare .labtn-text,
.entry-summary .add_wishlist .labtn-text {
  font-weight: normal;
  position: absolute;
  padding: 5px 12px;
  z-index: 3;
  opacity: 0;
  transition: opacity .2s, margin .3s;
  white-space: pre;
  font-size: 12px;
  font-family: sans-serif;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  line-height: 14px;
  top: -10px;
  margin-top: -12px;
  background-color: #212121;
  color: #fff;
}

.entry-summary .add_compare .labtn-text:after,
.entry-summary .add_wishlist .labtn-text:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #212121;
  opacity: .9;
}

.entry-summary .add_compare:hover .labtn-text,
.entry-summary .add_wishlist:hover .labtn-text {
  visibility: inherit;
  opacity: 1;
  margin-top: -5px;
}

.entry-summary .add_wishlist .labtn-icon {
  font-size: 20px;
}

.woocommerce-product-gallery__image {
  position: relative;
}

.woocommerce-product-gallery__image .video-link-popup {
  position: absolute;
  bottom: 25px;
  z-index: 2;
  background: #fff;
  right: 25px;
  color: #000;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  border-radius: 50%;
}

.woocommerce-product-gallery__image .video-link-popup i {
  vertical-align: middle;
  padding-left: 3px;
}

.la-p-single-1 .la-woo-thumbs {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.la-p-single-1 .la-woo-thumbs .slick-track {
  margin-left: auto;
  margin-right: auto;
}

.la-p-single-4 .product--large-image:not(.no-gallery) .la-woo-product-gallery .woocommerce-product-gallery__image {
  float: left;
  width: 50%;
  margin-bottom: 10px;
}

.la-p-single-4 .product--large-image:not(.no-gallery) .la-woo-product-gallery .woocommerce-product-gallery__image a {
  display: block;
  width: 100%;
}

.la-p-single-4 .product--large-image:not(.no-gallery) .la-woo-product-gallery .woocommerce-product-gallery__image a img {
  display: none;
}

.la-p-single-4 .product--large-image:not(.no-gallery) .la-woo-product-gallery .woocommerce-product-gallery__image .g-overlay {
  padding-bottom: 105%;
  display: block;
  background-size: cover;
  background-position: center center;
}

.la-p-single-4 .product--large-image:not(.no-gallery) .la-woo-product-gallery .woocommerce-product-gallery__image .video-link-popup {
  display: none;
}

.la-p-single-4 .product--large-image:not(.no-gallery) .la-woo-product-gallery .woocommerce-product-gallery__image:nth-child(3n+1) {
  width: 100%;
}

.la-p-single-4 .product--large-image:not(.no-gallery) .la-woo-product-gallery .woocommerce-product-gallery__image:nth-child(3n+1) .g-overlay {
  padding-bottom: 52.5%;
}

.la-p-single-4 .product--large-image:not(.no-gallery) .la-woo-product-gallery .woocommerce-product-gallery__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.la-p-single-4 .product--large-image:not(.no-gallery) .la-woo-product-gallery .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image {
  width: calc(50% - 5px);
}

.la-p-single-4 .product--large-image:not(.no-gallery) .la-woo-product-gallery .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image:nth-child(3n+1) {
  width: 100%;
}

.single-page-article .woocommerce-product-gallery__wrapper .slick-arrow {
  display: none !important;
}

.la-p-single-4 .product--large-image[data-totalg="2"] .la-woo-product-gallery .woocommerce-product-gallery__image .g-overlay {
  padding-bottom: 52.5% !important;
}

.force-disable-slider-script::before, .force-disable-slider-script::after {
  content: ' ';
  display: table;
  flex-basis: 0;
  order: 1;
}

.force-disable-slider-script::after {
  clear: both;
}

@media (max-width: 380px) {
  .entry-summary .wrap-cart-cta {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .custom-product-wrap .block_heading--title {
    letter-spacing: 0;
    margin-bottom: 30px;
    padding-top: 30px;
  }
  .wc-tab .wc-tab-title a {
    font-size: 16px;
    color: #262626;
  }
  .la-single-product-page .product--summary .product-nextprev {
    display: none;
  }
  .la-single-product-page form.cart.grouped_form {
    padding-top: 20px;
  }
  .la-single-product-page form.cart.grouped_form div.quantity .qty {
    padding: 10px;
    width: 60px;
  }
  .la-single-product-page .product--summary .grouped_form .woocommerce-grouped-product-list-item__quantity {
    border: none;
  }
  .la-single-product-page .product--summary .entry-summary {
    padding: 20px 0 0;
  }
}

.container-fluid.s_product_content_bottom {
  margin-left: 20px;
  margin-right: 20px;
}

.container-fluid.s_product_content_bottom .block_heading--title {
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: 1300px) {
  .container-fluid.s_product_content_bottom {
    margin-left: 50px;
    margin-right: 50px;
  }
  .container-fluid.s_product_content_bottom .block_heading--title {
    margin-left: -50px;
    margin-right: -50px;
  }
}

@media (min-width: 1600px) {
  .container-fluid.s_product_content_bottom {
    margin-left: 80px;
    margin-right: 80px;
  }
  .container-fluid.s_product_content_bottom .block_heading--title {
    margin-left: -80px;
    margin-right: -80px;
  }
}

.product--summary .commentlist .comment-text {
  padding: 20px;
}

@media (max-width: 1200px) {
  .product-main-image .la-woo-product-gallery {
    margin-bottom: 10px;
  }
  .product--summary .product_title {
    font-size: 26px;
  }
  .single-price-wrapper {
    margin-bottom: 10px;
  }
  .product--summary .single-price-wrapper .price {
    padding-top: 0;
    font-size: 26px;
  }
  .wc_tabs_at_bottom .wc-tabs {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .wc_tabs_at_bottom .wc-tabs-wrapper li a {
    padding: 15px;
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .wc_tabs_at_top .wc-tabs-wrapper .wc-tabs {
    display: none;
  }
  .wc_tabs_at_top .wc-tabs-wrapper .wc-tab {
    display: block !important;
  }
  .wc_tabs_at_top .wc-tabs-wrapper .wc-tab .tab-content {
    display: none;
    padding-top: 20px;
  }
  .wc_tabs_at_top .wc-tabs-wrapper .wc-tab.active .tab-content {
    display: block;
  }
  .wc_tabs_at_top .wc-tabs-wrapper .wc-tab-title {
    display: block;
  }
  .entry-summary .wrap-cart-cta .quantity .qty {
    min-width: 10px;
    width: 20px;
  }
}

@media (max-width: 767px) {
  .product--summary .single-price-wrapper .price,
  .product--summary .product_title {
    font-size: 20px;
  }
  .entry-summary .wrap-cart-cta .quantity .qty {
    width: 50px;
  }
  .product--summary .cart:before {
    padding-top: 20px;
  }
  .product--summary .cart:after {
    padding-top: 20px;
  }
  .product--summary .variations tr {
    margin-right: 0;
  }
  .woocommerce-product-details__short-description {
    padding-bottom: 20px;
  }
  .product--summary,
  .product-main-image {
    margin-bottom: 0;
  }
  .wc_tabs_at_bottom .wc-tabs-wrapper {
    margin-bottom: 0;
  }
  .wc_tabs_at_bottom .wc-tabs-wrapper .wc-tabs {
    display: none;
  }
  .wc_tabs_at_bottom .wc-tabs-wrapper .wc-tab {
    display: block !important;
  }
  .wc_tabs_at_bottom .wc-tabs-wrapper .wc-tab .tab-content {
    display: none;
    padding-top: 5px;
  }
  .wc_tabs_at_bottom .wc-tabs-wrapper .wc-tab.active .tab-content {
    display: block;
  }
  .wc_tabs_at_bottom .wc-tabs-wrapper .wc-tab-title {
    display: block;
  }
  .wc_tabs_at_bottom .entry-content ul,
  .wc_tabs_at_bottom .entry-content ol,
  .wc_tabs_at_bottom .entry-content p {
    margin-bottom: 20px;
  }
}

body.woocommerce-account:not(.logged-in) .page-content .woocommerce > h2 {
  text-align: center;
}

.u-columns.col2-set .woocommerce-form-login.login {
  margin: 0;
}

.la-myaccount-page {
  max-width: 570px;
  margin: 0 auto 50px;
}

.la-myaccount-page .la_tab_control {
  list-style: none;
  margin: 0 0 25px;
  padding: 0;
  font-size: 24px;
  text-align: center;
}

.la-myaccount-page .la_tab_control li {
  display: inline-block;
}

.la-myaccount-page .la_tab_control li.active {
  font-weight: bold;
}

.la-myaccount-page form .button {
  width: 100%;
  margin: 0 !important;
  display: block;
  line-height: 30px;
  padding: 15px 20px !important;
  border-width: 0;
}

.la-myaccount-page .form-row {
  margin-bottom: 20px;
}

.la-myaccount-page .form-row .input-text {
  height: 60px;
}

.la-myaccount-page .form-row label {
  margin: 5px 0 10px;
}

.la-myaccount-page .la-tab-panel {
  display: none;
}

.la-myaccount-page #la_tab--login {
  display: block;
}

.la-myaccount-page .la-checkbox {
  margin-top: 15px;
}

.la-myaccount-page .la-checkbox .lost_password {
  float: right;
}

.la-myaccount-page .la-checkbox input {
  display: none;
}

.la-myaccount-page .la-checkbox label {
  float: left;
  text-transform: none;
  color: inherit;
  position: relative;
  padding-left: 38px;
  line-height: 20px;
}

.la-myaccount-page .la-checkbox label:before {
  content: "";
  width: 19px;
  height: 19px;
  border: 2px solid;
  position: absolute;
  left: 0;
  color: #e4e4e4;
}

.la-myaccount-page .la-checkbox input:checked + label:after {
  content: "\f00c";
  font-family: FontAwesome;
  position: absolute;
  width: 19px;
  height: 19px;
  left: 0;
  text-align: center;
  line-height: 20px;
  font-weight: normal;
  color: #4fb3ec;
}

.la-myaccount-page .wc-social-login {
  margin-top: 50px;
  margin-bottom: 50px;
}

.la-myaccount-page .ywsl-label {
  text-transform: uppercase;
}

.la-myaccount-page .btn-create-account {
  display: block;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  text-transform: uppercase;
  padding: 18px 20px;
  font-weight: bold;
  border-color: #e4e4e4;
}

.socials-list {
  text-align: center;
}

.socials-list::before, .socials-list::after {
  content: ' ';
  display: table;
  flex-basis: 0;
  order: 1;
}

.socials-list::after {
  clear: both;
}

.socials-list .social_login {
  background-color: #f5f5f5;
  color: #8a8a8a;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  float: left;
  font-size: 11px;
  padding: 20px 20px;
  line-height: 20px;
  width: 23.875%;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
}

.socials-list .social_login:nth-child(4) {
  margin-right: 0;
}

.socials-list .social_login:hover {
  color: #fff;
  background-color: #4fb3ec;
}

.lost_reset_password {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
}

.woocommerce-login .woocommerce > h2 {
  max-width: 500px;
  margin: 0px auto 30px;
  font-size: 20px;
  position: relative;
  font-weight: 400;
  padding-left: 30px;
}

.woocommerce-login .woocommerce > h2:before {
  font-family: 'LaStudioIcons';
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f2c0";
  left: 0;
  position: absolute;
  z-index: 1;
}

form.lost_reset_password .form-row {
  width: 100%;
}

.woocommerce-MyAccount-navigation {
  width: 100%;
  background: #f7f7f7;
  margin-bottom: 2em;
  text-align: center;
}

.woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.woocommerce-MyAccount-navigation li {
  display: inline-block;
}

.woocommerce-MyAccount-navigation li a {
  display: block;
  padding: 10px 30px;
}

.woocommerce-MyAccount-navigation li:hover a, .woocommerce-MyAccount-navigation li.is-active a {
  background-color: #4241FF;
  color: #fff;
}

.woocommerce-MyAccount-content {
  width: 100%;
}

.woocommerce-address-fields__field-wrapper {
  overflow: hidden;
  margin-bottom: 20px;
}

.registration-form {
  margin-bottom: 30px;
}

.registration-form .form-row {
  margin-bottom: 40px;
}

.registration-form label {
  display: none;
}

.registration-form input {
  border: none;
  border-radius: 2px;
  font-size: 16px;
  width: 100%;
  color: #fff;
}

.registration-form .input-text {
  background-color: #134f8a;
  padding: 15px 40px;
  color: #487eb4;
}

.registration-form .input-text:focus {
  color: #fff;
}

.registration-form .button {
  text-transform: capitalize;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #4241FF;
}

.woocommerce-account .single-page-article .entry > .woocommerce > h2 {
  font-size: 20px;
  font-weight: normal;
}

.woocommerce-account .single-page-article .entry > .woocommerce > h2:before {
  content: '\ea6f';
  font-family: 'LaStudioIcons';
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: -4px;
  padding-right: 10px;
}

.woocommerce-account .single-page-article .entry > .woocommerce > h2,
.woocommerce-account .single-page-article .entry > .woocommerce > .woocommerce-form {
  width: 500px;
  max-width: 100%;
  margin: 0 auto 10px;
}

@media (min-width: 1400px) {
  .woocommerce-account .single-page-article .entry > .woocommerce > h2 .input-text,
  .woocommerce-account .single-page-article .entry > .woocommerce > .woocommerce-form .input-text {
    padding: 0 20px;
    height: 70px;
    line-height: 68px;
  }
}

.woocommerce-account .single-page-article .entry > .woocommerce > h2 {
  margin-top: 40px;
}

#customer_login {
  margin: 50px auto;
  width: 500px;
  max-width: 100%;
}

#customer_login p {
  margin-bottom: 15px;
  clear: both;
}

#customer_login .woocommerce-privacy-policy-text {
  margin-bottom: 15px;
}

#customer_login h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: normal;
  cursor: pointer;
}

#customer_login h2:before {
  content: '\ea6f';
  font-family: 'LaStudioIcons';
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: -4px;
  padding-right: 10px;
}

#customer_login h2 + form {
  display: none;
  margin-bottom: 30px;
}

@media (min-width: 1400px) {
  #customer_login .input-text {
    padding: 0 20px;
    height: 70px;
    line-height: 68px;
  }
}

#customer_login .col-1,
#customer_login .col-2 {
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
}

#customer_login .col-1.active form,
#customer_login .col-2.active form {
  display: block;
}

#customer_login .col-1:not(.active),
#customer_login .col-2:not(.active) {
  opacity: .5;
}

#customer_login .col-2 > h2:before {
  content: '\ea70';
}

form.lost_reset_password .button {
  border: none;
  padding: 15px 30px;
  min-width: 125px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

@media (min-width: 1400px) {
  form.lost_reset_password .input-text {
    padding: 0 20px;
    height: 70px;
    line-height: 68px;
  }
}

p.lost_password {
  color: #4241FF;
}

p.lost_password a:hover {
  text-decoration: underline;
}

.product_list_widget {
  list-style: none;
  margin: 0;
}

.product_list_widget li {
  position: relative;
}

.product_list_widget li::before, .product_list_widget li::after {
  content: ' ';
  display: table;
  flex-basis: 0;
  order: 1;
}

.product_list_widget li::after {
  clear: both;
}

.product_list_widget li + li {
  margin-top: 30px;
}

.product_list_widget li img {
  float: left;
  max-width: 70px;
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.product_list_widget a {
  display: block;
  line-height: normal;
  margin: 0 0 5px;
}

.product_list_widget .quantity {
  font-size: .857em;
}

.product_list_widget .quantity > .amount {
  margin-left: 5px;
}

.product_list_widget a.remove {
  display: block;
  font-weight: normal;
  font-size: 14px;
  height: 20px;
  line-height: 17px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: right;
  width: 20px;
  font-family: Verdana,sans-serif;
}

.product_list_widget dl {
  margin: 0;
  font-size: 12px;
}

.product_list_widget dl p {
  margin: 0;
}

.product_list_widget dl dd, .product_list_widget dl dt {
  display: inline-block;
  font-weight: normal;
}

.widget_shopping_cart_content::before, .widget_shopping_cart_content::after {
  content: ' ';
  display: table;
  flex-basis: 0;
  order: 1;
}

.widget_shopping_cart_content::after {
  clear: both;
}

.widget_shopping_cart_content .total {
  padding-top: 20px;
}

.cart-flyout {
  position: fixed;
  top: 0;
  width: 420px;
  padding: 50px;
  min-height: 100vh;
  bottom: 0;
  z-index: 111;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 250ms ease-in;
  -webkit-transform: translate(200px, 0);
  transform: translate(200px, 0);
  box-shadow: 0px 0px 87px 0px rgba(0, 0, 0, 0.09);
  background-color: #fff;
}

.cart-flyout .cart-flyout--inner {
  display: block;
  height: 100%;
  position: relative;
}

.cart-flyout .btn-close-cart {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  line-height: 36px;
}

.cart-flyout .btn-close-cart i {
  vertical-align: top;
}

.cart-flyout .btn-close-cart:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.cart-flyout .cart-flyout__content {
  padding-top: 50px;
}

.cart-flyout .cart_list {
  margin: 0 -30px 0 0;
  padding: 0 30px 0 0;
  max-height: calc(100vh - 430px);
  overflow: auto;
}

.cart-flyout .cart_list li.empty {
  padding: 50px 0;
}

.cart-flyout .cart-flyout__heading {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 600;
}

.cart-flyout .widget_shopping_cart_content {
  overflow: hidden;
  opacity: 1;
}

.cart-flyout .widget_shopping_cart_content .total {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.cart-flyout .widget_shopping_cart_content .total .amount {
  font-weight: bold;
}

.cart-flyout .widget_shopping_cart_content .button {
  width: 100%;
  margin: 10px 0 0;
  line-height: 24px;
  font-size: inherit;
}

.cart-flyout .cart-flyout__loading {
  text-align: center;
  display: block;
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.cart-flyout.cart-flyout--loading .cart-flyout__loading {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.cart-flyout.cart-flyout--loading .widget_shopping_cart_content {
  opacity: 0;
  transition: opacity 400ms ease-out;
}

.cart-flyout .product_list_widget li {
  padding-right: 15px;
}

.open-cart-aside.zephys-body {
  overflow: hidden;
}

.open-cart-aside .cart-flyout {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.open-cart-aside .la-overlay-global {
  visibility: visible;
  opacity: 0.7;
}

.shop_table th, .shop_table td {
  vertical-align: middle;
}

.shop_table.woocommerce-cart-form__contents {
  border: none;
}

.shop_table.woocommerce-cart-form__contents thead {
  background-color: #f7f7f7;
}

.shop_table.woocommerce-cart-form__contents th {
  border: none;
  padding: 10px 0;
}

.shop_table.woocommerce-cart-form__contents td {
  border-width: 0;
  padding: 20px 0;
}

.shop_table.woocommerce-cart-form__contents td.actions {
  border-width: 0;
}

.shop_table.woocommerce-cart-form__contents td.actions:before {
  content: '';
  display: block;
  border-top: 1px solid #DBDBDB;
  padding-bottom: 20px;
  opacity: 0.5;
}

.shop_table.woocommerce-cart-form__contents td.actions .button {
  float: right;
  min-width: 180px;
  cursor: pointer;
}

.shop_table.woocommerce-cart-form__contents .product-price,
.shop_table.woocommerce-cart-form__contents .product-quantity,
.shop_table.woocommerce-cart-form__contents .product-subtotal {
  text-align: center;
}

.shop_table td.product-subtotal {
  font-weight: 600;
  color: #EA622B;
}

.shop_table .product-quantity {
  width: 100px;
}

.shop_table .product-quantity .quantity {
  width: 50px;
  margin: 0 auto;
}

.shop_table .product-remove {
  width: 30px;
}

.shop_table .product-remove .remove {
  font-size: 0;
}

.shop_table .product-remove .remove:before {
  font-family: 'LaStudioIcons';
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\ea3a";
  font-size: 14px;
  line-height: 30px;
}

.shop_table .product-thumbnail {
  width: 90px;
}

.shop_table .product-thumbnail a {
  display: block;
  padding-right: 20px;
}

.shop_table dl {
  margin: 0;
}

.shop_table dl p {
  display: inline;
}

.shop_table dl dt, .shop_table dl dd {
  float: left;
  margin: 0;
}

.shop_table dl dt {
  clear: both;
  font-weight: normal;
}

.cart-collaterals .cart_totals .checkout-button {
  width: 100%;
  text-align: center;
}

.cart-collaterals .shop_table th {
  font-weight: 600;
}

.cart-collaterals .shop_table th,
.cart-collaterals .shop_table td {
  border: none;
  vertical-align: top;
}

.cart-collaterals .shop_table td {
  text-align: right;
}

.cart-collaterals .shop_table .amount {
  font-weight: 600;
}

.cart-collaterals .shipping li {
  margin-bottom: 10px;
}

.cart-collaterals .woocommerce-shipping-calculator .input-text:placeholder-shown {
  text-transform: uppercase;
  font-size: 12px;
}

.cart-collaterals h2 {
  font-size: inherit;
  font-weight: 600;
  padding: 10px 0;
  margin-bottom: 20px;
}

.cart-collaterals h2 + p {
  font-size: 12px;
}

.cart-collaterals .form-row {
  margin-bottom: 10px;
}

.btn-clear-cart {
  margin-right: 10px;
}

.woocommerce > .return-to-shop,
.woocommerce > p.cart-empty {
  text-align: center;
}

.woocommerce > p.cart-empty {
  font-size: 18px;
  margin-top: 50px;
}

.woocommerce > p.cart-empty:before {
  content: '';
  display: block;
  padding-top: 150px;
  margin-bottom: 10px;
  background-image: url(../images/shopping-cart.png);
  background-repeat: no-repeat;
  background-position: 48% 0;
  background-size: 140px auto;
}

.woocommerce > .return-to-shop {
  margin-bottom: 50px;
  padding-top: 10px;
}

.cart-collaterals .cart_totals .la-shipping-form {
  width: 100%;
  display: none !important;
}

.place-order .button,
.wc-proceed-to-checkout .button {
  font-size: 16px;
  display: block;
  cursor: pointer;
  padding: 20px 30px;
  transition: all 300ms ease;
  width: 100%;
  border-width: 0;
  line-height: 24px;
}

@media (min-width: 992px) {
  .custom-product-wrap.cross-sells {
    margin-top: 50px;
  }
}

.custom-product-wrap.cross-sells .block_heading--title {
  border: none;
}

.woocommerce-cart .woocommerce .cart_totals {
  background: #F9F9F9;
  padding: 30px 20px 0;
}

.cart_totals .wcppec-checkout-buttons__button {
  padding-top: 0;
}

@media (min-width: 992px) {
  .woocommerce-cart .woocommerce .cart-collaterals,
  .woocommerce-cart .woocommerce .woocommerce-cart-form {
    display: table-cell;
    vertical-align: top;
  }
  .woocommerce-cart .woocommerce .cart_totals {
    background: #F9F9F9;
    padding: 30px 30px 20px;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
  }
  .woocommerce-cart .woocommerce .cart-collaterals {
    min-width: 370px;
    padding: 0;
  }
  .woocommerce-cart .woocommerce .woocommerce-cart-form {
    width: 100%;
    padding-right: 30px;
  }
  .woocommerce-cart .woocommerce .cart-collaterals .input-text {
    height: 40px;
    line-height: 38px;
    text-transform: none;
    padding: 0 15px;
    background-color: #fff;
  }
  .woocommerce-cart .woocommerce .cart-collaterals .select2-container .select2-selection--single {
    height: 40px;
    border-radius: 0;
  }
  .woocommerce-cart .woocommerce .cart-collaterals .select2-container--default .select2-selection--single .select2-selection__rendered {
    margin-top: 5px;
    font-size: 12px;
    padding-left: 15px;
  }
  .woocommerce-cart .woocommerce .cart-collaterals .woocommerce-shipping-calculator {
    padding-top: 0;
  }
  .woocommerce-cart .woocommerce .cart-collaterals .order-total {
    border-top: 1px solid #DBDBDB;
  }
  .woocommerce-cart .woocommerce .shop_table.woocommerce-cart-form__contents {
    margin-top: 0;
  }
  .woocommerce-cart .woocommerce .shop_table.woocommerce-cart-form__contents thead {
    background: none;
    text-transform: uppercase;
    font-size: 11px;
  }
  .woocommerce-cart .woocommerce .shop_table.woocommerce-cart-form__contents dl {
    font-size: 12px;
  }
  .woocommerce-cart .woocommerce td.actions .coupon {
    display: inline-block;
    border-bottom: 1px solid #D8D8D8;
    width: 50%;
  }
  .woocommerce-cart .woocommerce td.actions .coupon label {
    display: none;
  }
  .woocommerce-cart .woocommerce td.actions .coupon .input-text {
    padding: 0 10px 0 0;
    border: none;
    height: 34px;
    font-size: 12px;
    width: auto;
    min-height: 34px;
  }
  .woocommerce-cart .woocommerce td.actions .btn {
    display: none;
  }
  .woocommerce-cart .woocommerce td.actions .button {
    background: none;
    padding: 0;
    min-width: 0;
    border: none;
    height: auto;
    text-transform: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 34px;
    color: #262626;
  }
  .woocommerce-cart .woocommerce td.actions .button:hover {
    color: #4241FF;
  }
}

.woocommerce-shipping-destination {
  margin-bottom: 10px;
}

@media (max-width: 1400px) and (min-width: 992px) {
  .woocommerce-cart .not-active-fullpage > .woocommerce .cart-collaterals {
    min-width: 300px;
  }
  .woocommerce-cart .not-active-fullpage > .woocommerce .cart_totals {
    padding: 20px 20px 0;
  }
  .woocommerce-cart .not-active-fullpage > .woocommerce .wc-proceed-to-checkout {
    margin-left: -20px;
    margin-right: -20px;
  }
  .woocommerce-cart .not-active-fullpage > .woocommerce .cart-collaterals .woocommerce-shipping-calculator {
    margin-left: -80px;
  }
}

@media (max-width: 767px) {
  .shop_table .product-thumbnail a {
    padding: 0;
  }
  .woocommerce table.wishlist_table .product-name,
  .shop_table.woocommerce-cart-form__contents .product-price,
  .shop_table.woocommerce-cart-form__contents .product-quantity,
  .shop_table.woocommerce-cart-form__contents .product-subtotal {
    text-align: right;
  }
  table.shop_table_responsive tbody th,
  table.shop_table_responsive thead {
    display: none;
  }
  table.shop_table_responsive tr td {
    display: block;
    text-align: right;
    clear: both;
    min-width: 100%;
    padding: 0 0 10px;
  }
  table.shop_table_responsive tr td[data-title]:before {
    content: attr(data-title) ": ";
    float: left;
    font-size: 13px;
    color: #212121;
  }
  table.shop_table_responsive dl dt, table.shop_table_responsive dl dd {
    display: inline-block;
    float: none;
  }
  .shop_table.woocommerce-cart-form__contents tr td.product-thumbnail {
    text-align: center;
  }
  .shop_table.woocommerce-cart-form__contents tr td.product-thumbnail img {
    max-width: 50px;
  }
  .shop_table.woocommerce-cart-form__contents tr td.product-remove {
    border-width: 0;
    padding: 0;
    text-align: left;
    position: relative;
  }
  .shop_table.woocommerce-cart-form__contents tr td {
    padding: 10px;
  }
  .shop_table.woocommerce-cart-form__contents tr td.product-remove a.remove {
    position: absolute;
    left: 10px;
    top: 21px;
  }
  .shop_table.woocommerce-cart-form__contents tr td.actions {
    overflow: hidden;
    padding: 10px 0;
  }
  form.track_order .button {
    width: 100%;
  }
  form.track_order .form-row .input-text {
    height: 55px;
  }
  .shop_table.woocommerce-cart-form__contents td.actions .button {
    width: 100%;
    margin-top: 10px;
  }
  .shop_table.woocommerce-cart-form__contents td.actions:before {
    display: none;
  }
  table.shop_table.cart.wishlist_table.shop_table_responsive tr,
  .shop_table.woocommerce-cart-form__contents tr {
    position: relative;
    display: block;
    padding-left: 100px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
    background: none;
    border: 1px solid #eee;
    margin-bottom: 17px;
    overflow: hidden;
  }
  table.shop_table.cart.wishlist_table.shop_table_responsive tr td,
  .shop_table.woocommerce-cart-form__contents tr td {
    padding: 0;
    width: auto;
    border: none;
    display: block;
    min-width: 0;
    text-align: left;
  }
  table.shop_table.cart.wishlist_table.shop_table_responsive tr td:before,
  .shop_table.woocommerce-cart-form__contents tr td:before {
    padding-right: 15px;
    font-size: 12px;
    line-height: 24px;
  }
  table.shop_table.cart.wishlist_table.shop_table_responsive tr td.product-remove,
  .shop_table.woocommerce-cart-form__contents tr td.product-remove {
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 2;
  }
  table.shop_table.cart.wishlist_table.shop_table_responsive tr td.product-remove a.remove,
  .shop_table.woocommerce-cart-form__contents tr td.product-remove a.remove {
    position: absolute;
    right: 0;
    left: auto;
    top: 0;
  }
  table.shop_table.cart.wishlist_table.shop_table_responsive tr td.product-thumbnail,
  .shop_table.woocommerce-cart-form__contents tr td.product-thumbnail {
    position: absolute;
    left: 15px;
    width: 70px;
    display: inline-block;
    top: 15px;
    bottom: 15px;
    overflow: hidden;
  }
  table.shop_table.cart.wishlist_table.shop_table_responsive tr td.product-thumbnail img,
  .shop_table.woocommerce-cart-form__contents tr td.product-thumbnail img {
    max-width: 100%;
  }
  table.shop_table.cart.wishlist_table.shop_table_responsive tr td.product-price,
  .shop_table.woocommerce-cart-form__contents tr td.product-price {
    display: none;
  }
  table.shop_table.cart.wishlist_table.shop_table_responsive tr td.product-price, table.shop_table.cart.wishlist_table.shop_table_responsive tr td.product-subtotal,
  .shop_table.woocommerce-cart-form__contents tr td.product-price,
  .shop_table.woocommerce-cart-form__contents tr td.product-subtotal {
    font-size: 14px;
  }
  table.shop_table.cart.wishlist_table.shop_table_responsive tr td.product-name:before,
  .shop_table.woocommerce-cart-form__contents tr td.product-name:before {
    display: none;
  }
  table.shop_table.cart.wishlist_table.shop_table_responsive tr div.quantity .qty,
  .shop_table.woocommerce-cart-form__contents tr div.quantity .qty {
    height: 20px;
    min-height: 20px;
    padding: 0;
    width: 40px;
    font-size: 13px;
    line-height: 20px;
  }
  table.shop_table.cart.wishlist_table.shop_table_responsive tr div.quantity span,
  .shop_table.woocommerce-cart-form__contents tr div.quantity span {
    display: none;
  }
  table.shop_table.cart.wishlist_table.shop_table_responsive tr .actions label,
  .shop_table.woocommerce-cart-form__contents tr .actions label {
    display: none;
  }
  .cart.shop_table.woocommerce-cart-form__contents tr:not(.cart_item) {
    padding: 0;
    border: none;
  }
  .cart-collaterals .shipping li {
    font-size: 13px;
  }
  .cart-collaterals .wc-proceed-to-checkout {
    margin-left: -20px;
    margin-right: -20px;
    overflow: hidden;
  }
  .cart-collaterals h2 {
    font-size: 24px;
    margin: 0 0 20px;
    padding: 0;
  }
  .shop_table.woocommerce-cart-form__contents {
    margin-bottom: 0;
  }
}

form.checkout_coupon.woocommerce-form-coupon {
  overflow: hidden;
  padding-bottom: 30px;
}

form.woocommerce-checkout {
  position: relative;
}

form.woocommerce-checkout #customer_details {
  margin: 0;
}

form.woocommerce-checkout #customer_details .col-1,
form.woocommerce-checkout #customer_details .col-2 {
  width: 100%;
  padding: 0;
}

form.woocommerce-checkout #order_review_heading {
  margin-top: 40px;
}

form.woocommerce-checkout .woocommerce-shipping-fields {
  margin-top: 30px;
}

form.woocommerce-checkout .woocommerce-additional-fields {
  clear: both;
}

form.woocommerce-checkout h3 {
  font-size: 20px;
}

form.woocommerce-checkout h3#ship-to-different-address {
  font-size: inherit;
}

@media (min-width: 992px) {
  form.woocommerce-checkout #customer_details {
    float: left;
    width: 50%;
  }
  form.woocommerce-checkout #order_review_heading {
    float: right;
    width: 40%;
    margin-right: 30px;
  }
  form.woocommerce-checkout #order_review {
    float: right;
    width: 40%;
    position: relative;
    margin-right: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  form.woocommerce-checkout #order_review:before {
    content: "";
    border: 2px solid rgba(52, 53, 56, 0.1);
    position: absolute;
    top: -80px;
    right: -30px;
    left: -30px;
    bottom: -10px;
    z-index: -1;
  }
  form.woocommerce-checkout .place-order .button {
    width: calc(100% + 60px);
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -10px;
  }
}

.woocommerce-checkout .woocommerce-terms-and-conditions h1,
.woocommerce-checkout .woocommerce-terms-and-conditions h2,
.woocommerce-checkout .woocommerce-terms-and-conditions h3,
.woocommerce-checkout .woocommerce-terms-and-conditions h4,
.woocommerce-checkout .woocommerce-terms-and-conditions h5,
.woocommerce-checkout .woocommerce-terms-and-conditions p {
  margin-bottom: 10px;
  font-size: inherit;
}

ul.wc-item-meta {
  margin-top: 5px;
  margin-bottom: 5px;
}

ul.wc-item-meta p {
  display: inline;
}

/*------------------------------------------------------------------
Woo Quantity Buttons
-------------------------------------------------------------------*/
.quantity {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  zoom: 1;
}

.quantity .qty {
  -moz-appearance: textfield;
  /* hack firefox */
  -webkit-appearance: none;
  border: none;
  color: inherit;
  padding: 0;
  text-align: center;
}

.quantity .qty-minus,
.quantity .qty-plus {
  cursor: pointer;
}

.quantity .qty-minus i,
.quantity .qty-plus i {
  margin-top: -2px;
  vertical-align: middle;
}

.quantity input::-webkit-outer-spin-button {
  display: none;
}

.quantity input::-webkit-inner-spin-button {
  display: none;
}

.wrap-cart-cta .quantity {
  font-weight: bold;
  font-size: 14px;
  color: #111111;
  margin-right: 10px;
  display: inline-block;
}

.wrap-cart-cta .quantity .qty-minus,
.wrap-cart-cta .quantity .qty-plus {
  font-size: 20px;
}

.grouped_form .quantity {
  font-weight: bold;
  font-size: 14px;
  color: #111111;
  width: 70px;
}

.grouped_form .quantity .qty-minus,
.grouped_form .quantity .qty-plus {
  font-size: 20px;
}

/*------------------------------------------------------------------
Woo Product Navigation
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
Woo Responsive
-------------------------------------------------------------------*/
@media (max-width: 768px) {
  .wc-toolbar .wc-toolbar-left {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .wc-toolbar .wc-toolbar-left button {
    margin: 0;
  }
  .wc-toolbar .wc-toolbar-right {
    width: 100%;
  }
  .wc-toolbar .wc-ordering button {
    margin-left: 0;
  }
  .wc-toolbar .wc-ordering ul {
    left: 0;
    right: auto;
    margin-left: 0;
  }
  .wc-toolbar .wc-view-count {
    float: right;
    margin: 0 -5px 0 0;
  }
}