.lastudio-elements {
	select {
		-webkit-appearance: none;
		-moz-appearance:    none;
		appearance:         none;
		width: 100%;
	}
}

.elementor-widget:not(:last-child){
	margin-bottom: 0;
}

.elementor-sticky--active{
	z-index: 3;
}
.elementor-motion-effects-element, .elementor-motion-effects-layer{
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	-o-transition-property: transform, opacity;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	-webkit-transition-timing-function: cubic-bezier(0, .33, .07, 1.03);
	-o-transition-timing-function: cubic-bezier(0, .33, .07, 1.03);
	transition-timing-function: cubic-bezier(0, .33, .07, 1.03);
	-webkit-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s
}
.elementor-motion-effects-container{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
}
.elementor-motion-effects-layer{
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover
}
.elementor-motion-effects-perspective{
	-webkit-perspective: 1200px;
	perspective: 1200px
}

@media (max-width: 1600px) {
	.elementor-widget.elementor-laptop-align-center .elementor-icon-list-item,
	.elementor-widget.elementor-laptop-align-center .elementor-icon-list-item a
	,.elementor-widget.elementor-laptop-align-center .elementor-icon-list-items {
		-webkit-box-pack:center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center
	}

	.elementor-widget.elementor-laptop-align-center .elementor-icon-list-item:after {
		margin: auto
	}

	.elementor-widget.elementor-laptop-align-left .elementor-icon-list-items {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}

	.elementor-widget.elementor-laptop-align-left .elementor-icon-list-item,
	.elementor-widget.elementor-laptop-align-left .elementor-icon-list-item a {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: left
	}

	.elementor-widget.elementor-laptop-align-right .elementor-icon-list-items {
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end
	}

	.elementor-widget.elementor-laptop-align-right .elementor-icon-list-item,
	.elementor-widget.elementor-laptop-align-right .elementor-icon-list-item a {
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: right
	}

	.elementor-widget:not(.elementor-laptop-align-right) .elementor-icon-list-item:after {
		left: 0
	}

	.elementor-widget:not(.elementor-laptop-align-left) .elementor-icon-list-item:after {
		right: 0
	}
}

@media (max-width: 800px) {
	.elementor-widget.elementor-tabletportrait-align-center .elementor-icon-list-item,
	.elementor-widget.elementor-tabletportrait-align-center .elementor-icon-list-item a,
	.elementor-widget.elementor-tabletportrait-align-center .elementor-icon-list-items {
		-webkit-box-pack:center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center
	}

	.elementor-widget.elementor-tabletportrait-align-center .elementor-icon-list-item:after {
		margin: auto
	}

	.elementor-widget.elementor-tabletportrait-align-left .elementor-icon-list-items {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}

	.elementor-widget.elementor-tabletportrait-align-left .elementor-icon-list-item,
	.elementor-widget.elementor-tabletportrait-align-left .elementor-icon-list-item a {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: left
	}

	.elementor-widget.elementor-tabletportrait-align-right .elementor-icon-list-items {
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end
	}

	.elementor-widget.elementor-tabletportrait-align-right .elementor-icon-list-item,
	.elementor-widget.elementor-tabletportrait-align-right .elementor-icon-list-item a {
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: right
	}

	.elementor-widget:not(.elementor-tabletportrait-align-right) .elementor-icon-list-item:after {
		left: 0
	}

	.elementor-widget:not(.elementor-tabletportrait-align-left) .elementor-icon-list-item:after {
		right: 0
	}
}

@media (min-width: 640px) and (max-width:800px) {
	.elementor:not(.elementor-edit-area-active) .elementor-hidden-tabletportrait {
		display:none
	}
}

@media (min-width: 800px) and (max-width:1024px) {
	.elementor:not(.elementor-edit-area-active) .elementor-hidden-tablet {
		display:none
	}
}