.products-grid .slick-arrow {
  bottom: 50%;
}

.prods_masonry li.product_item {
  opacity: 0;
}

.item--overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 250ms ease-out;
}

.products {
  list-style: none;
  padding: 0;
  margin: 0 -15px;
  &.products-list {
    .item-inner {
      @include clearfix;
    }
  }

  .product-category {
    img {
      width: 100%;
      -webkit-transition: opacity 0.35s, -webkit-transform 1s;
      transition: opacity 0.35s, transform 1s;
    }
    .count {
      display: none;
    }
  }
}

.labtn-icon {
  @include lastudio-icon()
}

.labtn-icon-quickview {
  &:before {
    content: "\ea2a";
  }
}

.labtn-icon-wishlist {
  &:before {
    content: "\ea2b";
    .added & {
      content: "\ea09";
    }
  }
}

.labtn-icon-compare {
  &:before {
    content: "\ea26";
  }
}

.labtn-icon-cart {
  &:before {
    content: "\ea07";
  }
}

.catalog-grid-1{
  &.grid-space-default{
    .product-category{
      margin-bottom: 30px;
    }
  }
  .product-category{
    .cat-information{
      position: absolute;
      width: 100%;
      bottom: 40px;
      left: 0;
      text-align: center;
    }
    .woocommerce-loop-category__title{
      display: inline-block;
      font-size: 12px;
      text-transform: uppercase;
      background-color: #fff;
      margin: 0;
      padding: 20px 30px;
      line-height: 20px;
      min-width: 160px;
      text-align: center;
    }
    .item--overlay{
      visibility: visible;
      opacity: 0.9;
      background-color: transparent;
      transition: all 450ms ease-out;
    }
    a{
      display: block;
      position: relative;
      overflow: hidden;
      &:hover{
        img{
          @include scale(1.2);
        }
        .item--overlay{
          background-color: rgba(#343538, 0.2);
        }
      }
    }
  }
}

.product_item--thumbnail .elementor-lastudio-countdown-timer {
  position: absolute;
  bottom: 40px;
  z-index: 2;
  width: 100%;
  left: 0;
  .lastudio-countdown-timer__item{
    background-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 5px;
    .lastudio-countdown-timer__item-value{
      font-size: 20px;
      line-height: 1;
    }
    .lastudio-countdown-timer__item-label{
      font-size: 12px;
      color: #989898;
      line-height: 1;
      text-transform: lowercase;
    }
  }
}

.product_item--info{
  .elementor-lastudio-countdown-timer{
    display: none;
  }
  .la-custom-badge{
    display: none !important;
  }
}


.product_item{
  .item--overlay{
    background-color: $secondary-color;
    z-index: 2;
  }
  .product_item--thumbnail{
    position: relative;
    z-index: 2;
  }
  .product_item--thumbnail-holder{
    text-align: center;
    .pic-m-fallback{
      background: {
        position: center 20%;
        repeat: no-repeat;
        size: cover;
        color: rgba(#c9c9ca, 0.14);
      }
    }
    a{
      display: block;
      img{
        width: 100%;
        display: block;
      }
    }
  }

  .product_item--title{
    font-size: 16px;
    margin: 0 0 5px;
    line-height: inherit;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product_item--info{
    position: relative;
    z-index: 2;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .added_to_cart {
    display: none;
  }
  .product_item--category-link,
  .item--excerpt{
    display: none;
  }
  .star-rating{
    ~ .star-rating{
      display: none;
    }
  }
  &.prod-rating-off{
    .star-rating{
      display: none !important;
    }
  }
  .price{
    line-height: 20px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
  }
  .swatch-wrapper {
    float: none;
    display: inline-block;
    padding: 0;
    border-width: 0;
    margin: 0 2px 2px;
    &:not(.swatch-only-label){
      @include border-radius(50%);
      .swatch-anchor{
        max-width: 12px;
        max-height: 12px;
        @include border-radius(50%);
      }
    }
    &.swatch-only-label{
      .swatch-anchor {
        line-height: normal !important;
        min-height: 0 !important;
        min-width: 0 !important;
      }
    }
  }
}

.products-list{
  .product_item{
    width: 100%;
    .product_item--thumbnail {
      float: left;
      width: 32%;
      .button:not(.quickview){
        display:none;
      }
      .quickview{
        background-color: #fff;
        color: $secondary-color;
        border-radius: 50%;
        padding: 0;
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
        @include translate2d(0, 40px);
        z-index: 3;
        &:hover{
          background-color: $primary-color;
          color: #fff;
        }
        .labtn-icon{
          width: 50px;
          height: 50px;
          line-height: 50px;
          display: inline-block;
          font-size: 22px;
        }
        .labtn-text{
          font-weight: normal;
          position: absolute;
          padding: 5px 12px;
          z-index: 3;
          opacity: 0;
          transition: opacity .2s, margin .3s;
          white-space: pre;
          font-size: 12px;
          font-family: sans-serif;
          @include translateX(-50%);
          left: 50%;
          line-height: 14px;
          top: -30px;
          margin-top: -12px;
          background-color: #fff;
          color: $secondary-color;
          &:after{
            content: "";
            position: absolute;
            bottom: -5px;
            left: 50%;
            @include translateX(-50%);
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #fff;
            opacity: .9;
          }

        }
        &:hover{
          .labtn-text{
            visibility: inherit;
            opacity: 1;
            margin-top: -5px;
          }
        }
      }
    }
    .product_item--info {
      text-align: left;
      padding-left: 50px;
      float: left;
      width: 68%;
      padding-top: 0;
    }
    .item--excerpt{
      display: block;
      margin-bottom: 20px;
    }
    .product_item--info{
      .labtn-icon-cart{
        display:none;
      }
      .button{
        line-height: 24px;
        padding: 16px 30px;
        text-transform: uppercase;
        border: none;
        vertical-align: top;
        &.quickview{
          display:none;
        }
      }
      .la-addcart{
        margin-right:15px;
        background-color: $secondary-color;
        &:hover{
          background-color: $primary-color;
          color:#fff;
        }
      }
      .add_compare,
      .add_wishlist{
        width: 56px;
        height: 56px;
        padding: 0;
        line-height: 56px;
        font-size: 20px;
        background: none;
        color: inherit;
        position: relative;
        .labtn-icon{
          display: block;
        }
        .labtn-text{
          font-weight: normal;
          position: absolute;
          padding: 5px 12px;
          z-index: 3;
          opacity: 0;
          transition: opacity .2s, margin .3s;
          white-space: pre;
          font-size: 12px;
          font-family: sans-serif;
          @include translateX(-50%);
          left: 50%;
          line-height: 14px;
          top: -20px;
          margin-top: -12px;
          background-color: $secondary-color;
          color: #fff;
          text-transform:none;
          &:after{
            content: "";
            position: absolute;
            bottom: -5px;
            left: 50%;
            @include translateX(-50%);
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $secondary-color;
            opacity: .9;
          }
        }
        &:hover{
          .labtn-text{
            visibility: inherit;
            opacity: 1;
            margin-top: 0;
          }
        }
        &.added,
        &:hover{
          color: $primary-color;
        }
      }
    }
    .product_item--title{
      font-size: 18px;
      font-weight:600;
      margin-bottom:15px;
    }
    .price{
      font-weight:normal;
      margin-bottom:20px;
    }
    &:hover{
      .product_item--thumbnail{
        .quickview{
          opacity:1;
          @include translate2d(0,0);
        }
      }
      .item--overlay{
        opacity:.5;
      }
    }

  }
}

.products-grid{
  .product_item--info {
    .product_item--action {
      display: none;
    }
    .la-swatch-control {
      margin-top: 5px;
      line-height: 0;
      float: right;
    }
  }
  .product_item--info-inner{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    .star-rating{
      order: 2;
      margin-left: 0;
      margin-top: 10px;
    }
  }
  .product_item_thumbnail_action{
    .wrap-addto{
      position: absolute;
      right: 0;
      top: 50%;
      width: 100%;
      z-index: 2;
      text-align: center;
      margin-top: -25px;
    }
  }
  .product_item--action:hover{
    .button{
      @include transition-delay(0s !important);
    }
  }
  .button{
    background-color: #fff;
    color: $secondary-color;
    border-radius: 50%;
    padding: 0;
    position: relative;
    margin: 5px;
    opacity: 0;
    @include translate2d(0, 40px);
    @include transition-delay(100ms);
    + .button {
      @include transition-delay(150ms);
      + .button {
        @include transition-delay(200ms);
      }
    }
    &.added{
      background-color: $primary-color;
      color: #fff;
    }
    &:hover{
      background-color: $primary-color;
      color: #fff;
    }
    .labtn-icon{
      width: 50px;
      height: 50px;
      line-height: 50px;
      display: inline-block;
      font-size: 22px;
    }
    .labtn-text{
      font-weight: normal;
      position: absolute;
      padding: 5px 12px;
      z-index: 3;
      opacity: 0;
      transition: opacity .2s, margin .3s;
      white-space: pre;
      font-size: 12px;
      font-family: sans-serif;
      @include translateX(-50%);
      left: 50%;
      line-height: 14px;
      top: -30px;
      margin-top: -12px;
      background-color: #fff;
      color: $secondary-color;
      &:after{
        content: "";
        position: absolute;
        bottom: -5px;
        left: 50%;
        @include translateX(-50%);
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        opacity: .9;
      }

    }
    &:hover{
      .labtn-text{
        visibility: inherit;
        opacity: 1;
        margin-top: -5px;
      }
    }
  }
  .labtn-icon-wishlist{
    &:before{
      content: "\ea09";
    }
  }
  .product_item--inner{
    &:hover{
      .item--overlay{
        opacity:.5;
      }
      .button{
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
}
/*
  $PRESET_PRODUCT_GRID_02
*/

@media(min-width: 1024px){
  .products-grid-2{
    .product_item{
      .product_item--info{
        position: absolute;
        padding: 20px;
        opacity: 0;
        bottom: -50px;
        left: 0;
        width: 100%;
        transition: all .4s;
        visibility: hidden;
        color: #fff;
      }
      .product_item--title{
        &,
        a{
          color: inherit;
        }
      }
      &:hover{
        .product_item--info{
          opacity: 1;
          visibility: visible;
          bottom: 0;
        }
      }
    }
  }
}

.products-grid.cover-img-bg{
  .product_item--inner{
    height: 100%;
    @include display;
    @include flex-flow(column nowrap);
    .product_item--thumbnail{
      @include flex-grow(2);
      @include flex-basis(100%);
    }
    .figure__object_fit{
      height: 100%;
      img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .product_item--thumbnail-holder{
    &,
    & a{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

/**
Hover second image
 */
.product_item--thumbnail{
  .figure__object_fit{
     > div{
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
     }
  }
  .p_img-second{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18);
    opacity: 0;
    width: 100%;
    height: 100%;
    img{
      height: 100%;
      object-fit: cover;
    }
  }
}

.product_item.thumb-has-effect{
  .product_item--thumbnail:hover{
    .p_img-second{
      opacity: 1;
    }
  }
}

@media(max-width: 900px){
  .products-grid .button{
    margin: 2px;
    .labtn-icon{
      width: 46px;
      height: 46px;
      line-height: 46px;
      font-size: 16px;
    }
  }
  .products-grid .product_item--inner .button.la-quickview-button {
    display: none;
  }
}

@media(max-width: 767px){
  .products-list{
    .product_item{
      .product_item--info {
        padding-left: 20px;
      }
      .product_item--title{
        margin-bottom: 5px;
        font-size: 16px;
      }
      .price{
        margin-bottom: 10px;
      }
    }
  }
}