form.checkout_coupon.woocommerce-form-coupon {
  overflow: hidden;
  padding-bottom: 30px;
}

form.woocommerce-checkout{
  position: relative;
  #customer_details{
    margin: 0;
    .col-1,
    .col-2{
      width: 100%;
      padding: 0;
    }
  }
  #order_review_heading {
    margin-top: 40px;
  }
  .woocommerce-shipping-fields {
    margin-top: 30px;
  }
  .woocommerce-additional-fields {
    clear: both;
  }
  h3{
    font-size: 20px;
    &#ship-to-different-address {
      font-size: inherit;
    }
  }

}

@media(min-width: 992px){
  form.woocommerce-checkout{
    #customer_details {
      float: left;
      width: 50%;
    }
    #order_review_heading {
      float: right;
      width: 40%;
      margin-right: 30px;
    }
    #order_review {
      float: right;
      width: 40%;
      position: relative;
      margin-right: 30px;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      &:before{
        content: "";
        border: 2px solid rgba(52, 53, 56, 0.1);
        position: absolute;
        top: -80px;
        right: -30px;
        left: -30px;
        bottom: -10px;
        z-index: -1;
      }
    }
    .place-order .button {
      width: calc(100% + 60px);
      margin-left: -30px;
      margin-right: -30px;
      margin-bottom: -10px;
    }
  }
}
.woocommerce-checkout{
  .woocommerce-terms-and-conditions{
    h1,
    h2,
    h3,
    h4,
    h5,
    p{
      margin-bottom: 10px;
      font-size: inherit;
    }
  }
}

ul.wc-item-meta{
  margin-top: 5px;
  margin-bottom: 5px;
  p {
    display: inline;
  }
}