/*------------------------------------------------------------------
Woo Quantity Buttons
-------------------------------------------------------------------*/
.quantity {
	@include display();
	@include align-items(center);
	zoom: 1;
	.qty{
		-moz-appearance: textfield; /* hack firefox */
		-webkit-appearance: none;
		border: none;
		color: inherit;
		padding: 0;
		text-align: center;
	}
	.qty-minus,
	.qty-plus{
		cursor: pointer;
		i{
			margin-top: -2px;
			vertical-align: middle;
		}
	}
	input::-webkit-outer-spin-button {
		display: none;
	}

	input::-webkit-inner-spin-button {
		display: none;
	}
}
.wrap-cart-cta{
	.quantity{
		font-weight: bold;
		font-size: 14px;
		color: #111111;
		margin-right: 10px;
		display: inline-block;
		.qty-minus,
		.qty-plus{
			font-size: 20px;
		}
	}
}
.grouped_form{
	.quantity{
		font-weight: bold;
		font-size: 14px;
		color: #111111;
		width: 70px;
		.qty-minus,
		.qty-plus{
			font-size: 20px;
		}
	}
}