/*------------------------------------------------------------------
Woo Responsive
-------------------------------------------------------------------*/

@media(max-width: 768px){
  .wc-toolbar{
    .wc-toolbar-left{
      width: 100%;
      overflow: hidden;
      margin-bottom: 10px;
      button {
        margin: 0;
      }
    }
    .wc-toolbar-right{
      width: 100%;
    }
    .wc-ordering{
      button{
        margin-left: 0;
      }
      ul{
        left: 0;
        right: auto;
        margin-left: 0;
      }
    }
    .wc-view-count{
      float: right;
      margin: 0 -5px 0 0;
    }
  }
}