.woocommerce-product-gallery__actions {
  position: absolute;
  z-index: 2;
  right: 20px;
  bottom: 15px;
  @include display();
  @include flex-direction(column);
  a {
    background: #fff;
    color: #000;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 19px;
    border-radius: 50%;
    display: block;
    margin: 5px;
    order: 2;
    transition: all .3s;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.15);
    i{
      margin-top: -2px;
      vertical-align: middle;
    }
    span{
      display: inline-block;
    }
    &.video-link-popup{
      font-size: 20px;
      order: 1;
    }
    &:hover{
      background-color: $secondary-color;
      color: #fff;
    }
  }
  .rtl & {
    right: auto;
    left: 20px;
  }
}

.woocommerce-product-gallery__wrapper{
  embed,
  iframe,
  object,
  video{
    width: 100%;
    max-width: 100%;
    position: absolute!important;
    top: 0;
    left: 0;
    height: 100%!important;
  }
  a[data-videolink^="http"] {
    display: block;
    position: relative;
    width: 100%;
    z-index: 9;
  }
}

.la-woo-product-gallery{
  > .woocommerce-product-gallery__trigger {
    position: absolute;
    top: 15px;
    right: 15px;
    line-height: 30px;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    z-index: 2;
    text-align: center;
    text-indent: -999px;
    overflow: hidden;
    color: #ffffff;
    &:before{
      font-family: FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: block;
      content: "\f00e";
      line-height: inherit;
      text-indent: 0;
    }
  }
}

.la-woo-thumbs{
  .la-thumb-inner{
    margin-left: -5px;
    margin-right: -5px;
  }
  .la-thumb {
    width: 70px;
    float: left;
    margin: 10px;
    border: none;
    &.slick-current.slick-active{
      border-width: 1px;
      border-style: solid;
      border-color: #979797;
    }
    &:not(.slick-current){
      border: 1px solid transparent;
      img{
        opacity: 0.8;
      }
    }
    div{
      position: relative;
      &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#343538,0.4);
      }
    }
    .play-overlay{
      font-size: 30px;
      color: #fff;
      line-height: 30px;
      height: 30px;
      width: 30px;
      text-align: center;
      position: absolute;
    }
  }
  .slick-arrow{
    font-size: 14px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    background: #fff;
    top: calc(50% - 15px);
    color: #000;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.15);
    i{
      margin-top: -2px;
      vertical-align: middle;
    }
    &.slick-disabled{
      opacity: 0;
    }
  }
  .slick-vertical{
    .slick-arrow{
      top: 100%;
      opacity: 1;
      @include rotate(90);
    }
    .slick-prev{
      left: 15px;
    }
    .slick-next{
      right: 15px;
    }
  }
}

.product-main-image{
  .p---large{
    position: relative;
  }

  margin-bottom: 30px;
  img {
    width: 100%;
  }
  .la_woo_loading{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    @include translate2d(-50%,-50%)
  }
  .la-woo-product-gallery{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
  }
  img.zoomImg{
    display: none;
  }
  .swatch-loading{
    pointer-events: none;
    position: relative;
    overflow: hidden;
    .la_woo_loading{
      opacity: 1;
      visibility: visible;
    }
    .la-woo-product-gallery{
      position: static !important;
    }
    .la-woo-product-gallery .woocommerce-product-gallery__wrapper,
    .la-woo-thumbs .la-thumb-inner{
      opacity: 0.3;
    }
  }
  .no-gallery{
    .la-woo-thumbs{
      display: none;
    }
  }
}

@media (min-width: 991px) {
  .la-p-single-2{
    .product-main-image{
      .la-woo-product-gallery{
        float: right;
        position: relative;
        width: 85%;
        width: calc(100% - 85px);
        width: -webkit-calc(100% - 85px);
      }
      .la-woo-thumbs{
        position: relative;
        float: left;
        width: 70px;
      }
    }
    .no-gallery{
      .la-woo-product-gallery{
        width: 100%;
      }
    }
  }
}

@media (min-width: 1400px) {
  .enable-main-fullwidth .la-p-single-2{
    .product-main-image{
      .la-woo-product-gallery{
        float: right;
        position: relative;
        width: calc(100% - 160px);
        width: -webkit-calc(100% - 160px);
      }
      .la-woo-thumbs{
        position: relative;
        float: left;
        width: 140px;
        .la-thumb-inner{
          margin: 0;
        }
        .la-thumb{
          margin: 0 0 20px;
        }
      }
    }
    .no-gallery{
      .la-woo-product-gallery{
        width: 100%;
      }
    }
  }
}

.woocommerce-product-details__short-description {
  line-height: 2;
  padding-top: 5px;
  padding-bottom: 40px;
}

.product--summary{
  margin-bottom: 30px;
  .cart{
    margin-bottom: 15px;
    &:before{
      content: '';
      width: 100%;
      border-top: 1px solid rgba(204, 204, 204, 0.7);
      display: block;
      padding-top: 35px;
    }
    &:after{
      content: '';
      width: 100%;
      border-bottom: 1px solid rgba(204, 204, 204, 0.7);
      display: block;
      padding-top: 35px;
    }
  }

  .product_title{
    font-size: 32px;
    margin: 0 0 15px;
    line-height: 1.25;
  }

  .woocommerce-product-rating{
    margin-bottom: 15px;
  }

  .variations_form {

    a.reset_variations {
      top: .6em;
    }
    .swatch-wrapper{
      border: none;
      margin: 0;
      font-size: 18px;
      width: 30px;
    }
  }
  .product-nextprev{
    float: right;
    line-height: 20px;
    font-size: 20px;
    margin-top: -50px;
    a{
      display: inline-block;
      i{
        line-height: inherit;
        vertical-align: middle;
      }
      + a{
        margin-left: 10px;
      }
    }
  }
  .single-price-wrapper{
    .price{
      font-size: 32px;
      line-height: 1;
      padding-top: 15px;
    }

  }

  .product_meta{
    margin-bottom: 30px;
    line-height: 2;
    font-size: 12px;
    > span{
      display: block;
      margin-bottom: 5px;
    }
    a{
      &:hover{
        text-decoration: underline;
      }
    }
  }

  .product_meta_sku_wrapper{
    margin-bottom: 40px;
    font-size: 0.875em;
    .sku_wrapper{
      display: block;
    }
  }

  .woocommerce-product-details__short-description{
    ul{
      list-style: inside circle;
      font-weight: 600;
      li{
        line-height: 28px;
        padding: 6px 0;
        font-size: 12px;
      }
    }
  }

  .product-share-box{
    margin-left: -10px;
    margin-bottom: 40px;
    label{
      display: none;
    }
  }
  .social--sharing{
    a{
      margin: 0 5px;
      width: 35px;
      height: 35px;
      line-height: 35px;
      font-size: 20px;
      display: inline-block;
      text-align: center;
      svg{
        width: 1em;
        height: 1em;
        vertical-align: middle;
        margin-top: -.2em;
      }
    }
  }

  .single_add_to_cart_button{
    font-size: 16px;
    padding: 20px 30px;
    line-height: 20px;
    min-width: 150px;
    &.disabled{
      cursor: not-allowed;
    }
  }

  .group_table{
    &,
    td{
      border: none;
      padding: 0;
    }
    tr{
      float: left;
      width: 100%;
      padding-left: 80px;
      position: relative;
      min-height: 60px;
      margin-bottom: 10px;
      border-bottom: 1px solid #eceaea;
      padding-bottom: 10px;
    }
    td{
      &:first-child{
        position: absolute;
        left: 0;
        width: auto;
        padding: 0;
      }
    }
    .stock{
      background: none;
      color: inherit;
      padding: 0 0 0 10px;
      display: inline;
      margin: 0 0 0 10px;
    }
    .woocommerce-grouped-product-list-item__label{
      font-weight: 600;
    }
    .woocommerce-grouped-product-list-item__price,
    .woocommerce-grouped-product-list-item__label{
      width: 100%;
      text-align: left;
      display: block;
      padding: 0 0 0 15px;
    }
    .add_to_cart_button {
      padding: 10px;
      margin-top: 10px;
      .labtn-icon {
        display: none;
      }
    }
    tr.product-type-variable {
      padding-left: 120px;
    }
  }

  .variations{
    &,
    td{
      border: none;
    }
    td{
      padding: 0;
      display: inline-block;
      &.label{
        display: inline-block;
        min-width: 100px;
        margin-bottom: 0;
        margin-top: 8px;
      }
      &.value{
        width: calc(100% - 110px);
      }
    }
    .label{
      .swatch-label{
        font-weight: bold;
        &:not(:empty){
          &:before{
            content: ":";
            margin-left: 5px;
            padding-right: 5px;
          }
        }
      }
    }
  }

  .la-init-swatches{
    .variations td{
      width: 100%;
    }
  }

}

.variations_form{
  .swatch-control{
    display: block;
    float: left;
    width: 100%;
  }
}

.wc-tabs-outer{
  .comment-form-rating{
    clear: both;
  }
}

.wc-tabs{
  padding: 0;
  margin: 0 0 40px;
  li{
    display: inline-block;
    a{
      position: relative;
      display: block;
      padding: 15px 20px;
      line-height: 20px;
      font-size: 14px;
    }
  }
}

.wc-tab{
  margin-bottom: 0;
  .wc-tab-title{
    display: none;
    position: relative;
    font-weight: 600;
    &:after{
      @include lastudio-icon;
      content: "\ea10";
      position: absolute;
      right: 10px;
      top: 15px;
      font-size: 12px;
      font-weight: normal;
    }
    a{
      display: block;
      padding: 13px 0;
    }
  }

  &.active{
    .wc-tab-title{
      &:after{
        content: "\ea13";
      }
    }
  }
}

.wc_tabs_at_bottom{
  .wc-tabs-wrapper{
    margin-bottom: 80px;
  }
  .wc-tabs{
    margin-top: 50px;
    margin-bottom: 60px;
    @include display();
    @include flex-wrap(wrap);
    li{
      margin-right: 20px;
      @include flex();
      a{
        font-size: 18px;
        padding: 1.3em 1em;
        text-align: center;
        border: 1px solid #CCCCCC;
        line-height: 30px;
      }
      &:last-child{
        margin-right: 0;
      }
      &.active > a{
        &:after{
          opacity: 1;
          @include size(100%, 5px);
        }
        font-weight: 700;
      }
    }
  }
  .tab-content{
    line-height: 2;
  }
  .tab-content ul li {
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;
  }
  .entry-content ul{
    width: 80%;
  }
  .entry-content ul, .entry-content ol, .entry-content p {
    margin-bottom: 40px;
  }
}
.wc_tabs_at_top{
  .la-wc-tabs-wrapper {
    margin-top: 40px;
  }
  .wc-tabs{
    text-align: left;
    li{
      &.active > a{
        background-color: #EFEFEF;
      }
    }
  }
  .wc-tabs-outer{
    margin-bottom: 30px;
  }
}

.woocommerce-tabs .woocommerce-Reviews-title{
  display: none;
}

#tab-additional_information{
  table{
    &,
    th,
    td{
      border: none;
    }
    th,
    td{
      padding: 2px 0;
    }
  }
  p{
    margin: 0;
  }
}

.la-custom-pright{
  &:before,
  &:after{
    content: '';
    display: table;
  }
  .stock{
    ~ .stock{
      display: none !important;
    }
  }
}


.custom-product-wrap {
  margin-bottom: 60px;
  .block_heading--title{
    margin-bottom: 50px;
    letter-spacing: -1px;
    text-align: center;
    border-top: 1px solid #D0D0D0;
    padding-top: 50px;
  }
}


.la-p-single-3{
  .la-custom-pright{
    @include clearfix;
  }
  .product-main-image .la-woo-product-gallery{
    border: none;
  }
  .woocommerce-product-gallery__image {
    margin-top: 10px;
    .video-link-popup{
      display: none;
    }
    &:first-child{
      margin-top: 0;
      .video-link-popup{
        display: block;
      }
    }
  }
}

.la-p-single-3 .la-single-product-page .p-right.product--summary {
  position: static;
  margin-bottom: 0;
}

.la-p-single-4,
.la-p-single-3{
  .product--large-image:not(.no-gallery){
    .woocommerce-product-gallery__actions {
      bottom: auto;
      top: 20px;
      width: 100%;
      right: auto;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 20px;
      @include align-items(flex-end)
    }
  }
}


.single-price-wrapper {
  margin-bottom: 30px;
}


/**
Quick View
**/
.lightcase-inlineWrap{
  .la-single-product-page{
    margin: 0;
    @include display();
  }
  .la-p-single-wrap{
    .woocommerce-product-gallery__wrapper a{
      display: block;
      pointer-events: none;
    }
    .product-main-image{
      margin-bottom: 0;
      padding: 0;
      .la-woo-product-gallery{
        margin-bottom: 0;
      }
      .no-gallery{
        .la-woo-product-gallery{
          margin-bottom: 0;
        }
      }
    }

    .product--summary{
      margin-bottom: 0;
      @media(max-width: 1500px ){
        padding: 30px 30px 20px !important;
      }
      @media(min-width: 1500px ){
        padding: 40px 35px 20px !important;
      }
      .product_title{
        margin-bottom: 5px;
        font-size: 22px;
      }
      .single-price-wrapper .price{
        font-size: 18px;
      }
      .woocommerce-product-rating{
        margin-bottom: 0;
      }
    }
    .woocommerce-product-details__short-description {
      font-size: 12px;
    }
  }

  .product-main-image{
    .la-woo-thumbs{
      display: none;
    }
    .la-woo-product-gallery{
      width: 100% !important;
    }
    .woocommerce-product-gallery__image{
      min-height: 100%;
      .g-overlay{
        padding-bottom: 125%;
        background-size: cover;
        display: block;
        background-position: center;
        min-height: 100%;
      }
      img{
        display: none;
      }
    }
  }

  .slick-slider .slick-arrow {
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #000;
    font-size: 18px;
    top: 50%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: -25px;
    i{
      vertical-align: middle;
    }
  }
}

#lightcase-case .woocommerce-product-gallery__wrapper .slick-list {
  min-height: 60vh;
}

.open-quickview-product #lightcase-case .lightcase-contentInner .lightcase-inlineWrap {
  padding: 0 !important;
}

.lightcase-contentInner{
  .product--summary .product-nextprev{
    margin-top: -15px;
  }
}


@media (min-width: 1441px) {
  .single-product.body-col-1c{
    &:not(.enable-main-fullwidth){
      &:not(.body-boxed){
        .site-main .la-p-single-2 .product-main-image{
          .la-woo-thumbs {
            margin-left: -105px;
            width: 90px;
            top: -10px;
          }
          .la-woo-product-gallery{
            min-width: 100%;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.lightcase-inlineWrap .woocommerce-product-gallery__wrapper > .woocommerce-product-gallery__image ~ .woocommerce-product-gallery__image,
.woocommerce-variation-availability p.stock.in-stock,
.pswp__caption {
  display: none;
}


.tab-content .shop_attributes {
  max-width: 100%;
}
.extradiv-after-frm-cart{
  padding-bottom: 30px;
  a {
    margin-right: 25px;
    font-size: 12px;
  }
  i{
    font-size: 18px;
    padding-right: 5px;
    vertical-align: text-bottom;
  }
}

.entry-summary{

  p.stock.in-stock{
    padding-top: 10px;
    margin-bottom: 10px;
    color: $primary-color;
  }

  .wrap-cart-cta {
    display: inline-block;
    margin-right: 15px;
    [id^="wc-stripe"]{
      display: none !important;
    }
  }
  .add_compare,
  .add_wishlist{
    position: relative;
    padding: 0;
    background: none;
    color: inherit;
    font-weight: normal;
    &.added{
      color: $primary-color;
    }
    .labtn-icon{
      width: 50px;
      height: 50px;
      line-height: 50px;
      display: inline-block;
      font-size: 24px;
    }
    .labtn-text{
      font-weight: normal;
      position: absolute;
      padding: 5px 12px;
      z-index: 3;
      opacity: 0;
      transition: opacity .2s, margin .3s;
      white-space: pre;
      font-size: 12px;
      font-family: sans-serif;
      @include translateX(-50%);
      left: 50%;
      line-height: 14px;
      top: -10px;
      margin-top: -12px;
      background-color: $secondary-color;
      color: #fff;
      &:after{
        content: "";
        position: absolute;
        bottom: -5px;
        left: 50%;
        @include translateX(-50%);
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $secondary-color;
        opacity: .9;
      }

    }
    &:hover{
      .labtn-text{
        visibility: inherit;
        opacity: 1;
        margin-top: -5px;
      }
    }
  }
  .add_wishlist{
    .labtn-icon{
      font-size: 20px;
    }
  }
}

.woocommerce-product-gallery__image {
  position: relative;
  .video-link-popup {
    position: absolute;
    bottom: 25px;
    z-index: 2;
    background: #fff;
    right: 25px;
    color: #000;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    @include border-radius(50%);
    i{
      vertical-align: middle;
      padding-left: 3px;
    }
  }
}
.la-p-single-1 .la-woo-thumbs {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  .slick-track {
    margin-left: auto;
    margin-right: auto;
  }
}

.la-p-single-4{
  .product--large-image:not(.no-gallery){
    .la-woo-product-gallery{

      .woocommerce-product-gallery__image{
        float: left;
        width: 50%;
        margin-bottom: 10px;
        a{
          display: block;
          width: 100%;
          img{
            display: none;
          }
        }
        .g-overlay{
          padding-bottom: 105%;
          display: block;
          background-size: cover;
          background-position: center center;
        }
        .video-link-popup{
          display: none;
        }
        &:nth-child(3n+1){
          width: 100%;
          .g-overlay{
            padding-bottom: 52.5%;
          }
        }
      }
      .woocommerce-product-gallery__wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
        .woocommerce-product-gallery__image{
          width: calc(50% - 5px);
          &:nth-child(3n+1){
            width: 100%;
          }
        }
      }
    }
  }
}

.single-page-article .woocommerce-product-gallery__wrapper .slick-arrow {
  display: none !important;
}

.la-p-single-4 .product--large-image[data-totalg="2"] .la-woo-product-gallery .woocommerce-product-gallery__image .g-overlay {
  padding-bottom: 52.5% !important;
}


.force-disable-slider-script{
  @include clearfix;
}

@media(max-width: 380px){
  .entry-summary .wrap-cart-cta {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

@media(max-width: 767px){
  .custom-product-wrap .block_heading--title{
    letter-spacing: 0;
    margin-bottom: 30px;
    padding-top: 30px;
  }

  .wc-tab .wc-tab-title a{
    font-size: 16px;
    color: #262626;
  }
  .la-single-product-page .product--summary .product-nextprev{
    display: none;
  }

  .la-single-product-page form.cart.grouped_form {
    padding-top: 20px;
    div.quantity .qty{
      padding: 10px;
      width: 60px;
    }
  }
  .la-single-product-page .product--summary .grouped_form .woocommerce-grouped-product-list-item__quantity{
    border: none;
  }

  .la-single-product-page .product--summary .entry-summary {
    padding: 20px 0 0;
  }
}

.container-fluid.s_product_content_bottom {
  margin-left: 20px;
  margin-right: 20px;

  .block_heading--title{
    margin-left: -20px;
    margin-right: -20px;
  }

  @media(min-width: 1300px){
    margin-left: 50px;
    margin-right: 50px;
    .block_heading--title{
      margin-left: -50px;
      margin-right: -50px;
    }
  }
  @media(min-width: 1600px){
    margin-left: 80px;
    margin-right: 80px;
    .block_heading--title{
      margin-left: -80px;
      margin-right: -80px;
    }
  }
}

.product--summary .commentlist .comment-text{
  padding: 20px;
}

@media(max-width: 1200px){
  .product-main-image .la-woo-product-gallery{
    margin-bottom: 10px;
  }
  .product--summary .product_title{
    font-size: 26px;
  }
  .single-price-wrapper{
    margin-bottom: 10px;
  }
  .product--summary .single-price-wrapper .price{
    padding-top: 0;
    font-size: 26px;
  }
  .wc_tabs_at_bottom{
    .wc-tabs{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .wc-tabs-wrapper{
      li a{
        padding: 15px;
        font-size: 16px;
      }
    }
  }
}

@media(max-width: 992px){
  .wc_tabs_at_top{
    .wc-tabs-wrapper{
      .wc-tabs{
        display: none;
      }
      .wc-tab{
        display: block !important;
        .tab-content{
          display: none;
          padding-top: 20px;
        }
        &.active{
          .tab-content{
            display: block;
          }
        }
      }
      .wc-tab-title{
        display: block;
      }
    }
  }
  .entry-summary .wrap-cart-cta .quantity .qty {
    min-width: 10px;
    width: 20px;
  }
}

@media(max-width: 767px){

  .product--summary .single-price-wrapper .price,
  .product--summary .product_title{
    font-size: 20px;
  }

  .entry-summary .wrap-cart-cta .quantity .qty {
    width: 50px;
  }

  .product--summary .cart:before {
    padding-top: 20px;
  }

  .product--summary .cart:after {
    padding-top: 20px;
  }

  .product--summary .variations tr {
    margin-right: 0;
  }
  .woocommerce-product-details__short-description {
    padding-bottom: 20px;
  }

  .product--summary,
  .product-main-image{
    margin-bottom: 0;
  }
  .wc_tabs_at_bottom{
    .wc-tabs-wrapper{
      margin-bottom: 0;
      .wc-tabs{
        display: none;
      }
      .wc-tab{
        display: block !important;
        .tab-content{
          display: none;
          padding-top: 5px;
        }
        &.active{
          .tab-content{
            display: block;
          }
        }
      }
      .wc-tab-title{
        display: block;
      }
    }
    .entry-content{
      ul,
      ol,
      p{
        margin-bottom: 20px;
      }
    }
  }
}