.product_list_widget{
  list-style: none;
  margin: 0;
  li{
    @include clearfix();
    position: relative;
    + li{
      margin-top: 30px;
    }
    img{
      float: left;
      max-width: 70px;
      margin-right: 20px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
  a{
    display: block;
    line-height: normal;
    margin: 0 0 5px;
  }
  .quantity{
    font-size: .857em;
    > .amount{
      margin-left: 5px;
    }
  }

  a.remove{
    display: block;
    font-weight: normal;
    font-size: 14px;
    height: 20px;
    line-height: 17px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: right;
    width: 20px;
    font-family: Verdana,sans-serif;
  }
  dl{
    margin: 0;
    font-size: 12px;
    p{
      margin: 0;
    }
    dd,dt{
      display: inline-block;
      font-weight: normal;
    }
  }
}
.widget_shopping_cart_content{
  @include clearfix;
  .total{
    padding-top: 20px;
  }
}


.cart-flyout {
  position: fixed;
  top: 0;
  width: 420px;
  padding: 50px;
  min-height: 100vh;
  bottom: 0;
  z-index: 111;
  right: 0;
  visibility: hidden;
  opacity: 0;
  @include transition(all 250ms ease-in);
  @include translate2d(200px, 0);
  @include box-shadow(0px 0px 87px 0px rgba(0, 0, 0, 0.09));
  background-color: #fff;

  .cart-flyout--inner {
    display: block;
    height: 100%;
    position: relative;
  }

  .btn-close-cart {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    line-height: 36px;
    i {
      vertical-align: top;
    }

    &:hover {
      @include rotate(90)
    }
  }

  .cart-flyout__content {
    padding-top: 50px;
  }

  .cart_list {
    margin: 0 -30px 0 0;
    padding: 0 30px 0 0;
    max-height: calc(100vh - 430px);
    overflow: auto;

    li.empty {
      padding: 50px 0;
    }
  }

  .cart-flyout__heading {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 600;
  }

  .widget_shopping_cart_content {
    overflow: hidden;
    opacity: 1;

    .total {
      @include display();
      @include justify-content(space-between);
      .amount {
        font-weight: bold;
      }
    }

    .button {
      width: 100%;
      margin: 10px 0 0;
      line-height: 24px;
      font-size: inherit;
    }
  }

  .cart-flyout__loading {
    text-align: center;
    display: block;
    opacity: 0;
    visibility: hidden;
    height: 0;
  }

  &.cart-flyout--loading {
    .cart-flyout__loading {
      height: auto;
      visibility: visible;
      opacity: 1;
    }

    .widget_shopping_cart_content {
      opacity: 0;
      transition: opacity 400ms ease-out;
    }
  }

  .product_list_widget li {
    padding-right: 15px;
  }
}

.open-cart-aside {
  &.zephys-body {
    overflow: hidden;
  }

  .cart-flyout {
    visibility: visible;
    opacity: 1;
    @include translate2d(0, 0);
  }

  .la-overlay-global {
    visibility: visible;
    opacity: 0.7;
  }
}
.shop_table {
  th, td {
    vertical-align: middle;
  }

  &.woocommerce-cart-form__contents {
    border: none;

    thead {
      background-color: #f7f7f7;
    }

    th {
      border: none;
      padding: 10px 0;
    }

    td {
      border-width: 0;
      padding: 20px 0;
    }

    td.actions {
      border-width: 0;

      &:before {
        content: '';
        display: block;
        border-top: 1px solid #DBDBDB;
        padding-bottom: 20px;
        opacity: 0.5;
      }

      .button {
        float: right;
        min-width: 180px;
        cursor: pointer;
      }
    }

    .product-price,
    .product-quantity,
    .product-subtotal {
      text-align: center;
    }
  }

  td.product-subtotal {
    font-weight: 600;
    color: #EA622B;
  }

  .product-quantity {
    width: 100px;
    .quantity {
      width: 50px;
      margin: 0 auto;
    }
  }

  .product-remove {
    width: 30px;
    .remove {
      font-size: 0;

      &:before {
        @include lastudio-icon();
        content: "\ea3a";
        font-size: 14px;

        line-height: 30px;
      }
    }
  }

  .product-thumbnail {
    width: 90px;
    a{
      display: block;
      padding-right: 20px;
    }
  }

  dl {
    margin: 0;
    p {
      display: inline;
    }

    dt, dd {
      float: left;
      margin: 0;
    }

    dt {
      clear: both;
      font-weight: normal;
    }
  }
}


.cart-collaterals {

  .cart_totals {

    .checkout-button {
      width: 100%;
      text-align: center;
    }
  }

  .shop_table {

    th {
      font-weight: 600;
    }

    th,
    td{
      border: none;
      vertical-align: top;
    }

    td{
      text-align: right;
    }

    .amount {
      font-weight: 600;
    }
  }

  .shipping {
    li {
      margin-bottom: 10px;
    }
  }


  .woocommerce-shipping-calculator {
    .input-text:placeholder-shown {
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  h2 {
    font-size: inherit;
    font-weight: 600;
    padding: 10px 0;
    margin-bottom: 20px;

    + p {
      font-size: 12px;
    }
  }

  .form-row {
    margin-bottom: 10px;
  }
}

.btn-clear-cart {
  margin-right: 10px;
}

.woocommerce > .return-to-shop,
.woocommerce > p.cart-empty {
  text-align: center;
}

.woocommerce > p.cart-empty {
  font-size: 18px;
  margin-top: 50px;
  &:before {
    content: '';
    display: block;
    padding-top: 150px;
    margin-bottom: 10px;
    background: {
      image: url(../images/shopping-cart.png);
      repeat: no-repeat;
      position: 48% 0;
      size: 140px auto;
    }
  }
}

.woocommerce > .return-to-shop {
  margin-bottom: 50px;
  padding-top: 10px;
}

.cart-collaterals .cart_totals .la-shipping-form {
  width: 100%;
  display: none !important;
}

.place-order .button,
.wc-proceed-to-checkout .button {
  font-size: 16px;
  display: block;
  cursor: pointer;
  padding: 20px 30px;
  transition: all 300ms ease;
  width: 100%;
  border-width: 0;
  line-height: 24px;
}

.custom-product-wrap.cross-sells {
  @media(min-width: 992px){
    margin-top: 50px;
  }
  .block_heading--title{
    border: none;
  }
}

.woocommerce-cart .woocommerce {
  .cart_totals {
    background: #F9F9F9;
    padding: 30px 20px 0;
  }
}

.cart_totals{
  .wcppec-checkout-buttons__button{
    padding-top: 0;
  }
}

@media(min-width: 992px) {
  .woocommerce-cart .woocommerce {
    .cart-collaterals,
    .woocommerce-cart-form {
      display: table-cell;
      vertical-align: top;
    }
    .cart_totals {
      background: #F9F9F9;
      padding: 30px 30px 20px;
      position: relative;
      position: -webkit-sticky;
      position: sticky;
      top: 30px;
    }

    .cart-collaterals {
      min-width: 370px;
      padding: 0;
    }

    .woocommerce-cart-form {
      width: 100%;
      padding-right: 30px;
    }

    .cart-collaterals {

      .input-text {
        height: 40px;
        line-height: 38px;
        text-transform: none;
        padding: 0 15px;
        background-color: #fff;
      }

      .select2-container .select2-selection--single {
        height: 40px;
        border-radius: 0;
      }

      .select2-container--default .select2-selection--single .select2-selection__rendered {
        margin-top: 5px;
        font-size: 12px;
        padding-left: 15px;
      }

      .woocommerce-shipping-calculator {
        padding-top: 0;
      }

      .order-total {
        border-top: 1px solid #DBDBDB;

      }
    }

    .shop_table.woocommerce-cart-form__contents {
      margin-top: 0;

      thead {
        background: none;
        text-transform: uppercase;
        font-size: 11px;
      }

      dl {
        font-size: 12px;
      }
    }

    td.actions {
      .coupon {
        display: inline-block;
        border-bottom: 1px solid #D8D8D8;
        width: 50%;

        label {
          display: none;
        }

        .input-text {
          padding: 0 10px 0 0;
          border: none;
          height: 34px;
          font-size: 12px;
          width: auto;
          min-height: 34px;
        }
      }

      .btn {
        display: none;
      }

      .button {
        background: none ;
        padding: 0;
        min-width: 0;
        border: none;
        height: auto;
        text-transform: none;
        font-size: 14px;
        font-weight: 600;
        line-height: 34px;
        color : #262626;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

.woocommerce-shipping-destination {
  margin-bottom: 10px;
}

@media(max-width: 1400px) and (min-width: 992px) {
  .woocommerce-cart .not-active-fullpage > .woocommerce .cart-collaterals {
    min-width: 300px;
  }
  .woocommerce-cart .not-active-fullpage > .woocommerce .cart_totals {
    padding: 20px 20px 0;
  }
  .woocommerce-cart .not-active-fullpage > .woocommerce .wc-proceed-to-checkout {
    margin-left: -20px;
    margin-right: -20px;
  }
  .woocommerce-cart .not-active-fullpage > .woocommerce .cart-collaterals .woocommerce-shipping-calculator {
    margin-left: -80px;
  }
}


@media (max-width: 767px) {

  .shop_table .product-thumbnail a{
    padding: 0;
  }

  .woocommerce table.wishlist_table .product-name,
  .shop_table.woocommerce-cart-form__contents .product-price,
  .shop_table.woocommerce-cart-form__contents .product-quantity,
  .shop_table.woocommerce-cart-form__contents .product-subtotal {
    text-align: right;
  }
  table.shop_table_responsive tbody th,
  table.shop_table_responsive thead {
    display: none;
  }
  table.shop_table_responsive tr td {
    display: block;
    text-align: right;
    clear: both;
    min-width: 100%;

    padding: 0 0 10px;
  }
  table.shop_table_responsive tr td[data-title]:before {
    content: attr(data-title) ": ";
    float: left;
    font-size: 13px;
    color: $secondary-color;
  }

  table.shop_table_responsive {
    dl {
      dt, dd {
        display: inline-block;
        float: none;
      }
    }
  }

  .shop_table.woocommerce-cart-form__contents tr td.product-thumbnail {
    text-align: center;
  }
  .shop_table.woocommerce-cart-form__contents tr td.product-thumbnail img {
    max-width: 50px;
  }
  .shop_table.woocommerce-cart-form__contents tr td.product-remove {
    border-width: 0;
    padding: 0;
    text-align: left;
    position: relative;
  }

  .shop_table.woocommerce-cart-form__contents tr td {
    padding: 10px;
  }
  .shop_table.woocommerce-cart-form__contents tr td.product-remove a.remove {
    position: absolute;
    left: 10px;
    top: 21px;
  }
  .shop_table.woocommerce-cart-form__contents tr td.actions {
    overflow: hidden;
    padding: 10px 0;
  }


  form.track_order .button {
    width: 100%;
  }
  form.track_order .form-row .input-text {
    height: 55px;
  }

  .shop_table.woocommerce-cart-form__contents td.actions .button {
    width: 100%;
    margin-top: 10px;
  }

  .shop_table.woocommerce-cart-form__contents td.actions:before {
    display: none;
  }

  table.shop_table.cart.wishlist_table.shop_table_responsive,
  .shop_table.woocommerce-cart-form__contents {
    tr {
      position: relative;
      display: block;
      padding-left: 100px;
      padding-right: 25px;
      padding-top: 10px;
      padding-bottom: 20px;
      background: none;
      border: 1px solid #eee;
      margin-bottom: 17px;
      overflow: hidden;

      td {
        padding: 0;
        width: auto;
        border: none;
        display: block;
        min-width: 0;
        text-align: left;

        &:before {
          padding-right: 15px;
          font-size: 12px;
          line-height: 24px;
        }

        &.product-remove {
          position: absolute;
          top: 15px;
          right: 10px;
          z-index: 2;

          a.remove {
            position: absolute;
            right: 0;
            left: auto;
            top: 0;
          }
        }

        &.product-thumbnail {
          position: absolute;
          left: 15px;
          width: 70px;
          display: inline-block;
          top: 15px;
          bottom: 15px;
          overflow: hidden;

          img {
            max-width: 100%;
          }
        }

        &.product-price {
          display: none;
        }

        &.product-price,
        &.product-subtotal {
          font-size: 14px;
        }

        &.product-name {
          &:before {
            display: none;
          }
        }
      }

      div.quantity {
        .qty {
          height: 20px;
          min-height: 20px;
          padding: 0;
          width: 40px;
          font-size: 13px;
          line-height: 20px;
        }

        span {
          display: none;
        }
      }

      .actions {
        label {
          display: none;
        }
      }
    }
  }
  .cart.shop_table.woocommerce-cart-form__contents tr:not(.cart_item) {
    padding: 0;
    border: none;
  }

  .cart-collaterals{
    .shipping li{
      font-size: 13px;
    }
    .wc-proceed-to-checkout {
      margin-left: -20px;
      margin-right: -20px;
      overflow: hidden;
    }
    h2 {
      font-size: 24px;
      margin: 0 0 20px;
      padding: 0;
    }
  }

  .shop_table.woocommerce-cart-form__contents{
    margin-bottom: 0;
  }

}