.select2-container .select2-selection--single {
  height: 50px;
  @include border-radius(0);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  margin-top: 11px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 11px;
}

.woocommerce-account-fields,
.woocommerce-billing-fields {
  @include clearfix;
}

.la-shop-products .la-pagination ul {
  text-align: center;
}

div#la_shop_products {
  position: relative;
}

.la-ajax-shop-loading {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: #fff;
  visibility: hidden;
  opacity: 0;
}

.la-ajax-shop-loading.loading {
  opacity: 1;
  visibility: visible;
}

.la-ajax-shop-loading .la-ajax-loading-outer {
  margin: 0 auto;
  display: block;
  width: 50px;
}

.star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 6em;
  font-family: "LaStudioIcons";
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #B3BDBC;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: .2em;

  &::before {
    content: "\ea5e\ea5e\ea5e\ea5e\ea5e";
    float: left;
    top: 0;
    left: 0;
    position: absolute;
  }

  > span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
    color: #F5A623;
    &:before {
      content: "\ea5e\ea5e\ea5e\ea5e\ea5e";
      top: 0;
      position: absolute;
      left: 0;
    }
  }
}

.woocommerce-product-rating{
  .woocommerce-review-link{
    font-size: 12px;
    vertical-align: middle;
  }
}

p.stars {

  a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;

    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      line-height: 1;
      font-family: "LaStudioIcons";
      content: "\ea5f";
      text-indent: 0;
    }

    &:hover ~ a::before {
      content: "\ea5f";
    }
  }

  &:hover{
    color: #F5A623;
    a{
      color: inherit;
      &:before {
        content: "\ea5e";
      }
    }
  }

  &.selected {
    color: #F5A623;
    a.active {
      &::before {
        content: "\ea5e";
      }
      ~ a{
        &:before {
          content: "\ea5f";
        }
      }
    }
    a:not(.active)::before {
      content: "\ea5e";
    }
  }
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  padding: 14px 30px 14px 60px;
  margin: 0 0 30px;
  position: relative;
  background-color: #eeeff2;
  list-style: none outside !important;
  width: auto;
  word-wrap: break-word;

  &:before {
    font-family: "LaStudioIcons";
    content: "\ea22";
    display: inline-block;
    position: absolute;
    left: 25px;
    font-size: 26px;
    top: 2px;
    color: #6dde6d;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .button {
    float: right;
    padding: 0;
    background: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }

  li {
    list-style: none outside !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
  }
}

.woocommerce-info {
  &:before {
    color: #6dde6d;
  }
}

.woocommerce-error {
  &:before {
    content: "\ea3a";
    color: #c43002;
    top: 4px;
  }
}

#shipping_method {
  margin: 0;
  list-style: none;
  padding: 0;

  li {
    input[type="checkbox"],
    input[type="radio"] {
      margin-bottom: 0;
      margin-right: 8px;
    }
  }
}

.form-row {
  @include clearfix;

  &.form-row-first {
    float: left;
  }

  &.form-row-last {
    float: right;
  }

  &.form-row-first,
  &.form-row-last {
    width: 48%;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &.form-row-wide {
    float: left;
    width: 100%;
  }

  label {
    margin-bottom: 8px;
    display: block;

    &.inline {
      display: inline;
    }
  }

  .input-text {
    width: 100%;
    padding: 0 20px;
    height: 50px;
    line-height: 48px;
  }
}

.col2-set {
  @include make-row();

  .col-2,
  .col-1 {
    position: relative;
    float: left;
    min-height: 1px;
    width: percentage(1/2);
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.wc-toolbar-container {
  margin-bottom: 10px;
}

.wc-toolbar {
  line-height: 24px;
  font-size: 12px;

  button {
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    font-weight: 600;
    margin-left: 15px;
  }

  p {
    margin-bottom: 0;
  }

  .woocommerce-result-count,
  .wc-view-toggle,
  .wc-ordering {
    float: left;
    font-weight: 600;
  }

  .wc-view-toggle {
    font-size: 18px;
    float: right;
    margin-top: -1px;

    button {
      float: left;
      font-weight: normal;
      font-size: 16px;
      i{
        vertical-align: middle;
      }
    }
  }

  .wc-view-toggle button:not(.active) {
    opacity: .5;
  }

  .wc-toolbar-right {
    float: right;
  }

  .wc-ordering {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      padding-bottom: 20px;
    }

    &.is-hover {
      ul {
        @include opacity(1);
        visibility: visible;
        margin-top: 7px;
      }
    }

    ul {
      right: 0;
      position: absolute;
      background-color: #fff;
      padding: 7px;
      z-index: 11;
      visibility: hidden;
      margin-top: 30px;
      @include opacity(0);
      @include box-shadow(0 0 12px 0 rgba(0, 0, 0, 0.1));
      transition: all .25s;

      li {
        display: block;

        a {
          padding: 5px 10px;
          white-space: pre;
          display: block;
          @include border-radius(4px);
        }

        &:hover,
        &.active {
          a {
            background-color: #f1f0f0;
          }
        }
      }
    }
  }

  .wc-view-count {
    float: left;
    margin: 0 20px 0 40px;

    p,
    ul,
    li {
      display: inline-block;
      margin: 0 5px;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li.active {
      border-bottom: 1px solid;
      font-weight: bold;
    }

    a {
      color: inherit;
    }
  }
}

.wc-ordering button,
.btn-advanced-shop-filter {
  &:after {
    content: '\ea3d';
    font-family: "LaStudioIcons";
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    opacity: .5;
    padding: 0 5px;
    font-size: 16px;
    font-weight: normal;
  }
}
.open-advanced-shop-filter{
  .btn-advanced-shop-filter {
    &:after{
      content: '\ea4b';
    }
  }
}

.wc-toolbar-top {
  padding-top: 10px;
  margin-bottom: 15px;
}

.woocommerce table.wishlist_table {
  font-size: 100%;
}

.swatch-control select {
  display: none !important;
}

.swatch-control.radio-select ul {
  padding: 0 !important;
  list-style: none !important;
}

.swatch-control.radio-select li {
  list-style: none !important;
}

.swatch-control.radio-select li label {
  display: inline;
  margin-left: 10px;
}

a.reset_variations {
  position: relative;
  display: none;
  visibility: hidden;

  &:before {
    content: "\ea3a";
    font-family: "LaStudioIcons";
    padding-right: 5px;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    font-weight: normal;
    display: inline-block;
    line-height: inherit;
  }
}

.swatch-wrapper {
  padding: 2px;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  float: left;
  margin: 0 5px 5px 0;

  &.disabled {
    position: relative;
    cursor: not-allowed;
    zoom: 1;
    opacity: 0.4;

    &:hover {
      border-color: #ccc;
    }

    &:before {
      content: "";
      width: 90%;
      height: 2px;
      background-color: red;
      position: absolute;
      left: 5%;
      top: 50%;
      margin-top: -1px;
      z-index: 1;
      opacity: 0.4;
      @include rotate(-45deg);
    }

    &:after {
      content: "";
      width: 90%;
      height: 2px;
      background-color: red;
      position: absolute;
      left: 5%;
      top: 50%;
      margin-top: -1px;
      z-index: 1;
      opacity: 0.4;
      @include rotate(45deg);
    }

    .swatch-anchor {
      cursor: inherit;
    }
  }

  .swatch-anchor {
    display: block;
    position: relative;
    text-align: center;

    &:before {
      content: attr(title);
      position: absolute;
      bottom: 80%;
      text-indent: 0;
      background: #000;
      padding: 5px 10px;
      line-height: 1;
      border-radius: 4px;
      margin-bottom: 10px;
      min-width: 50px;
      color: #fff;
      left: 50%;
      white-space: pre;
      text-align: center;
      text-transform: none;
      @include translate2d(-50%, 0);
      visibility: hidden;
      @include opacity(0);
      transition: all .25s;
      font-size: 12px;
    }

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 80%;
      border-width: 4px 4px 0 4px;
      border-style: solid;
      border-color: #000 transparent transparent transparent;
      margin-bottom: 6px;
      margin-left: -4px;
      visibility: hidden;
      @include opacity(0);
      transition: all .25s
    }

    &:hover {
      &:before,
      &:after {
        bottom: 100%;
        @include opacity(1);
        visibility: visible;
      }
    }
  }

  &.swatch-only-label{
    .swatch-anchor{
      min-width: auto !important;
      min-height: 0 !important;
      line-height: inherit !important;
    }
  }

  &.selected {
    .swatch-anchor {
      color: $primary-color;
      text-decoration: underline;
    }
  }

  img {
    width: inherit;
    height: inherit;
    display: block;
    vertical-align: top;
  }

  &.selected {
    padding: 1px;
    border-width: 2px;
  }

  &.la-swatch-item-style-rounder {
    &,
    .swatch-anchor,
    img {
      @include border-radius(5px);
    }
  }

  &.la-swatch-item-style-circle {
    &,
    .swatch-anchor,
    img {
      @include border-radius(50%);
    }
  }

  &.la-swatch-item-style-default {
    &:not(.swatch-only-label) {
      position: relative;
      border-color: rgba(0, 0, 0, 0.05);
      cursor: pointer;
      @include border-radius(50%);

      .swatch-anchor {
        width: 18px !important;
        height: 18px !important;
        margin-left: auto;
        margin-right: auto;
        @include border-radius(50%);
      }

      &.selected,
      &:hover {
        border-color: #e6e6e6;
        border-width: 1px;
      }

      &.selected {
        &:before {
          content: "\ea20";
          font-family: LaStudioIcons;
          color: #fff;
          position: absolute;
          font-size: 10px;
          z-index: 3;
          width: 16px;
          height: 16px;
          line-height: 16px;
          left: 50%;
          top: 50%;
          text-align: center;
          transform: translate(-50%,-50%);
        }
      }
    }
  }

  .swatch-anchor-label {
    display: none;
  }
}

.radio-select {
  .disabled {
    cursor: not-allowed;
    zoom: 1;
    opacity: 0.5;

    input,
    label {
      cursor: not-allowed;
    }
  }
}

.woocommerce table.wishlist_table thead th:not(.product-name) {
  text-align: center;
}

.open-advanced-shop-filter .wc-toolbar-container .btn-advanced-shop-filter {
  color: $primary-color;
}

.la-advanced-product-filters {
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.05);
  display: none;
  margin-bottom: 30px;
  font-size: 12px;
  .sidebar-inner--filters {
    padding: 40px 40px 0;
    @include display();
    @include justify-content(space-between);
    .widget {
      margin-bottom: 30px;
      width: 20%;
      ul {
        &.menu {
          li {
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }

      .la-swatches-widget-opts {
        .swatch-wrapper {
          @include border-radius(0);
          padding: 0;
          margin: 0;
          border-width: 0 !important;

          &:before {
            left: 0 !important;
            top: 3px !important;
          }

          .swatch-anchor {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            margin-top: -2px;

            &:after,
            &:before {
              display: none;
            }
          }

          .swatch-anchor-label {
            display: inline-block;
            text-transform: none;
            vertical-align: middle;
          }
        }
      }

    }
  }

  .menu-item-price {
    ul {
      li {
        display: inline-block;
        width: 49%;

        a {
          border: none;
          padding: 0;

          &:hover {
            background: none;
          }
        }
      }
    }
  }

  .wc-ordering p,
  .wc-layered-nav-term .count {
    display: none;
  }

  .widget_price_filter {
    padding-right: 30px;
  }
}

.la-advanced-product-filters-result {
  padding-bottom: 15px;
  font-size: 14px;
  text-align: center;
  i {
    font-size: 22px;
    padding: 0 5px;
    vertical-align: middle;
  }
}

.reset-all-shop-filter > span{
  vertical-align: middle;
  display: inline-block;
}

.wishlist_table tr td.product-thumbnail a {
  display: inline-block;
}

.products-list .product_item .wcvendors_sold_by_in_loop {
  display: block;
}

.form-row .input-checkbox + label.checkbox {
  display: inline;
  text-transform: none;
}

.wcv-store-header {
  .store-info {
    h3 {
      font-weight: normal;
      margin-top: 0;
      line-height: normal;
      margin-bottom: 8px;

      + a {
        margin-bottom: 10px;
        display: block;
      }
    }
  }
}

.date-pick + .btn {
  padding: 7px 20px;
}

.table.table-vendor-sales-report {
  margin-top: 20px;
}

.table.table-bordered {
  border-collapse: collapse;
}

.table-condensed th,
.table-condensed td {
  padding: 8px;
}

table.wcv-table td,
table.wcv-table th {
  padding: 8px;
}

#pv_shop_description_container,
#pv_seller_info_container,
.pv_seller_info_container,
.pv_shop_name_container,
.pv_paypal_container {
  margin-bottom: 20px;
}

.wcvendors-pro-dashboard-wrapper .wcv-button,
.wcvendors-pro-dashboard-wrapper .button {
  display: inline-block;
  padding: 8px 20px;
  vertical-align: middle;
  color: #fff;
  border: none;
  text-decoration: none !important;
}


.wc-tab .seller-rating span.star-rating {
  display: block;
}

.wcv-store-header .store-info h3 + a {
  color: #f5b223;
}


#la_wishlist_table_wrapper{
  .blockUI.blockOverlay {
    background: #fff url(../images/ajax-loader.gif) no-repeat center center !important;
    .open-cart-aside & {
      opacity: 0 !important;
      background-color: transparent !important;
    }
  }
  .product-action{
    text-align: center;
    .labtn-icon{
      display: none;
    }
    .la-addcart{
      padding: 15px;
      min-width: 125px;
    }
  }
}

div#la_compare_table_wrapper2 {
  position: relative;
}

.la-compare-table {
  display: block;
  margin: 0;
  width: 100%;
  overflow: auto;
  padding: 0;
  tr.compare-tr{
    &:first-child{
      th{
        vertical-align: bottom;
        border-right: 0;
      }
      th,
      td{
        padding-top: 0;
      }
    }
    th {
      min-width: 249px;
      background-color: #fff;
      vertical-align: middle;
      font-weight: bold;
      border-left: 0;
      padding: 15px 20px 15px 0;
      border-right: 1px solid #e9e9e9;
    }
    td {
      min-width: 300px;
      max-width: 100%;
      text-align: center;
      padding: 15px 20px;
      vertical-align: middle;
      .remove {
        margin-bottom: 10px;
      }
    }

  }
  h4 {
    font-size: 14px;
    margin: 15px 0;
  }

  .image-wrap {
    width: 150px;
    max-width: 100%;
    margin: 0 auto;
  }
  .add_to_cart_wrap {
    a {
      display: inline-block;
      font-family: inherit;
      background-color: $secondary-color;
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      margin: 0;
      padding: 10px 15px;
      border: 0;
      cursor: pointer;
      text-align: center;
      line-height: 1;
      &.added {
        display: none;
      }
      .labtn-icon {
        display: none;
      }
      &:hover{
        background-color: $primary-color;
      }
    }
  }

  del {
    color: #8a8a8a;
  }

  ins {
    text-decoration: none;
  }

  .compare-tr-stock{
    .stock.in-stock {
      color: green;
    }
    .stock.out-of-stock {
      color: #c43002;
    }
  }

}

.la_remove_from_compare{
  font-size: 12px;
  i{
    vertical-align: middle;
    margin-top: -2px;
  }
}

.la-compare-table-items th{
  opacity: 0;
}

.la-compare-table-heading{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
}

@media (max-width: 800px) {
  .la-compare-table th {
    min-width: 150px;
  }
  .la-compare-table-heading{
    width: 150px;
  }
}

@media (max-width: 600px) {
  .la-compare-table th {
    min-width: 0;
  }
}

.demo_store {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 1em 1.41575em;
  background-color: #3d9cd2;
  color: #fff;
  z-index: 9999;

  &:before {
    display: inline-block;
    font: normal normal normal 14px/1 LaStudioIcons;
    font-size: inherit;
    text-rendering: auto;
    margin-right: 0.5407911001em;
    content: "\ea59";
  }

  @media (min-width: 768px) {
    a.woocommerce-store-notice__dismiss-link {
      background: rgba(0, 0, 0, .1);
      float: right;
      display: inline-block;
      margin: -1em -1.41575em -1em 0;
      padding: 1em 1.41575em;

      &:before {
        display: inline-block;
        font: normal normal normal 14px/1 LaStudioIcons;
        font-size: inherit;
        text-rendering: auto;
        content: "\ea3a";
        margin-right: 0.3342343017em;
      }
    }
  }
}

@media(max-width: 600px) {
  table.shop_table_responsive tr td[data-title]:before,
  .shop_table.woocommerce-cart-form__contents td {

  }
  .la_wishlist_table .product-action a {
    padding: 5px 10px;
    margin-top: 10px;
  }
}


.woocommerce form.checkout.woocommerce-checkout:before,
.woocommerce form.checkout.woocommerce-checkout:after {
  content: ' ';
  display: table;
  flex-basis: 0;
  order: 1;
}

.woocommerce form.checkout.woocommerce-checkout:after {
  clear: both;
}

.processing .blockOverlay {
  background-image: url(../images/ajax-loader.gif) !important;
  background-position: center 30% !important;
  background-repeat: no-repeat !important;
}

.woocommerce-MyAccount-content form .button {
  @include border-radius(30px);
}

form.track_order {
  p {
    margin-bottom: 30px;
    text-align: center;
  }

  .form-row {
    width: 100%;

    label {
      text-align: left;
    }

    .input-text {
      height: 70px;
      padding: 10px 20px;
    }
  }
}

.tinvwl-loop-button-wrapper {
  display: none;
}

.woocommerce div.product form.cart .tinvwl_add_to_wishlist_button.button {
  display: none;
}

.tinv-wishlist .tinvwl-buttons-group button {
  border: none;
  background-color: #262626;
  color: #fff;
  padding: 5px 10px;
  line-height: 30px;
}

.tinv-wishlist .tinvwl-buttons-group button i:before {
  color: inherit;
}

.widget_price_filter{
  .ui-slider {
    margin-bottom: 15px;
    position: relative;
    background-color: #d8d8d8;
    margin-right: 20px;
    height: 3px;
    &:after{
      content: "";
      position: absolute;
      height: 3px;
      width: 16px;
      background-color: #d8d8d8;
      right: -16px;
    }
    .ui-slider-handle {
      position: absolute;
      z-index: 2;
      width: 18px;
      height: 18px;
      box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.2);
      background-color: #151515;
      cursor: ew-resize;
      top: -8px;
      @include border-radius(50%);
    }
    .ui-slider-range {
      position: absolute;
      z-index: 1;
      height: 3px;
      background-color: $secondary-color;
    }
  }
  .price_slider_wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .price_slider_amount {
    @include display();
    @include flex-direction(column-reverse);
    .price_label{
      line-height: 20px;
      font-size: 12px;
      opacity: .8;
      margin-bottom: 15px;
    }
  }
  .button {
    color: #262626;
    border: 2px solid;
    font-size: 10px;
    text-transform: uppercase;
    width: 120px;
    padding: 10px 30px;
    background: none;
    line-height: 20px;
    &:hover{
      background-color: #262626;
      color: #fff;
      border-color: #262626;
    }
  }
}

.archive.woocommerce{
  #sidebar_primary{
    .sidebar-inner {
      width: 270px;
      max-width: 100%;
    }
    .widget-title{
      &:after{
        display: none;
      }
    }
  }
}
.single.single-product{
  #sidebar_primary{
    .widget-title{
      &:after{
        display: none;
      }
    }
  }
}

ul.woocommerce-shipping-methods,
ul.wc_payment_methods {
  li{
    position: relative;
    margin-bottom: .6em;
  }
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    font-size: 0;
    + label{
      padding-left: 25px;
      position: relative;
      &:before{
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        content: '';
        position: absolute;
        left: 0;
        border-radius: 50%;
        top: 1px;
        box-shadow: 0 0 3px 0 inset rgba(0, 0, 0, 0.2);
      }
    }
    &:checked + label{
      &:before{
        border: 5px solid #2196F3;
      }
    }
  }
}
ul.wc_payment_methods {
  margin: 0;
  list-style: none;
  .wc_payment_method{
    img{
      max-width: 120px;
    }
  }
  .about_paypal {
    font-size: .8em;
    padding-left: 10px;
    vertical-align: middle;
  }
  .payment_box{
    p{
      margin: 5px 0 10px;
      font-size: .9286em;
    }
  }
}
.woocommerce-privacy-policy-text {
  margin: 1em 0;
}
.woocommerce-terms-and-conditions-wrapper p.form-row {
  margin-bottom: 20px;
}