.widget-area {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    &.menu {
      li {

        padding: 8px 0;
        margin-bottom: 8px;
      }
    }
  }

  .widget {
    margin-bottom: 50px;
  }
}

.sidebar-box {
  margin-bottom: 40px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    &.menu{
      ul{
        display: none;
        margin-left: 1em;
        padding-top: 1em;
        li{
          padding-top: 5px;
          padding-bottom: 5px;
          margin-bottom: 5px;
          &:only-child{
            margin: 0;
            padding: 0;
          }
        }
        li:last-child{
          margin-bottom: 0;
        }
      }
    }
    span.narrow{
      cursor: pointer;
      float: right;
      i {
        display: inline-block;
        font: normal normal normal 12px/1 'LaStudioIcons';
        speak: none;
        text-transform: none;
        vertical-align: middle;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        &:before {
          content: "\ea67";
        }
      }
    }
    li.open{
      >span.narrow i:before{
        content: "\ea68";;
      }
    }
  }
}

.widget-title {
  display: block;
  line-height: 1.2;
  margin: 0 0 30px;

  &:after {
    content: '';
    display: block;
    width: 40px;
    border-bottom: 3px solid $primary-color;
    margin-top: 30px;
  }
}
.widget_calendar caption {
  text-align: center;
  border: 1px solid #e9e9e9;
  border-bottom: none;
  padding: 8px;
}
.widget_calendar table {
  border: 1px solid #e9e9e9;
}
.widget_calendar table th,
.widget_calendar table td{
  border-right: 1px solid #e9e9e9;
  text-align: center;
  padding: 8px;
}

.widget_calendar table th {
  background-color: #f9f9f9;
}

.widget_calendar table #today {
  background: $primary-color;
  color: #fff;
}

.widget_recent_entries li,
.widget_recent_comments li.recentcomments {
  padding: 8px 0;
}

.widget_recent_comments li.recentcomments .comment-author-link {
  font-weight: 600;
  text-transform: capitalize;
}

.widget_rss a.rsswidget {
  font-weight: 600;
}

.widget_rss span.rss-date {
  font-size: 12px;
}

.widget_rss li{
  overflow: hidden;
  margin-bottom: 30px;
}

.widget_rss li .rssSummary {
  padding-top: 8px;
  padding-bottom: 5px;
}

.widget_rss li cite {
  font-weight: 600;
}

.widget_rss li cite:before {
  content: "—";
  padding-right: 5px;
}

/**
 * Widgets > Borders
 */

.widget_recent_entries {
  .pr-item {
    @include clearfix;
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: 30px;
    padding-bottom: 30px;

    &--left {
      float: left;
      position: relative;
      width: 70px;
      height: 70px;
      margin-right: 20px;

      a {
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
        background-size: cover;
        background-position: center center;
      }
    }

    &--right {
      width: calc(100% - 90px);
      float: left;

      a {
        font-weight: 600;
        line-height: 1.4;
        display: inline-block;
      }

      .post-date {
        display: block;
        font-size: 10px;
        color: #3E3E3E;
      }
    }
  }
}

.la_product_tag_cloud,
.widget_tag_cloud {
  .tagcloud {
    @include display();
    @include flex-flow(row wrap);
  }

  a {
    font-size: 11px !important;
    border: 1px solid #D3D3D3;
    padding: 4px 10px;
    display: inline-block;
    line-height: 20px;
    margin: 0 5px 5px 0;
    border-radius: 4px;
  }

  .active a,
  a:hover {
    border-color: $primary-color;
    background-color: $primary-color;
    color: #fff;
  }
}

.widget_product_tag_cloud:not(.la_product_tag_cloud) {
  a {
    font-size: inherit !important;
    display: inline-block;
    padding-bottom: 8px;

    &:not(:last-child) {
      &:after {
        content: ',';
      }
    }
  }
}

.widget_layered_nav ul {
  width: 280px;
  max-width: 100%;

  li {
    position: relative;
    margin-bottom: 8px;
    padding: 8px 0;
    width: 49%;
    display: inline-block;

    &.chosen,
    &.active {
      a {
        &:after {
          @include lastudio-icon();
          content: "\ea3a";
          float: left;
          color: #fff;
          font-size: 10px;
          background: $primary-color;
          text-align: center;
          margin-right: 5px;
          line-height: 18px;
          width: 18px;
        }
      }
    }
  }
}

.widget_product_categories .product-categories .count {
  float: right;
  font-size: .8572em;
}


.sidebar__banner {
  position: relative;

  a {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: all .5s;
      background-color: #181818;
      opacity: .2;
    }
  }

  img {
    width: 100%;
  }

  h4 {
    font-size: 16px;
    font-weight: normal;
    color: inherit;
    line-height: normal;
    margin: 0 0 10px;
  }

  p {
    font-size: 44px;
    color: inherit;
    line-height: normal;
    margin: 0;
  }

  &-content {
    color: #fff;
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    transition: all .5s;
  }

  &:hover {
    a {
      &:before {
        opacity: .4;
        @include scale(.9);
      }
    }

    .sidebar__banner-content {
      margin-bottom: 20px;
    }
  }

  &--style2 {
    .sidebar__banner-content {
      text-align: inherit;
      bottom: 0;
      padding: 30px;
    }

    h4 {
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }
  }
}

.la-advanced-product-filters {
  .widget {
    .widget-title {
      font-size: 16px;
      margin-bottom: 20px;

      &:after {
        display: none;
      }
    }

    ul {
      li {
        padding: 0;
        margin-bottom: 15px;
      }
    }
  }
}

@media(max-width: 991px) {
  .widget-title {
    &:after {
      margin-top: 15px;
    }
  }
}