.la-slick-slider{
  &.grid-items{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.la-custom-badge {
  position: absolute;
  z-index: 9;
  font-size: 10px;
  padding: 15px 10px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  top: 20px;
  min-width: 50px;
  text-transform: uppercase;
  border-radius: 50%;
  background-color: #212121;
}

.onsale {
  min-width: 50px;
  top: 20px;
}

.onsale .save-total,
.onsale .save-sale-price {
  display: none;
}

.la-custom-badge.even + .odd + .onsale,
.la-custom-badge.even + .onsale,
.la-custom-badge.odd ~ .odd,
.la-custom-badge.even ~ .even {
  top: 65px;
}

body.ltr {
  .la-custom-badge {
    left: 20px;
  }
  .la-custom-badge.even {
    right: 20px;
    left: auto;
  }
  .la-custom-badge.odd + .onsale {
    right: 20px;
    left: auto;
  }
  .la-custom-badge.even + .onsale {
    left: 20px;
    right: auto;
  }
}

body.rtl {
  .la-custom-badge {
    right: 20px;
  }
  .la-custom-badge.even {
    left: 20px;
    right: auto;
  }
  .la-custom-badge.odd + .onsale {
    left: 20px;
    right: auto;
  }
  .la-custom-badge.even + .onsale {
    right: 20px;
    left: auto;
  }
}

.tp-caption a.js-el {
  color: inherit;
  line-height: inherit !important;
  font-size: inherit !important;
  vertical-align: top;
  svg {
    vertical-align: top;
  }
}

.popup-added-msg {
  text-align: center;
  img{
    width: 200px;
    max-width: 80%;
    margin-bottom: 20px;
  }
  .popup-message {
    margin: 10px 0;
  }
  a.button {
    display: block;
    width: 250px;
    padding-left: 0;
    padding-right: 0;
    margin: 10px auto 0;
    max-width: 100%;
  }
}

.has-default-404{
  .default-404-content{
    text-align: center;
    background: url(assets/images/404-bg.png) no-repeat center center;
    background-size: contain;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 80vh;
    @include display();
    @include justify-content(center);
    @include align-items(center);
    h1{
      font-size: 320px;
      line-height: .8;
      color: $primary-color;
      margin: 0;
    }
    h4{
      font-size: 46px;
      font-family: "Alegreya", sans-serif;
      font-weight: normal;
      line-height: 1;
      margin-bottom: 45px;
    }
    .button-wrapper{
      margin-top: 30px;
    }
    .button{
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      padding: 30px 90px;
      line-height: 20px;
    }
  }
}


.wp-block-columns.has-2-columns.col-6-4 .wp-block-column:first-child {
  @include flex-basis(61%);
}

blockquote.wp-block-quote.quote-style-one{
  background-color: $primary-color;
  color: #fff;
  width: 100%;
  padding: 40px 20px 25px;
  border: none;
  text-align: center;
  p{
    width: 470px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  cite{
    &:before{
      content: '';
      border-top: 2px solid;
      width: 50px;
      display: block;
      margin: 20px auto 10px;
    }
  }
}

blockquote.wp-block-quote.quote-style-two{
  color: #fff;
  width: 100%;
  padding: 100px 50px 50px;
  border: none;
  position: relative;
  margin: 0 0 20px;
  background: $secondary-color url(assets/images/demo/quote2-bg.jpg) no-repeat center;
  &:before{
    content: '“';
    font-size: 150px;
    line-height: 40px;
    position: absolute;
    top: 75px;
  }
  p{
    font-size: 36px;
    line-height: 1.22;
    font-weight: bold;
  }
  cite{
    font-size: 18px;
    font-weight: bold;
  }
}

@media(min-width: 1200px){
  blockquote.wp-block-quote.quote-style-three{
    background: #F9F9F9 url(assets/images/demo/quote-3.png) no-repeat center;
    border: none;
    padding: 70px 50px 70px 210px;
    background-position: 80px 80px;
    background-size: 80px auto;
    margin: 50px 0;
    p{
      font-weight: bold;
      font-size: 32px;
      line-height: 1.375;
      font-family: "Montserrat", sans-serif !important;
      margin-bottom: 20px;
    }
    cite {
      font-weight: normal;
      font-size: 14px;
      strong {
        font-weight: bold;
      }
    }
  }
}

.has-drop-cap:not(:focus):first-letter {
  font-size: 4em;
  margin-top: 0.2em;
  margin-right: .2em;
}

@media(min-width: 960px){
  .wp-block-cover.custom-cover-block {
    min-height: 640px;
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

.lastudio-portfolio{
  &.preset-list-type-1{
    .lastudio-arrow{
      width: 50px;
      height: 50px;
      top: calc(100% - 100px);
      background: #fff;
      color: $secondary-color;
      border-radius: 0;
      left: calc(35% + 50px);
      margin-top: 0;
      right: auto;
      &:hover{
        background-color: $secondary-color;
        color: #fff;
      }
      &.next-arrow{
        margin-left: 60px;
      }
    }
  }
}

.tp-parallax-wrap.m4-slide {
  @media(min-width: 1600px){
    left: 25% !important;
  }
}

@media(max-width: 1500px){
  .header-v-header-06 .lahb-wrap .lahb-desktop-view .lahb-row1-area:not(.lahb-vertical) {
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
    height: 120px;
  }
  .header-v-header-06 .lahb-wrap.is-sticky .lahb-desktop-view .lahb-row1-area {
    margin-top: 0;
  }
  .has-default-404 .default-404-content h1{
    font-size: 200px;
    margin-bottom: 20px;
  }
  .has-default-404 .default-404-content h4{
    font-size: 30px;
  }
  .has-default-404 .default-404-content .button {
    padding: 25px 50px;
  }
}

@media(min-width: 1500px){
  .header-v-header-06 .lahb-wrap.is-sticky .lahb-desktop-view .lahb-row1-area {
    margin-top: 0;
  }
  .header-v-header-06 .lahb-wrap .lahb-desktop-view .lahb-row1-area .container {
    max-width: calc( 100% - 100px );
  }
}

@media(max-width: 767px){
  .has-default-404 .default-404-content {
    min-height: 350px;
  }
  .has-default-404 .default-404-content h1 {
    font-size: 100px;
  }
  .has-default-404 .default-404-content h4 {
    font-size: 24px;
  }
  .has-default-404 .default-404-content .button {
    padding: 20px 40px;
    font-size: 12px;
  }


  blockquote.wp-block-quote.quote-style-two{
    padding: 80px 30px 30px;
    &:before {
      top: 55px;
    }
    p {
      font-size: 24px;
    }
    cite {
      font-size: 14px;
    }
  }

}

.header-white.enable-header-transparency .lahb-wrap:not(.is-sticky) .lahb-screen-view .lahb-row1-area .lahb-element:not(.lahb-nav-wrap) a,
.header-white.enable-header-transparency .lahb-wrap:not(.is-sticky) .lahb-screen-view .lahb-row1-area .lahb-element{
  color: #fff
}
.header-black.enable-header-transparency .lahb-wrap:not(.is-sticky) .lahb-screen-view .lahb-row1-area .lahb-element:not(.lahb-nav-wrap) a,
.header-black.enable-header-transparency .lahb-wrap:not(.is-sticky) .lahb-screen-view .lahb-row1-area .lahb-element{
  color: #212121
}

.has-zephys-theme-primary-color{
  color: $primary-color
}
.has-zephys-theme-secondary-color{
  color: $secondary-color
}
.has-strong-magenta-color{
  color: #a156b4
}
.has-light-grayish-magenta-color{
  color: #d0a5db
}
.has-very-light-gray-color{
  color: #eee
}
.has-very-dark-gray-color{
  color: #444
}

.has-zephys-theme-primary-background-color{
  background-color: $primary-color
}
.has-zephys-theme-secondary-background-color{
  background-color: $secondary-color
}
.has-strong-magenta-background-color{
  background-color: #a156b4
}
.has-light-grayish-magenta-background-color{
  background-color: #d0a5db
}
.has-very-light-gray-background-color{
  background-color: #eee
}
.has-very-dark-gray-background-color{
  background-color: #444
}


.lastudio-posts .format-embed .la-media-wrapper{
  .mejs-container {
    margin-bottom: 0;
  }
  .mejs-playpause-button {
    width: 56px;
    height: 56px;
    line-height: 56px;
    margin-top: -8px;
    position: relative;
    button {
      background-color: #fff;
      width: 100%;
      height: 100%;
      margin: 0;
      line-height: 1;
      &:after{
        content: "\ea45";
        font-family: 'LaStudioIcons';
        speak: none;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #212121;
        font-size: 20px;
      }
      &:hover{
        &:after{
          color: #EACC2B;
        }
      }
    }
    &.mejs-pause{
      button:after{
        content: '\f04c';
        font-family: FontAwesome;
      }
    }
  }
  .mejs-controls{
    padding: 0 20px 0 30px;
    @media(max-width: 767px){
      padding: 0 20px;
    }
    .mejs-time-rail .mejs-time-current{
      background: #EACC2B;
    }
  }
  .mejs-time {
    position: absolute;
    bottom: -20px;
    right: 108px;
    padding-top: 0;
    line-height: 1;
  }
  .mejs-time-rail {
    margin-left: 15px;
  }
  .mejs-time.mejs-currenttime-container {
    right: 150px;
  }
}

.lastudio-posts.blog__entries.preset-list-2,
.lastudio-posts.blog__entries.preset-list-1{
  .post-thumbnail {
    .blog_item--thumbnail.format-embed {
      padding-bottom: 100px;
    }
    &.single_post_quote_wrap{
      .blog_item--thumbnail{
        padding-bottom: 300px;
      }
    }
  }

}

.job_listings.is-externalsearch .load_more_jobs,
.job_listings.is-externalsearch ul.job_listings {
  display: none;
}

.m1-row-services .lastudio-banner{
  .lastudio-banner__content-wrap {
    width: 100%;
    padding-bottom: 20px;
    animation-duration: .7s;
    animation-name: m1ServicesOut;
  }
  .lastudio-banner__text {
    overflow: hidden;
    display: none;
    animation-duration: .7s;
  }
  &:hover{
    .lastudio-banner__text {
      display: block;
      animation-name: m1ServicesIn;
    }
    .lastudio-banner__content-wrap {
      animation-duration: 1.25s;
      animation-name: m1ServicesIn;
      padding-bottom: 0;
    }
  }
}

@keyframes m1ServicesIn {
  0% {
    transform: translate3d(0, 100px, 0);
  }
  100% {
    transform: none;
  }
}

@keyframes m1ServicesOut {
  0% {
    transform: translate3d(0, -100px, 0);
  }
  100% {
    transform: none;
  }
}

.btn-viewall-project .elementor-button{
  .elementor-button-icon {
    border: 1px solid #979797;
    width: 2em;
    height: 2em;
    font-size: 2em;
    line-height: calc(2em - 5px);
    margin-top: -.65em;
    margin-left: 1em;
    transition: all .3s;
    i {
      vertical-align: middle;
    }
  }
  .elementor-button-text{
    transition: all .3s;
  }
  &:hover{
    .elementor-button-text{
      color: #4241FF;
    }
    .elementor-button-icon{
      background: #4241FF;
      color: #fff;
      border-color: #4241FF;
    }
  }
}

.header-v-header-09 .lahb-nav-wrap .menu > li.menu-item > a .text-wrap:after {
  top: auto;
  bottom: 2em;
}
.enable-header-transparency.header-v-header-09 .lahb-wrap:not(.is-sticky) .lahb-nav-wrap .menu>li:hover>a,
.enable-header-transparency.header-v-header-09 .lahb-wrap:not(.is-sticky) .lahb-nav-wrap .menu>li.current>a {
  color: #fff;
}

.lastudio-posts__inner-content .entry-excerpt p {
  margin-bottom: 0;
}

.header-v-default{
  .lahb-nav-wrap{
    .menu{
      ul {
        width: 220px;
        font-size: 14px;
        ul {
          left: auto;
          right: 100%;
        }
      }
      > li.menu-item{
        > a{
          padding: 0 15px;
        }
        ul {
          padding: 20px 0;
        }
      }
    }
  }
  //.entry{
  //  p{
  //    font-family: "Alegreya", sans-serif;
  //    font-size: 16px;
  //    line-height: 2.375;
  //  }
  //  blockquote p {
  //    font-size: 18px;
  //    line-height: 1.6;
  //  }
  //}

  .lastudio-posts .post-thumbnail img{
    width: auto;
    margin-left: 0;
  }
  .product--summary .product-nextprev {
    display: none;
  }
  .site-breadcrumbs {
    font-size: 14px;
  }
  .site-breadcrumbs .breadcrumb-sep{
    margin: 0 5px;
  }

  .product--summary .product_title {
    font-size: 26px;
  }
  .product--summary .single-price-wrapper .price {
    font-size: 26px;
    padding-top: 5px;
  }
  .single-price-wrapper {
    margin-bottom: 20px;
  }
  .woocommerce-product-details__short-description {
    font-size: 14px;
  }
  .product--summary .cart:before {
    padding-top: 30px;
  }
  .product--summary .cart:after {
    padding-top: 30px;
  }
  .product--summary .cart {
    margin-bottom: 30px;
  }
  .sidebar-box{
    margin-bottom: 4em;
  }

  .lastudio-posts .post-thumbnail a{
    position: relative;
    overflow: hidden;
    .blog_item--thumbnail{
      transition: all 2s ease-out;
    }
    &:hover{
      .blog_item--thumbnail{
        @include scale(1.2);
      }
    }
  }
}

.ul_products .product_item {
  padding: 15px;
}

.site-content .entry{
  ul,
  dl,
  ol{
    li {
      margin-bottom: 8px;
    }
    ol,
    ul{
      margin-top: 8px;
    }
  }
}
.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p,
.wp-block-pullquote p{
  font-size: 18px;
}

.wp-block-latest-posts.is-grid {
  margin-left: 0;
}

.wp-block-gallery{
  display: flex;
  margin-bottom: 20px;
}

@media(max-width: 767px){
  .s_product_content_bottom{
    > .row {
      margin: 0;
      > .col-xs-12 {
        padding: 0;
      }
    }
    .la-slick-slider.grid-items {
      margin-left: -15px !important;
      margin-right: -15px !important;
    }
  }
  .wc-toolbar-container {
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: #fff;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
  .wc-toolbar-top {
    margin-bottom: 0;
  }
  .header-v-default{
    .product--summary{
      .single-price-wrapper .price,
      .product_title {
        font-size: 20px;
      }
    }
  }
}

@media(min-width: 1200px){
  .header-v-default{
    .lastudio-posts--list .entry-title{
      font-size: 26px;
    }
    .entry-title-single{
      font-size: 32px;
      margin-bottom: 10px;
    }
    .single-post-article > .post-terms {
      margin-bottom: 0;
      font-style: normal;
    }
    .single-post-article > .post-meta{
      padding-bottom: 30px;
    }
    .comments-title {
      font-size: 24px;
      margin-bottom: 25px;
    }
    .single-post-article > .post-thumbnail{
      margin-bottom: 20px;
    }
  }
}