html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}

html {
	font-size: 62.5%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*, *:before, *:after {
	@include box-sizing(border-box);
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
	display: block
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

blockquote, q {
	quotes: none
}

a:focus {
	outline: none
}

a:hover, a:active {
	outline: 0
}

a img {
	border: 0
}

img {
	max-width: 100%;
	height: auto;
}

select {
	max-width: 100%
}

em {
	font-style: italic;
}

.hidden {
	display: none !important;
}

* html {
	font-size: 100% * ( $font-size / $browser-font-size );
}

html {
	//-ms-overflow-x: hidden;
	//overflow-x: hidden;
}

body {
	font-family: $body-font-family;
	font-size: $font-size;
	line-height: $base-line-height;
	color: $body-font-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-wrap: break-word;
    word-wrap: break-word;
	background-color: $body-bg-color;
}

.mejs-container {
    margin-bottom: 20px;
}

.figure__object_fit {
	position: relative;
	overflow: hidden;
	width: 100%;
	img {
		width: 100%;
	}
	&.custom-object-fit {
		background-size: cover;
		background-position: center center;
		img {
			opacity: 0 !important;
		}
	}
}

/**
 * Grid > Main Classes.
 */

.container {
	@include container-fixed();
	max-width: 94%;
	@media (min-width: $screen-lg-min) {
		width: 1170px;
	}
	@media (max-width: 1199px) {
		width: 100%;
	}
	&.la-container-full {
		width: 100%;
	}
	@media(max-width: 767px){
		max-width: calc( 100% - 50px );
	}
	@media(max-width: 359px){
		max-width: calc( 100% - 40px );
	}
}

.container-fluid {
	@include container-fixed;
}

.row {
	@include make-row;
}

@include make-grid-columns;

@include make-grid(xs);

@media (min-width: $screen-sm-min) {
	@include make-grid(sm);
}

@media (min-width: $screen-md-min) {
	@include make-grid(md);
}

@media (min-width: $screen-lg-min) {
	@include make-grid(lg);
}

@media(min-width: 1600px){
	.container {
		max-width: calc(100% - 160px);
	}
}

.col-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	&.disable-cols-gap {
		div[class*="col-desk"] {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&.disable-rows-gap {
		div[class*="col-desk"] {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}

$bkp_lists : (
	('mobp'  , 576px),
	('mob'   , 768px),
	('tabp'  , 960px),
	('tab'   , 1199px),
	('lap'   , 1600px),
	('desk'  , 1825px)
);

%default-col{
	position: relative;
	min-height: 1px;
	padding: 15px;
	box-sizing: border-box;
	width: 100%;
}

@each $bkp in $bkp_lists {
	@for $i from 1 through 6 {
		$screen_name : nth($bkp, 1);
		.col-#{$screen_name}-#{$i}{
			@extend %default-col;
		}
	}
}

@for $i from 1 through 6 {
	.col-mobp-#{$i}{
		-ms-flex: 0 0 percentage(1/$i);
		flex: 0 0 percentage(1/$i);
		max-width: percentage(1/$i);
	}
}

@media (min-width: 576px) {
	@for $i from 1 through 6 {
		.col-mob-#{$i}{
			-ms-flex: 0 0 percentage(1/$i);
			flex: 0 0 percentage(1/$i);
			max-width: percentage(1/$i);
		}
	}
}

@media (min-width: 768px) {
	@for $i from 1 through 6 {
		.col-tabp-#{$i}{
			-ms-flex: 0 0 percentage(1/$i);
			flex: 0 0 percentage(1/$i);
			max-width: percentage(1/$i);
		}
	}
}

@media (min-width: 800px) {
	@for $i from 1 through 6 {
		.col-tab-#{$i}{
			-ms-flex: 0 0 percentage(1/$i);
			flex: 0 0 percentage(1/$i);
			max-width: percentage(1/$i);
		}
	}
}

@media (min-width: 1300px) {
	@for $i from 1 through 6 {
		.col-lap-#{$i}{
			-ms-flex: 0 0 percentage(1/$i);
			flex: 0 0 percentage(1/$i);
			max-width: percentage(1/$i);
		}
	}
}
@media (min-width: 1600px) {
	@for $i from 1 through 6 {
		.col-desk-#{$i}{
			-ms-flex: 0 0 percentage(1/$i);
			flex: 0 0 percentage(1/$i);
			max-width: percentage(1/$i);
		}
	}
}

.grid-items{
	&:not(.slick-slider){
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-align-content: flex-start;
		-ms-flex-line-pack: start;
		align-content: flex-start;
	}
	.grid-item{
		display: inline-block;
		zoom: 1;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto;
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}
}

@for $i from 1 through 10 {
	.block-grid-#{$i}{
		.grid-item{
			width: percentage(1/$i);
		}
	}
}

@media(max-width: 1600px){
	@for $i from 1 through 10 {
		.laptop-block-grid-#{$i}{
			.grid-item{
				width: percentage(1/$i);
			}
		}
	}
}

@media(max-width: 1300px){
	@for $i from 1 through 10 {
		.tablet-block-grid-#{$i}{
			.grid-item{
				width: percentage(1/$i);
			}
		}
	}
}

@media(max-width: 800px){
	@for $i from 1 through 10 {
		.mobile-block-grid-#{$i}{
			.grid-item{
				width: percentage(1/$i);
			}
		}
	}
}

@media(max-width: 576px){
	@for $i from 1 through 10 {
		.xmobile-block-grid-#{$i}{
			.grid-item{
				width: percentage(1/$i);
			}
		}
	}
}

$bkp_lists : (
	('sm'   , 576px),
	('md'   , 768px),
	('lg'   , 992px),
	('xl'   , 1200px),
	('xxl'  , 1825px)
);

@media(max-width: 576px){
	@for $i from 1 through 10 {
		.xs-block-grid-#{$i}{
			.grid-item{
				width: percentage(1/$i);
			}
		}
	}
}

@each $bkp in $bkp_lists {
	@media (min-width: nth($bkp, 2)){
		$screen_name : nth($bkp, 1);
		@for $i from 1 through 10 {
			.#{$screen_name}-block-grid-#{$i}{
				.grid-item{
					width: percentage(1/$i);
				}
			}
		}
	}
}

/**
 * Language Switches.
 */
.polylang-switcher-shortcode {
	li {
		float: left;
		margin-right: 5px;
	}

	&.flags-and-names li {
		margin-right: 15px;
	}

	li:last-child {
		margin-right: 0;
	}
}

/**
 * Selection Color.
 */
::selection {
	color: $selection-font-color;
	background: $selection-bg-color;
	text-shadow: none;
}

::-moz-selection {
	color: $selection-font-color;
	background: $selection-bg-color;
	text-shadow: none;
}