/**
 * Set link colors.
 */
a {
	color: inherit;

	&:hover {
		color: $link-hover-color;
	}
}

a.light {
	color: $color-1;

	&:hover {
		color: $link-hover-color;
	}
}

a, a:hover, a:focus {
	text-decoration: none;
    @include transition( all .3s ease );
}

/**
 * Headings.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $heading-font-weight;
	margin: 0 0 20px;
	color: $heading-font-color;
	line-height: 1.2;
}

h1 {
	font-size: 46px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}


/**
 * Text elements.
 */
p {
	margin: 0 0 20px;
	&:last-child{
		margin-bottom: 0;
	}
}

abbr[title],
dfn[title] {
	cursor: help;
}

del {
	vertical-align: baseline;
	text-decoration: line-through;
	color: #aaa;
}

code,
kbd,
pre,
samp {
	font-size: 14px;
	font-family: Menlo,Consolas,monaco,monospace;
}

pre {
	margin: 20px 0;
	padding: 20px;
	color: #2080ad;
	background-color: #fafafa;
}

code {
	color: #2080ad;
}

blockquote {
	margin: 0 0 15px;
	border-left: 4px solid $color-5;
	padding-left: 1em;
	p{
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 1.6;
	}
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
}

address {
	display: block;
	margin: 0 0 20px;
}

ul,
ol {
	margin: 15px 0 15px 20px;
}

ol {
	list-style-type: decimal;
}

ol ol {
	list-style: upper-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: lower-alpha;
}

li ul,
li ol {
	margin: 0 0 0 25px;
}

dl {
	margin: 0;
}

dt {
	font-weight: 700;
}

dd {
	margin-bottom: 20px;
}

hr {
	clear: both;
	height: 1px;
	min-height: 0;
	margin: 20px 0;
	border-top: 1px solid $border-color;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;

	&.dotted {
		border-style: dotted;
	}
	&.dashed {
		border-style: dashed;
	}
	&.blackborder {
		border-color: #000;
	}
	&.whiteborder {
		border-color: #fff;
	}
}

/**
 * Print styles.
 */
@media print {
	* {
		background: transparent !important;
		@include box-shadow( none !important );
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;

		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: .5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}


blockquote.wp-block-quote{
	margin: 30px 0;
	&[style*="center"]{
		width: 700px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	cite {
		font-family: "Montserrat", sans-serif;
		color: inherit;
		font-weight: bold;
	}
}

@media(max-width: 1199px){
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 26px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 22px;
	}
}

@media(max-width: 991px){
	h1 {
		font-size: 26px;
	}
	h2 {
		font-size: 22px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 18px;
	}
	h5 {
		font-size: 17px;
	}
	h6 {
		font-size: 16px;
	}
}
@media(max-width: 767px){
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 19px;
	}
}