.comments-title {
	margin-bottom: 35px;
}
.comment-reply-title small {
	display: block;
	font-size: 12px;
	font-weight: normal;
}

.comment-list{
	margin: 0;
	list-style: none;

	.comment-body{
		@include display();
	}

	img.avatar{
		width: 76px;
		height: 76px;
		margin-right: 24px;
		border-radius: 50%;
		object-fit: cover;
	}

	.comment-content-outer{
		border: 1px solid #C8C8C8;
		padding: 35px;
		margin-bottom: 20px;
		width: calc( 100% - 100px);
	}
	.comment-author{
		@include display();
		@include align-items(center);
		margin-bottom: 15px;
		.comment-link{
			font-size: 20px;
			letter-spacing: -.5px;
			margin: 0;
		}
		.comment-meta{
			font-size: 11px;
			color: #3E3E3E;
			padding-top: 3px;
			margin: 0 10px;
		}
	}
	.comment-entry{
		.comment-meta{
			line-height: 1;
			display: inline-block;
			a{
				font-weight: 600;
				font-size: 12px;
				margin-right: 10px;
			}
		}
		p{
			margin-bottom: 15px;
		}
	}
	.children{
		list-style: none;
	}
}

/*
For WC Reviews
 */
.commentlist{
	margin: 0;
	list-style: none;

	.comment_container{
		@include display();
	}

	img.avatar{
		width: 76px;
		height: 76px;
		margin-right: 24px;
		border-radius: 50%;
		object-fit: cover;
	}

	.comment-text{
		border: 1px solid #C8C8C8;
		padding: 35px;
		margin-bottom: 20px;
		width: calc( 100% - 100px);
	}

	.star-rating{
		float: right;
	}
	.woocommerce-review__published-date{
		font-size: 11px;
	}
	p.meta{
		vertical-align: middle;
		margin-bottom: 10px;
	}

}

p.comment-notes {
	font-style: italic;
	font-size: 1em;
	margin-bottom: 50px;
}
.comment-form{
	label{
		display: block;
		padding-bottom: 5px;
	}
	textarea{
		margin-bottom: 30px;
	}
	input{
		&:not([type="checkbox"]){
			&:not([type="radio"]){
				&:not([type="submit"]){
					margin-bottom: 15px;
					width: 100%;
					max-width: 100%;
					-webkit-appearance: none;
					padding: 15px 25px;
					line-height: 2;
				}
			}
		}
	}
	.comment-form-cookies-consent{
		label{
			display: inline;
			padding: 0 5px;
		}
	}
	textarea{
		width: 100%;
		height: 150px;
		max-width: 100%;
		padding: 25px;
		vertical-align: top;
		-webkit-appearance: none;
	}
	.submit{
		min-width: 180px;
	}
}

.comment-respond{
	padding-top: 25px;
}

.comment-form{
	.comment-form-url,
	.comment-form-email,
	.comment-form-author{
		width: -webkit-calc( (100%/3) - 20px );
		width: calc( (100%/3) - 20px );
		float: left;
		margin-left: 30px;
	}
	.comment-form-author{
		margin-left: 0;
	}
}

.comment-form-rating p.stars {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
}

.woocommerce-Reviews{
	.comment-reply-title{
		font-size: 24px;
		font-weight: 600;
		line-height: normal;
	}
	.comment-form{
		textarea {
			margin-bottom: 0;
		}
		input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
			margin-bottom: 0;
		}
	}

	.commentlist,
	.comment-notes{
		margin-bottom: 1em;
	}
}

li.pingback {
	margin-bottom: 8px;
	+ li.comment-container {
		margin-top: 3em;
	}
}
p.no-comments {
	margin-top: 1em;
}
@media(max-width: 768px){
	.wc-tab .wc-tab-title a{
		padding: 10px 0;
	}
	.woocommerce-Reviews .comment-reply-title{
		font-size: 16px;
		padding-bottom: 10px;
		display: block;
	}
	.comment-form {
		textarea {
			padding: 15px;
			margin-bottom: 15px;
		}
		input{
			&:not([type="checkbox"]){
				&:not([type="radio"]){
					&:not([type="submit"]){
						padding: 10px 15px;
					}
				}
			}
		}
	}
	.comment-list{
		img.avatar{
			width: 50px;
			height: 50px;
			margin-right: 10px;
		}
		.comment-content-outer{
			padding: 15px;
			width: calc( 100% - 60px);
		}
		.comment-author{
			margin-bottom: 10px;
			.comment-link{
				font-size: 16px;
			}
		}
	}
	.commentlist{
		img.avatar{
			width: 50px;
			height: 50px;
			margin-right: 10px;
		}
		.comment-text{
			padding: 15px;
			width: calc( 100% - 60px);
		}
		.star-rating{
			float: none;
		}
	}
}

@media (max-width: 600px){
	.comment-form .comment-form-url,
	.comment-form .comment-form-email,
	.comment-form .comment-form-author{
		width: 100%;
		margin-left: 0;
	}
}