.page-header-inner{
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-page-header {
  .page-title{
    margin-bottom: .3em;
  }
  .page-title-v1 & {
    text-align: center;
  }
  .page-title-v2 & {
    text-align: left
  }
  .page-title-v3 & {
    text-align: right;
  }
}

.page-title-v5,
.page-title-v4{
  .section-page-header{
    .page-title{
      margin-bottom: 0;
    }
    .page-header-inner{
      @include display();
      @include flex-wrap(wrap);
      @include justify-content(space-between);
      @include align-items(center)
    }
  }
}
.page-title-v5{
  .section-page-header{
    .page-header-inner{
      @include flex-direction(row-reverse)
    }
  }
}

/**
 * Breadcrumbs
 */
.site-breadcrumbs {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
    }
  }
  p{
    margin: 0;
  }

  .breadcrumb-sep {
    margin: 0 10px;
  }

  .icon-home.has-text,
  .breadcrumb-home.has-icon {
    display: none;
  }

  .breadcrumb-title {
    margin-right: 5px;
  }
  .icon-home{
    margin-top: -.3em;
  }
}