.la-pagination {
  padding: 0 2px;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 0 5px 0 0;
    }

    .page-numbers {
      font-size: 16px;
      text-align: center;
      display: block;
      position: relative;
      background: #fff;
      padding: 15px 10px;
      line-height: 20px;
      min-width: 50px;
      transition: all .3s;
      border: 1px solid rgba(0, 0, 0, 0.1);
      color: #535353;
      i{
        vertical-align: middle;
        margin-top: -2px;
      }
      &.current,
      &:hover {
        color: #fff;
        background-color: $secondary-color;
        border: 1px solid transparent;
      }

      &.dots {
        border-color: transparent;
        padding: 0;
        min-width: 0;
        color: inherit;
      }
    }
  }

  .la-ajax-loading-outer,
  .pagination_ajax_loadmore {
    display: none;
  }

  &.active-loadmore {
    &.nothingtoshow,
    ul {
      display: none;
    }

    .pagination_ajax_loadmore {
      display: block;
    }
  }

  &.doing-ajax {
    .la-ajax-loading-outer {
      display: inline-block;
    }

    ul,
    .pagination_ajax_loadmore {
      display: none;
    }
  }
}

.elementor-post-navigation {
  overflow: hidden;
  @include display();
  @include justify-content(space-between);
  &__link{
    min-height: 1px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 33.3333%;
    a{
      @include display();
      @include align-items(center);
    }
  }
  &__all{
    a{
      @include justify-content(center);
    }
  }
  &__next{
    a{
      @include justify-content(flex-end);
    }
  }
  &__link__next,
  &__link__prev{
    overflow: hidden;
    > span{
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
  }
  .post-navigation{
    &__arrow-all{
      padding-left: 10px;
      padding-right: 10px;
    }
    &__arrow-prev{
      padding-right: 10px
    }
    &__arrow-next{
      padding-left: 10px
    }
    &__arrow-wrapper {
      font-size: 20px;
      i{
        vertical-align: middle;
        @include translateY(-5%)
      }
    }
    &__navigation__link{
      a{
        @include display();
        @include align-items(center);
        max-width: 100%
      }
    }
  }

  &.has-tooltip{
    overflow: visible;
    width: 150px;
    margin-left: auto;
    max-width: 100%;
    .post-navigation__arrow-wrapper{
      position: relative;
      .elementor-screen-only{
        top: auto;
        bottom: 100%;
        height: auto;
        clip: auto;
        background: #212121;
        color: #fff;
        font-size: 10px;
        padding: 0px 5px;
        line-height: 20px;
        white-space: pre;
        z-index: 9999;
        position: absolute;
        left: 50%;
        width: auto;
        text-align: center;
        transition: all .3s;
        opacity: 0;
        margin: 0 auto;
        min-width: 60px;
        overflow: inherit;
        @include translateX(-50%);
        &:after{
          content: '';
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          border-top: 3px solid #212121;
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -3px;
        }
      }
    }
    .elementor-post-navigation__link{
      overflow: visible;
      &:hover {
        .post-navigation__arrow-wrapper{
          .elementor-screen-only{
            opacity: 1;

            margin-bottom: 10px;
          }
        }
      }
    }

  }

}

@media(max-width: 767px){
  .la-pagination ul .page-numbers {
    min-width: 30px;
    padding: 5px;
    font-size: 12px;
  }
}