.search-form{
  position: relative;
  .search-field{
    width: 100%;
    padding: 10px 20px;
    background: transparent;
    -webkit-appearance: none;
    font-size: .8572em;
    line-height: 28px;
    color: inherit;
  }
  .search-button{
    display: block;
    right: 15px;
    border: none;
    color: inherit;
    background: none;
    padding: 0;
    position: absolute;
    top: 50%;
    font-size: 18px;
    @include translateY(-50%);
    &:hover{
      background: none;
      color: $primary-color;
    }
  }
}

.searchform-fly-overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(#000,0.9);
  text-align: center;
  transition: all ease-in-out .25s;
  z-index: 12;
  color: #fff;
  &:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em;
  }
  &.searched{
    background-color: #fff;
    color: $secondary-color;
  }
  &.searching{
    .loading {
      opacity: 1;
    }
  }
  .searchform-fly{
    display: inline-block;
    max-width: 90%;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    @include scale(0.9);
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out .3s;
  }
  .search-field{
    width: 800px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    transition: all .3s ease-out;
    font-weight: 300;
    max-width: 100%;
    color: inherit;
  }
  .search-button{
    font-size: 30px;
    height: 30px;
    color: inherit;
    i{
      vertical-align: top;
    }
  }
  p{
    font-weight: 300;
  }
  .btn-close-search{
    font-size: 40px;
    display: block;
    position: absolute;
    z-index: 5;
    top: 20%;
    right: 20%;
    line-height: 40px;
    height: 40px;
    transition: all .3s;
    i{
      vertical-align: top;
    }
    &:hover{
      @include rotate(90);
    }
  }
  .loading {
    opacity: 0;
    display: block;
    margin: 0 auto;
    width: 70px;
  }
  .search-form{
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
  }
  .search-results{
    max-width: 100%;
    width: 1170px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    .rtl & {
      text-align: right;
    }
  }
  .results-container{
    max-height: 63vh;
    overflow: auto;
    margin-bottom: 10px;
    .products-grid{
      margin: 0;
    }
    .posts{
      .entry-title {
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 5px;
      }
      .post-meta{
        font-size: 12px;
        padding-bottom: 10px;
      }
      .entry-excerpt{
        font-size: 14px;
        line-height: 1.6;
        height: 43px;
        overflow: hidden;
      }
      .lastudio-more-wrap{
        display: none;
      }
    }
  }
  .results-container,
  .view-more-results{
    display: none;
  }
}

.open-search-form{
  .searchform-fly-overlay{
    visibility: visible;
    opacity: 1;
  }
  .searchform-fly{
    visibility: visible;
    opacity: 1;
    @include scale(1);
  }
}

@media (max-width: 768px) {
  .searchform-fly-overlay{
    .btn-close-search{
      right: 10%;
    }
    .searchform-fly{
      font-size: 14px;
    }
    .search-field{
      font-size: 16px;
    }
    .search-button{
      font-size: 16px;
    }
  }
}

@media(max-width: 1500px){
  .searchform-fly-overlay .btn-close-search {
    top: 15%;
    right: 50px;
  }
}
@media (max-width: 1300px) {
  .searchform-fly-overlay .search-results{
    max-width: 85%;
  }
}