.clearfix{
    @include clearfix;
}

.lastudio-images-layout__link{
    width: 100%;
}

.lastudio-carousel-wrap.lastudio-equal-cols .slick-track{
    &:before,
    &:after{
        display: none;
    }
}

a.la-popup-with-play-icon {
    position: relative;
    display: block;
    &:before {
        @include lastudio-icon();
        content: "\ea45";
        position: absolute;
        width: 68px;
        height: 68px;
        line-height: 68px;
        background: #fff;
        text-align: center;
        border-radius: 50%;
        padding-left: 5px;
        left: 50%;
        top: 50%;
        margin-left: -34px;
        margin-top: -34px;
        transition: all .5s;
        z-index: 2;
    }
    &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0;
        transition: all .5s;
    }
    &:hover{
        &:before{
            transform: scale(1.2);
        }
        &:after{
            opacity: .2;
        }
    }
}

.la-loader.spinner1,
.la-loader.spinner2,
.la-loader.spinner3 [class*=bounce],
.la-loader.spinner4 [class*=dot],
.la-loader.spinner5 div {
    background-color: #f53e6a;
}