[class*='lightcase-icon-']:before {
  font-family: 'LaStudioIcons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lightcase-icon-play:before {
  content: '\ea45';
}

.lightcase-icon-pause:before {
  content: '\f28c';
  font-family: FontAwesome;
}

.lightcase-icon-close:before {
  content: "\ea3a";
}

.lightcase-icon-prev:before {
  content: "\ea11";
}

.lightcase-icon-next:before {
  content: "\ea12";
}

#lightcase-case {
  position: fixed;
  z-index: 2002;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  overflow: auto;
  #lightcase-content{
    -webkit-backface-visibility: hidden;
  }
  .lightcase-contentInner{
    background-color: #fff;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
  .custom-lightcase-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.lightcase-open body:not(.open-newsletter-popup){
  &:not(.open-quickview-product){
    .lightcase-inlineWrap{
      padding: 30px;
    }
  }
}

body:not(.open-newsletter-popup){
  &:not(.open-quickview-product){
    #lightcase-case .lightcase-contentInner .lightcase-inlineWrap{
      height: auto !important;
      max-height: none !important;
    }
  }
}

html{
  &:not([data-lc-type=iframe]){
    &:not([data-lc-type=video]){
      #lightcase-case{
        &:not([data-lc-type=iframe]) {
          &:not([data-lc-type=video]) {
            #lightcase-content {
              .lightcase-contentInner{
                height: auto !important;
              }
            }
          }
        }
      }
    }
  }
}


html[data-lc-type=inline] #lightcase-content .lightcase-contentInner,
html[data-lc-type=ajax] #lightcase-content .lightcase-contentInner,
html[data-lc-type=error] #lightcase-content .lightcase-contentInner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html[data-lc-type=image] #lightcase-content .lightcase-contentInner {
  position: relative;
}


#lightcase-case p.lightcase-error {
  margin: 0;
  font-size: 17px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #aaa;
}

@media screen and (min-width: 0) {
  #lightcase-case p.lightcase-error {
    padding: 0;
  }
}

.lightcase-open body {
  overflow: hidden;
}

.lightcase-isMobileDevice .lightcase-open body {
  max-width: 100%;
  max-height: 100%;
}


#lightcase-info {
  position: absolute;
  padding-top: 15px;
  display: none;
}

#lightcase-info #lightcase-title,
#lightcase-info #lightcase-caption {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: normal;
  text-overflow: ellipsis;
}

#lightcase-info #lightcase-title {
  font-size: 17px;
  color: #aaa;
}

#lightcase-info #lightcase-caption {
  clear: both;
  font-size: 13px;
  color: #aaa;
}

#lightcase-info #lightcase-sequenceInfo {
  font-size: 11px;
  color: #aaa;
}


#lightcase-loading {
  position: fixed;
  z-index: 2001;
  top: 50%;
  left: 50%;
  opacity: 1;
  @include translate2d(-50%,-50%);
}


a[class*='lightcase-icon-'] {
  position: fixed;
  z-index: 9999;
  width: 1.123em;
  height: auto;
  font-size: 38px;
  line-height: 1;
  text-align: center;
  text-shadow: none;
  outline: none;
  cursor: pointer;
}

a[class*='lightcase-icon-'], a[class*='lightcase-icon-']:focus {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-tap-highlight-color: transparent;
  transition: color, opacity, ease-in-out 0.25s;
}

a[class*='lightcase-icon-'] > span {
  display: inline-block;
  text-indent: -9999px;
}

a[class*='lightcase-icon-']:hover {
  color: white;
  text-shadow: 0 0 15px white;
}

.lightcase-isMobileDevice a[class*='lightcase-icon-']:hover {
  color: #aaa;
  text-shadow: none;
}

a[class*='lightcase-icon-'].lightcase-icon-close {
  position: fixed;
  top: 40px;
  right: 40px;
  bottom: auto;
  margin: 0;
  opacity: 0;
  outline: none;
}
a[class*='lightcase-icon-'].lightcase-icon-prev {
  left: 15px;
}
a[class*='lightcase-icon-'].lightcase-icon-next {
  right: 15px;
}
a[class*='lightcase-icon-'].lightcase-icon-pause, a[class*='lightcase-icon-'].lightcase-icon-play {
  left: 50%;
  margin-left: -0.5em;
}
@media screen and (min-width: 0) {
  a[class*='lightcase-icon-'].lightcase-icon-pause, a[class*='lightcase-icon-'].lightcase-icon-play {
    opacity: 0;
  }
}

@media screen and (min-width: 0) {
  a[class*='lightcase-icon-'] {
    bottom: 50%;
    margin-bottom: -0.5em;
  }
  a[class*='lightcase-icon-']:hover, #lightcase-case:hover ~ a[class*='lightcase-icon-'] {
    opacity: 1;
  }
}

#lightcase-overlay {
  display: none;
  width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 2000;
  top: -9999px;
  bottom: -9999px;
  left: 0;
  background: #333;
}

.lightcase--pending #lightcase-loading {
  display: block !important;
}
.lightcase--pending #lightcase-case .lightcase-contentInner {
  opacity: 0 !important;
}
.lightcase--completed #lightcase-case .lightcase-contentInner{
  opacity: 1 !important;
}

.open-quickview-product{
  #lightcase-case{
    &:before {
      content: '';
      display: inline-block!important;
      height: 100%;
      vertical-align: middle;
      margin-right: -.25em;
    }
    #lightcase-content {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
    }
    .lightcase-contentInner{
      margin-top: 0 !important;
      .lightcase-inlineWrap{
        overflow: auto;
      }
    }
  }
}

.custom-lighcase-btn-close {
  background: #292929;
  position: absolute;
  right: -18px;
  top: -30px;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  display: block;
  padding: 18px;
  color: #fff;
  font-weight: 300;
  border-radius: 50%;
  i {
    display: inline-block;
    vertical-align: top;
    transition: all .4s;
  }
  &:hover{
    i{
      @include rotate(90deg);
    }
  }
}
@media(min-width: 1200px){
  a[class*='lightcase-icon-'].lightcase-icon-close{
    display: none !important;
  }
}
@media(max-width: 1200px){
  .custom-lighcase-btn-close{
    display: none;
  }
}


.rtl{
  .custom-lighcase-btn-close{
    right: 100%;
    left: auto;
  }
}