.elementor-editor-active .slick-slider .slick-list,
.elementor-editor-active .slick-slider .slick-track {
  min-width: 100%;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  bottom: 0;
  display: inline-block;
  background-color: #fff;
  color: #212121;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border: 0;
  text-align: center;
  cursor: pointer;
  padding: 0;
  border-radius: 0;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  &.slick-disabled{
    opacity: .5;
    cursor: not-allowed;
  }
}

.slick-arrow{
  i[class*="lastudioicon"]{
    vertical-align: middle;
    margin-top: -2px;
  }
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.slick-prev {
  left: 0;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: 0;
}


.slick-next {
  right: 0;
}

[dir="rtl"] .slick-next {
  left: 0;
  right: auto;
}


.slick-controls-auto{
  display: none;
}

.elementor-widget-image-carousel{
  .elementor-slick-slider{
    .slick-arrows-inside{
      .slick-arrow {
        width: 70px;
        height: 70px;
        background-color: #fff;
        color: #111;
        border-radius: 50%;
        top: auto;
        &:before {
          color: #111;
        }
        &:hover{
          background-color: #111;
          &:before {
            color: #fff;
          }
        }
      }
      .slick-prev{
        left: 50%;
        margin-left: -80px;
      }
      .slick-next{
        right: 50%;
        margin-right: -80px;
      }
    }
  }
}

.blog_item--thumbnail.format-gallery .slick-arrow {
  top: 50%;
  margin-top: -25px;
  margin-left: 20px;
  margin-right: 20px;
}