// Typography Variables
// -------------------------------------------------

// Basic Typography
$base-font-size:       14px;
$base-line-height:     1.8;
$font-size:            $base-font-size !default;
$browser-font-size:    16px !default;

// Body type
$body-font-family:     'Montserrat', sans-serif !default;
$body-font-weight:     400 !default;
$body-font-style:      normal !default;

// Heading type
$heading-font-weight:  600 !default;
$heading-font-style:   normal !default;

$three-font-family: "Alegreya", sans-serif !default;

// Color Variables
// -------------------------------------------------

// Project base color
// ==================================
$color-1:             #fff !default;
$color-2:             #212121 !default;
$color-3:             #3E3E3E !default;
$color-4:             #212121 !default;
$color-5:             #4241FF !default;
$color-6:             #4241FF !default;
$color-7:             #e9e9e9 !default;
$color-8:             #f8f8f8 !default;
$color-9:             #f1f1f1 !default;
$color-10:            #ddd !default;
$color-11:            #555 !default;
$color-12:            #1B1B1B !default;
$color-13:            #bbb !default;
$color-14:            #444 !default;
$color-15:            #777 !default;
$color-16:            #f5f5f5 !default;
$color-17:            #666 !default;

// ===================================

// Base colors
$body-bg-color:        $color-1 !default;
$border-color:         $color-7 !default;
$selection-bg-color:   $color-2 !default;
$selection-font-color: $color-1 !default;
$primary-color:        $color-5 !default;
$secondary-color:      $color-2 !default;
// Typography colors
$body-font-color:      $color-4 !default;
$heading-font-color:   $color-2 !default;

// Link colors
$link-color:           $color-2 !default;
$link-hover-color:     $color-5 !default;

// Settings Hamburgers buttons
// ==================================================
$hamburger-layer-width                     : 20px !default;
$hamburger-layer-height                    : 2px !default;
$hamburger-layer-spacing                   : 5px !default;
$hamburger-layer-color                     : #000 !default;
$hamburger-layer-border-radius             : 3px !default;
$hamburger-hover-opacity                   : 0.7 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter    : opacity(50%) !default;


$grid-columns:      12;
$grid-gutter-width: 30px;
$screen-mb-min:     577px;
$screen-sm-min:     768px;
$screen-md-min:     960px;
$screen-lg-min:     1200px;
$screen-xlg-min:    1824px;

$screen-mb-max:              ($screen-mb-min - 1) !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:              ($screen-xlg-min - 1) !default;