// Configuration
@import "config";

// Mixins
@import "mixins";


.wp-block {
    max-width: 890px;
    &[data-align=wide] {
        max-width: 1200px;
    }
    &[data-align=full] {
        max-width: none;
    }
}

.editor-post-title__block .editor-post-title__input {
    font-size: 36px;
    font-family: $body-font-family;
    font-weight: 600;
}

p.wp-block-subhead{
    color: inherit;
}

.editor-block-list__block {

    font-family: $body-font-family;
	font-size: $font-size;
	line-height: $base-line-height;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    a{
        text-decoration: none;
        color: inherit;
        &:hover{
            color: $primary-color;
        }
    }

    >.block-editor-block-list__block-edit{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: $heading-font-weight;
        margin: 0 0 20px;
        color: $heading-font-color;
        line-height: 1.2;
    }

    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    p {
        margin: 0 0 20px;
    }

    abbr[title],
    dfn[title] {
        cursor: help;
    }

    del {
        vertical-align: baseline;
        text-decoration: line-through;
        color: #aaa;
    }

    code,
    kbd,
    pre,
    samp {
        font-size: 14px;
        font-family: Menlo,Consolas,monaco,monospace;
    }

    pre {
        margin: 20px 0;
        padding: 20px;
        color: #2080ad;
        background-color: #fafafa;
    }

    code {
        color: #2080ad;
    }

    blockquote {
        margin: 0;
        border-color: $color-5;
        &[style*="center"]{
            width: 700px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        p{
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 1.6;
        }
        cite,
        .wp-block-quote__citation{
            font-weight: bold;
            color: inherit;
            margin-top: 0;
        }
    }

    q:before,
    q:after,
    blockquote:before,
    blockquote:after {
        content: "";
    }

    address {
        display: block;
        margin: 0 0 20px;
        font-style: normal;
        line-height: 1.8;
    }

    ul,
    ol {
        margin: 15px 0 15px 0;
        li{
            margin-bottom: 8px;
        }
    }

    ol {
        list-style-type: decimal;
    }

    ol ol {
        list-style: upper-alpha;
    }

    ol ol ol {
        list-style: lower-roman;
    }

    ol ol ol ol {
        list-style: lower-alpha;
    }

    li ul,
    li ol {
        margin: 8px 0 0 25px;
        padding: 0;
    }

    dl {
        margin: 0;
    }

    dt {
        font-weight: 700;
    }

    dd {
        margin-bottom: 20px;
        margin-left: 0;
    }

    .alignleft {
        margin-right: 1.5em;
    }

    ul.wp-block-latest-posts {
        list-style: none;
        padding-left: 0;
    }

    .has-drop-cap:not(:focus):first-letter {
        font-size: 4em;
        margin-top: 0.2em;
        margin-right: .2em;
    }
    @media (min-width: 960px) {
        .wp-block-cover.custom-cover-block {
            min-height: 640px;
        }
    }
}
.wp-block-cover.alignwide,
.wp-block-pullquote.alignwide {
    width: auto;
    max-width: 1170px;
    margin-left: -155px;
    margin-right: -155px;
}

.mce-content-body {
    table{
        border-collapse: collapse;
        border-spacing: 0;
        border: none;
        margin-bottom: 2.618em;
        th,
        td{
            padding: 10px;
            text-align: left;
            vertical-align: top;
            border: none;
            border-bottom: 1px solid #e9e9e9;
        }
    }
    a {
        color: $link-color;

        &:hover {
            color: $link-hover-color;
        }
    }

    a.light {
        color: $color-1;

        &:hover {
            color: $link-hover-color;
        }
    }

    a, a:hover, a:focus {
        text-decoration: none;
        @include transition( all .3s ease );
    }
    ul,
    ol{
        padding-left: 20px;
    }
}


.editor-writing-flow {
    height: fit-content;
}

.wp-block-cover.alignleft.has-background-dim {
    margin-right: 15px;
}
.wp-block-cover.alignleft.has-background-dim {
    margin-right: 15px;
}