.lastudio-subscribe-form {
	max-width: 100%;

	&__fields {

		@include display;
		@include flex-flow(column nowrap);
		@include justify-content(flex-start);
		@include align-items(stretch);
	}

	&__submit {
		@include display;
		@include justify-content(center);
		@include align-items(center);
		@include flex(0 1 auto);
		position: relative;
		max-width: 100%;

		i {
			visibility: visible;
			transition: inherit;
		}

		span {
			visibility: visible;
		}

		&:before {
			box-sizing: border-box;
			position: absolute;
			visibility: hidden;
			top: 50%;
			left: 50%;
			width: 26px;
			height: 26px;
			margin-top: -13px;
			margin-left: -13px;
			border-radius: 50%;
			border: 3px solid #fff;
			border-top-color: #000;
			content: '';
			animation: lastudio-spinner .6s linear infinite;
		}

		&.loading {

			i {
				visibility: hidden;
			}

			span {
				visibility: hidden;
			}

			&:before {
				visibility: visible;
			}
		}
	}

	&__message {
		position: absolute;
		top: 120%;
		width: 100%;
		visibility: hidden;

		.lastudio-subscribe-form__message-inner {
			@include display;
			@include justify-content(center);
			@include align-items(center);
			text-align: center;
		}
	}
}

.lastudio-subscribe-form--inline-layout {
	.lastudio-subscribe-form__input-group {
		@include display;
		@include flex-flow(row wrap);
		@include justify-content(flex-start);
		@include align-items(flex-start);

		.lastudio-subscribe-form__fields {
			@include flex(1 1 auto);
			width: auto;
		}

		.lastudio-subscribe-form__submit {
			@include flex(0 1 auto);
			width: auto;
		}
	}
}

.lastudio-subscribe-form--block-layout {
	.lastudio-subscribe-form__input-group {
		@include display;
		@include flex-flow(column wrap);
		@include justify-content(flex-start);
		@include align-items(center);

		.lastudio-subscribe-form__fields {
			width: 100%;
		}
	}
}

@keyframes lastudio-spinner {
	to {transform: rotate(360deg);}
}
