.lastudio-portfolio {
	position: relative;

	&__filter {
		@include display;
		@include flex-flow(row);
		@include justify-content(center);
		@include align-items(center);
	}

	&__filter-list {
		@include display;
		@include flex-flow(row wrap);
		@include justify-content(center);
		@include align-items(center);
	}

	&__filter-item {
		user-select: none;
		cursor: pointer;
	}

	&__list {
		@include display;
		@include flex-flow(row wrap);
		@include justify-content(flex-start);
		@include align-items(stretch);

		transform: translateZ(0);
		transition: height 0.5s cubic-bezier(.33,.79,.37,.97);
	}

	&__item {
		@include display;
		@include flex-flow(row nowrap);
		@include align-items(stretch);

		position: relative;
		transform: translateZ(0);

		&.item-loaded {
			.lastudio-portfolio__image-instance {
				visibility: visible;
			}
		}

		&.hidden-status {
			height: 0;
			visibility: hidden;

			.lastudio-portfolio__inner {
				opacity: 0;
				transform: scale(0);
			}
		}

		&.visible-status {
			height: auto;
			.lastudio-portfolio__inner {
				opacity: 1;
				transform: scale(1);
			}
		}
	}

	&__inner {
		@include flex(0 1 100%);
		align-self: stretch;
		position: relative;
		transform-origin: 50% 50%;

	}

	&__link {
		display: block;
	}

	&__image {
		position: relative;
		line-height: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&__image-instance {
		width: 100%;
		min-height: 100px;
		visibility: hidden;
	}

	&__image-loader {
		position: absolute;
		@include display;
		@include justify-content(center);
		@include align-items(center);
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: rgba(84,89,95,0.75);
		z-index: 1;

		span {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border-top-color: transparent;
			border-left-color: transparent;
			border-right-color: transparent;
			box-shadow: 2px 2px 1px rgb(255,255,255);
			animation: lastudio-portfolio-load-spin 690ms infinite linear;
		}
	}

	&__content {
		width: 100%;
		@include display;
		@include flex-flow(column nowrap);
		@include justify-content(center);
		@include align-items(stretch);
		text-align: center;
		box-sizing: border-box;
	}

	&__title {
		width: 100%;
	}

	&__desc {
		width: 100%;
	}

	&__category {
		width: 100%;
	}

	&__cover {
		@include display;
		@include flex-flow(column nowrap);
		@include justify-content(center);
		@include align-items(center);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: translateZ(0);

		i {
			@include display;
			@include flex-flow(column nowrap);
			@include justify-content(center);
			@include align-items(center);
			transform: translateZ(0);
		}
	}

	&__view-more {
		@include display;
		@include justify-content(center);

		&.hidden-status {
			display: none;
		}
	}

	&__view-more-button {
		cursor: pointer;
	}

	.grid-sizer {
		width: 25%;
		height: 0;
	}
}

// Layouts
.lastudio-portfolio {
	&.layout-type-masonry {}

	&.layout-type-grid {
		.lastudio-portfolio__image-instance {
			object-fit: cover;
		}
	}

	&.layout-type-justify {
		.lastudio-portfolio__item,
		.grid-sizer {
			width: 25%;

			&.justify-size-1-4 {
				width: 25%;
			}

			&.justify-size-2-4 {
				width: 25%;
			}

			&.justify-size-3-4 {
				width: 50%;
			}

			&.justify-size-4-4 {
				width: 50%;
			}

			@media (max-width: 767px) {
				&.justify-size-1-4 {
					width: 100%;
				}

				&.justify-size-2-4 {
					width: 100%;
				}

				&.justify-size-3-4 {
					width: 100%;
				}

				&.justify-size-4-4 {
					width: 100%;
				}
			}
		}

		.lastudio-portfolio__image-instance {
			object-fit: cover;
			height: 350px;
		}
	}

	&.layout-type-list {
		.lastudio-portfolio__item {
			width: 100%;
		}
	}
}

@keyframes lastudio-portfolio-load-spin {
	100%{transform: rotate(360deg); transform: rotate(360deg); }
}
