.lastudio-testimonials {
	width: 100%;
	position: relative;

	&.lastudio-equal-cols {
		.slick-track {
			@include display;
			@include align-items(stretch);
		}

		.lastudio-testimonials__item {
			@include display;
			@include flex-flow(column);
			float: none;
			height: auto;
		}

		.lastudio-testimonials__item-inner {
			@include flex-grow(1);
		}
	}

	&__instance {
		width: 100%;
		position: relative;

		&:not(.slick-initialized) {
			@include display;
			visibility: hidden;
		}

		&.lastudio-testimonials--comment-corner {
			.lastudio-testimonials__comment {
				&:after {
					content: '';
				}
			}
		}
	}

	&__item {
		outline: none;
	}

	&__content {

	}

	&__figure {
		position: relative;
		overflow: hidden;

		img.lastudio-testimonials__tag-img {
			max-width: 100%;
			object-fit: cover;
		}
	}


	&__title {
		max-width: 100%;
	}

	&__comment {
		max-width: 100%;
	}

	&__name {
		max-width: 100%;
	}

	&__position {
		max-width: 100%;
	}

	&__date {
		max-width: 100%;
	}

	.lastudio-arrow {
		position: absolute;
		top: 50%;

		@include display;
		@include justify-content(center);
		@include align-items(center);
		cursor: pointer;
		z-index: 999;
		transition: all 200ms linear;

		&:before {
			display: block;
			width: 100%;
			text-align: center;
			line-height: 0;
			transition: all 200ms linear;
		}

		&.prev-arrow {
			left: 0;
		}

		&.next-arrow {
			right: 0;
		}
	}

	.lastudio-slick-dots {
		@include display;
		@include justify-content(center);
		@include align-items(center);
		position: relative;
		z-index: 99;

		li {
			padding: 5px;
			margin: 0;
			list-style: none;

			span {
				display: block;
				cursor: pointer;
				width: 10px;
				height: 10px;
				border-radius: 5px;
				padding: 0;
				text-indent: 10em;
				overflow: hidden;
				transition: all 200ms linear;

				&:before {
					display: none;
				}
			}
		}
	}
}
