.lastudio-team-member {
	&__inner {
		display: block;
		width: 100%;
		position: relative;
	}

	&__image {
		position: relative;
	}

	&__image {
		width: 100%;
	}
	&__cover {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
	}
	&__content {
		width: 100%;
		&:empty {
			display: none;
		}
	}
	&__name {
		max-width: 100%;
	}

	&__position {
		max-width: 100%;
	}
}