.lastudio-animated-box {
	position: relative;

	&__front,
	&__back {
		position: absolute;
		width: 100%;
		height: 100%;
		@include display();
		@include justify-content(center);
		@include align-items(stretch);
		@include flex-flow(row nowrap);
	}

	&__front {
		background-color: #f53e6a;
	}

	&__back {
		background-color: #54595f;
	}

	&__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		top: 0;
		left: 0;
		z-index: 1;
	}

	&__inner {
		min-width: 100%;
		z-index: 2;
		@include display();
		@include flex-flow(column nowrap);
		@include justify-content(center);
		@include align-content(center);
		@include align-items(stretch);
	}

	&__icon {
		min-width: 100%;
		@include display();
		@include justify-content(center);
		.lastudio-animated-box-icon-inner {
			@include display();
			@include justify-content(center);
			@include align-items(center);
		}
	}

	&__content {
		@include display();
		@include flex-flow(column nowrap);
		@include justify-content(center);
		@include align-content(center);
		@include align-items(stretch);
	}

	&__title {

	}

	&__description {

	}

	.lastudio-animated-box__button {
		@include display();
		@include justify-content(center);
		@include align-items(center);
	}

	.lastudio-animated-box__button--icon-before {
		.lastudio-animated-box__button-text {
			order: 2;
		}
		.lastudio-animated-box__button-icon {
			order: 1;
		}
	}

	.lastudio-animated-box__button--icon-after {
		.lastudio-animated-box__button-text {
			order: 1;
		}
		.lastudio-animated-box__button-icon {
			order: 2;
		}
	}

	&.lastudio-box-effect-1 {
		perspective: 1000px;

		.lastudio-animated-box__front {
			transform-style: preserve-3d;
			transform: rotateY(0deg);
			backface-visibility: hidden;
			z-index: 2;
			transition: all 0.7s cubic-bezier(.11,.6,.24,.89);
		}

		.lastudio-animated-box__back {
			transform-style: preserve-3d;
			transform: rotateY(-180deg);
			backface-visibility: hidden;
			z-index: 1;
			transition: all 0.7s cubic-bezier(.11,.6,.24,.89);
		}

		&.flipped {

			.lastudio-animated-box__front {
				transform: rotateY(180deg);
				transition: all 0.7s cubic-bezier(.11,.6,.24,.89);
			}

			.lastudio-animated-box__back {
				transform: rotateY(0deg);
				transition: all 0.7s cubic-bezier(.11,.6,.24,.89);
			}
		}
	}

	&.lastudio-box-effect-2 {
		perspective: 1000px;

		.lastudio-animated-box__front {
			transform-style: preserve-3d;
			transform: rotateX(0deg);
			backface-visibility: hidden;
			z-index: 2;
			transition: all 0.7s cubic-bezier(.11,.6,.24,.89);
		}

		.lastudio-animated-box__back {
			transform-style: preserve-3d;
			transform: rotateX(-180deg);
			backface-visibility: hidden;
			z-index: 1;
			transition: all 0.7s cubic-bezier(.11,.6,.24,.89);
		}

		&.flipped {

			.lastudio-animated-box__front {
				transform: rotateX(180deg);
				transition: all 0.7s cubic-bezier(.11,.6,.24,.89);
			}

			.lastudio-animated-box__back {
				transform: rotateX(0deg);
				transition: all 0.7s cubic-bezier(.11,.6,.24,.89);
			}
		}
	}

	&.lastudio-box-effect-3 {
		perspective: 1000px;

		.lastudio-animated-box__front {
			transform-style: preserve-3d;
			transform: rotateX(0deg) translateY(0) scale(1);
			z-index: 2;
			transition: all 0.7s cubic-bezier(.11,.6,.24,.89);
		}

		.lastudio-animated-box__back {
			transform-style: preserve-3d;
			transform: rotateX(-90deg) translateY(150%) scale(0);
			z-index: 1;
			transition: all 0.5s cubic-bezier(.63,.07,.78,.55);
		}

		&.flipped {

			.lastudio-animated-box__front {
				transform: rotateX(90deg) translateY(-150%) scale(0);
				transition: all 0.5s cubic-bezier(.63,.07,.78,.55);
				z-index: 1;
			}

			.lastudio-animated-box__back {
				transform: rotateX(0deg) translateY(0) scale(1);
				transition: all 0.7s cubic-bezier(.11,.6,.24,.89);
				z-index: 2;
			}
		}
	}

	&.lastudio-box-effect-4 {
		perspective: 1000px;

		.lastudio-animated-box__front {
			transform-style: preserve-3d;
			transform: rotateY(0deg) translateX(0) scale(1);
			z-index: 2;
			transition: all 0.7s cubic-bezier(.11,.6,.24,.89);
		}

		.lastudio-animated-box__back {
			transform-style: preserve-3d;
			transform: rotateY(-90deg) translateX(-150%) scale(0);
			z-index: 1;
			transition: all 0.5s cubic-bezier(.63,.07,.78,.55);
		}

		&.flipped {

			.lastudio-animated-box__front {
				transform: rotateY(90deg) translateX(150%) scale(0);
				transition: all 0.5s cubic-bezier(.63,.07,.78,.55);
				z-index: 1;
			}

			.lastudio-animated-box__back {
				transform: rotateY(0deg) translateX(0) scale(1);
				transition: all 0.7s cubic-bezier(.11,.6,.24,.89);
				z-index: 2;
			}
		}
	}

	&.lastudio-box-effect-5 {
		overflow: hidden;

		.lastudio-animated-box__front {
			transform: translateY(0%);
			transition: all 0.7s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-animated-box__back {
			transform: translateY(-100%);
			transition: all 0.7s cubic-bezier(.5,.12,.46,.88);
		}

		&.flipped {

			.lastudio-animated-box__front {
				transform: translateY(100%);
				transition: all 0.7s cubic-bezier(.5,.12,.46,.88);
			}

			.lastudio-animated-box__back {
				transform: translateY(0%);
				transition: all 0.7s cubic-bezier(.5,.12,.46,.88);
			}
		}
	}

	&.lastudio-box-effect-6 {
		overflow: hidden;

		.lastudio-animated-box__front {
			transform: translateX(0%);
			transition: all 0.7s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-animated-box__back {
			transform: translateX(-100%);
			transition: all 0.7s cubic-bezier(.5,.12,.46,.88);
		}

		&.flipped {

			.lastudio-animated-box__front {
				transform: translateX(100%);
				transition: all 0.7s cubic-bezier(.5,.12,.46,.88);
			}

			.lastudio-animated-box__back {
				transform: translateX(0%);
				transition: all 0.7s cubic-bezier(.5,.12,.46,.88);
			}
		}
	}

	&.lastudio-box-effect-7 {
		perspective: 1000px;

		.lastudio-animated-box__front {
			transform-style: preserve-3d;
			transform: rotateY(0deg);
			backface-visibility: hidden;
			z-index: 2;
			transition: all 0.7s cubic-bezier(.5,.12,.46,.88);

			.lastudio-animated-box__inner {
				transform: translateZ(0px);
				transition: all 0.4s cubic-bezier(.5,.12,.46,.88) 0.2s;
				backface-visibility: hidden;
			}
		}

		.lastudio-animated-box__back {
			transform-style: preserve-3d;
			transform: rotateY(-180deg);
			backface-visibility: hidden;
			z-index: 1;
			transition: all 0.7s cubic-bezier(.5,.12,.46,.88);

			.lastudio-animated-box__inner {
				transform: translateZ(125px);
				transition: all 0.4s cubic-bezier(.5,.12,.46,.88);
				backface-visibility: hidden;
			}
		}

		&.flipped {

			.lastudio-animated-box__front {
				transform: rotateY(180deg);
				transition: all 0.7s cubic-bezier(.5,.12,.46,.88);

				.lastudio-animated-box__inner {
					transform: translateZ(125px);
					transition: all 0.4s cubic-bezier(.5,.12,.46,.88);
					backface-visibility: hidden;
				}
			}

			.lastudio-animated-box__back {
				transform: rotateY(0deg);
				transition: all 0.7s cubic-bezier(.5,.12,.46,.88);

				.lastudio-animated-box__inner {
					transform: translateZ(0px);
					transition: all 0.4s cubic-bezier(.5,.12,.46,.88) 0.2s;
					backface-visibility: hidden;
				}
			}
		}
	}

	&.lastudio-box-effect-8 {
		perspective: 1000px;

		.lastudio-animated-box__front {
			transform-style: preserve-3d;
			transform: rotateX(0deg);
			backface-visibility: hidden;
			z-index: 2;
			transition: all 0.7s cubic-bezier(.5,.12,.46,.88);

			.lastudio-animated-box__inner {
				transform: translateZ(0px);
				transition: all 0.4s cubic-bezier(.5,.12,.46,.88) 0.2s;
				backface-visibility: hidden;
			}
		}

		.lastudio-animated-box__back {
			transform-style: preserve-3d;
			transform: rotateX(-180deg);
			backface-visibility: hidden;
			z-index: 1;
			transition: all 0.7s cubic-bezier(.5,.12,.46,.88);

			.lastudio-animated-box__inner {
				transform: translateZ(125px);
				transition: all 0.4s cubic-bezier(.5,.12,.46,.88);
				backface-visibility: hidden;
			}
		}

		&.flipped {

			.lastudio-animated-box__front {
				transform: rotateX(180deg);
				transition: all 0.7s cubic-bezier(.5,.12,.46,.88);

				.lastudio-animated-box__inner {
					transform: translateZ(125px);
					transition: all 0.4s cubic-bezier(.5,.12,.46,.88);
					backface-visibility: hidden;
				}
			}

			.lastudio-animated-box__back {
				transform: rotateX(0deg);
				transition: all 0.7s cubic-bezier(.5,.12,.46,.88);

				.lastudio-animated-box__inner {
					transform: translateZ(0px);
					transition: all 0.4s cubic-bezier(.5,.12,.46,.88) 0.2s;
					backface-visibility: hidden;
				}
			}
		}
	}
}
