.elementor-widget-tabs{
  .elementor-tabs{
    .elementor-tab-content,
    .elementor-tab-title,
    .elementor-tabs-content-wrapper{
      border: none;
    }
  }
  .elementor-tab-title{
    transition: all 0.3s;
    a{
      transition: none;
    }
    &.elementor-active{
      &:before,
      &:after{
        display: none !important;
      }
    }
  }
  .lastudio-tab-title{
    transition: all 0.3s;
    cursor: pointer;
    outline: none;
  }
  &.elementor-tabs-view-horizontal{
    .elementor-tabs{
      .elementor-tab-content{
        border: none;
      }
    }
  }
}
.elementor-tabs-view-horizontal .elementor-tabs-wrapper{
  @include display();
}

.elementor-widget-tabs.elementor-tabs-view-horizontal .elementor-tab-content {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  &.elementor-active{
    -webkit-animation-name: shortfadeInUp;
    animation-name: shortfadeInUp;
  }
}

.elementor-element.fadeInUp{
  -webkit-animation-name: shortfadeInUp;
  animation-name: shortfadeInUp;
}

@keyframes shortfadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px,0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes shortfadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}