.lastudio-scroll-navigation {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
	overflow: visible !important;

	&--position-left {
		left: 0;

		.lastudio-scroll-navigation__item-hint {
			left: calc(100% + 10px);
		}
	}

	&--position-right {
		right: 0;

		.lastudio-scroll-navigation__item-hint {
			right: calc(100% + 10px);
		}
	}

	&__inner {
		@include display;
		@include flex-flow(column);
		@include justify-content(center);
		@include align-items(center);
		position: relative;
		overflow: visible !important;
	}

	&__item {
		position: relative;
		@include display;
		@include justify-content(center);
		@include align-items(center);
		overflow: visible !important;

		&:hover {
			.lastudio-scroll-navigation__item-hint {
				opacity: 1;
				pointer-events: auto;
			}
		}

		&.active {
			.lastudio-scroll-navigation__item-hint {
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	&__dot {
		width: 20px;
		height: 20px;
		cursor: pointer;
		@include display;
		@include justify-content(center);
		@include align-items(center);
	}

	&__item-hint {
		position: absolute;
		@include display;
		@include justify-content(center);
		@include align-items(center);
		@include flex-flow(row nowrap);
		opacity: 0;
		pointer-events: none;
		transition: all .3s cubic-bezier(.5,.12,.46,.88);
	}

	&__icon {
		@include display;
		@include flex-flow(column);
		@include justify-content(center);
	}

	&__label {
		white-space: nowrap;
	}
}
