.lastudio-price-list {
	list-style: none;
	margin: 0;
	
	.price-list {
		&__item {
			&-inner{
				@include display;
			}
			
			&-content{
				width: 100%;
			}
			
			&-img-wrap{
				max-width: 200px;
				margin-right: 20px;
				@include flex(1 0 100%);
				font-size: 0;
				
				img{
					width: 100%;
				}
			}
			
			&-title {
				&__wrapper {
					@include display;
					@include flex(0 1 100%);
					@include flex-flow(row nowrap);
					@include align-items(center);
					
					> * {
						@include flex(0 1 auto);
						@include flex-grow(0);
						margin: 0;
					}
				}
			}
			
			&-separator {
				position: relative;
				height: 0;
				@include flex-grow(1);
			}
		}
	}
}