.lastudio-progress-bar {
	&__inner {

	}

	&__title {
		@include display;
		@include justify-content(center);
		@include align-items(center);
		@include flex-flow(row nowrap);
	}

	&__wrapper {
		position: relative;
	}

	&__status-bar {
		@include display;
		@include flex-flow(column);
		@include justify-content(center);
		@include align-items(center);
		will-change: width, height;
		transition: width 1s cubic-bezier(.6,.17,.37,.86),
					height 1s cubic-bezier(.6,.17,.37,.86);
		transform: translateZ(0);
	}

	&__percent {
		@include display;
		@include justify-content(center);
		@include align-items(center);
	}

	&__percent-value {
		line-height: 1;
	}

	&__percent-suffix {
		line-height: 1;
	}

	&-type-1 {
		.lastudio-progress-bar__inner {
			@include display;
			@include flex-flow(column);

			.lastudio-progress-bar__status-bar {
				width: 0%;
			}

			.lastudio-progress-bar__title {
				-webkit-align-self: flex-start;
				align-self: flex-start;
			}

			.lastudio-progress-bar__wrapper {
				-webkit-align-self: stretch;
				align-self: stretch;
			}

			.lastudio-progress-bar__percent {
				-webkit-align-self: flex-end;
				align-self: flex-end;
			}
		}
	}

	&-type-2 {
		.lastudio-progress-bar__inner {
			@include display;
			@include flex-flow(column);

			.lastudio-progress-bar__status-bar {
				width: 0;
			}
		}
	}

	&-type-3 {
		.lastudio-progress-bar__inner {
			@include display;
			@include flex-flow(column);

			.lastudio-progress-bar__wrapper {
				@include flex(1 1 auto);
			}

			.lastudio-progress-bar__status-bar {
				width: 0;
			}

			.lastudio-progress-bar__percent {
				-webkit-align-self: flex-end;
				align-self: flex-end;
				position: absolute;
				bottom: calc(100% + 10px);
				right: 0;
			}

		}
	}

	&-type-4 {
		.lastudio-progress-bar__inner {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;

			.lastudio-progress-bar__wrapper {
				flex: 1 1 auto;
			}

			.lastudio-progress-bar__status-bar {
				width: 0%;
			}
		}
	}

	&-type-5 {
		.lastudio-progress-bar__inner {
			@include display;
			@include justify-content(center);
			@include align-items(center);
			@include flex-flow(row nowrap);

			.lastudio-progress-bar__wrapper {
				@include display;
				@include flex-flow(row nowrap);
				-webkit-align-self: stretch;
				align-self: stretch;
			}

			.lastudio-progress-bar__status-bar {
				width: 0;
			}
		}
	}

	&-type-6 {
		.lastudio-progress-bar__inner {
			@include display;
			@include justify-content(center);
			@include align-items(center);
			@include flex-flow(column nowrap);

			.lastudio-progress-bar__wrapper {
				@include display;
				@include flex-flow(row nowrap);
				-webkit-align-self: stretch;
				align-self: stretch;
			}

			.lastudio-progress-bar__status-bar {
				width: 0;
			}

			.lastudio-progress-bar__status {
				@include display;
				@include flex-flow(column nowrap);
				@include justify-content(center);
				@include align-items(flex-start);
			}
		}
	}

	&-type-7 {
		.lastudio-progress-bar__inner {
			@include display;
			@include justify-content(center);
			@include align-items(center);
			@include flex-flow(column nowrap);

			.lastudio-progress-bar__wrapper {
				@include display;
				@include flex-flow(column nowrap);
			}

			.lastudio-progress-bar__status-bar {
				width: 100%;
				height: 0;
			}
		}
	}
}
