.lastudio-carousel {

	&-wrap {
		&.lastudio-equal-cols {
			.slick-track {
				@include display();
				@include align-items(stretch);
				&:before,
				&:after{
					display: none;
				}
			}
			.lastudio-carousel__item-link{
				@include display();
			}
			.lastudio-carousel__item {
				float: none;
				height: auto;
				@include display();
				@include flex-direction(column);
				img {
					object-fit: cover;
					@include flex-grow(1);
				}
				.lastudio-carousel__item-inner,
				.lastudio-banner,
				.lastudio-banner__link {
					@include display();
					@include flex-direction(column);
					@include align-items(center);
				}
				.lastudio-carousel__item-inner,
				.lastudio-carousel__item-inner > *:last-child,
				.lastudio-banner__link {
					@include flex-grow(1);
				}
			}
		}
	}

	&__item {
		padding: 10px;

		.lastudio-banner {
			float: none;
		}
	}
	&__content {
		position: relative;
		z-index: 2;
		max-width: 100%;
	}

	&__content,
	&__item-title,
	&__item-text {
		transition: all 200ms linear;
	}

	.lastudio-arrow {
		position: absolute;
		top: 50%;
		@include display;
		@include justify-content(center);
		@include align-items(center);
		cursor: pointer;
		z-index: 999;
		transition: all .2s;

		&:before {
			display: block;
			width: 100%;
			text-align: center;
			line-height: 0;
			transition: all .2s;
		}
	}

	.lastudio-slick-dots {
		@include display;
		@include justify-content(center);
		@include align-items(center);
		position: relative;
		z-index: 3;
		margin-top: 15px;
		li {
			padding: 5px;
			margin: 0;
			list-style: none;
			span {
				transition: all .2s;
				display: block;
				cursor: pointer;
				width: 14px;
				height: 14px;
				border-radius: 7px;
				padding: 0;
				text-indent: 10em;
				overflow: hidden;
				&:before {
					display: none;
				}
			}
		}
	}
}

.elementor-lastudio-carousel .lastudio-carousel,
.elementor-lastudio-posts .lastudio-carousel > .lastudio-posts {
	&:not(.slick-initialized) {
		@include display;
		visibility: hidden;
	}
}