.lastudio-button {
	&__container {
		@include display();
		@include flex-flow(row nowrap);
		@include justify-content(center);
	}

	&__instance {
		position: relative;
		overflow: hidden;
		max-width: 100%;
		box-sizing: border-box;
		cursor: pointer;
		transform: translateZ(0);
		transition: all .3s cubic-bezier(.5,.12,.46,.88);
	}

	&__plane {
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;

		&-normal {
			z-index: 1;
		}

		&-hover {
			z-index: 3;
		}
	}

	&__state {
		@include display();
		@include flex-direction(row);
		@include justify-content(center);
		@include align-items(center);
		box-sizing: border-box;

		&-normal {
			position: relative;
			width: 100%;
			height: 100%;
			z-index: 2;
		}

		&-hover {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 4;
		}
	}

	&__icon {

		@include display();
		@include justify-content(center);
		@include align-items(center);
	}

	&__label {

	}
}

.lastudio-button__instance {
	&.lastudio-button__instance--icon-left {
		.lastudio-button__state {
			@include flex-direction(row);

			.lastudio-button__icon {
				order: 1;
			}

			.lastudio-button__label {
				order: 2;
			}
		}
	}

	&.lastudio-button__instance--icon-top {
		.lastudio-button__state {
			@include flex-direction(column);

			.lastudio-button__icon {
				order: 1;
			}

			.lastudio-button__label {
				order: 2;
			}
		}
	}

	&.lastudio-button__instance--icon-right {
		.lastudio-button__state {
			@include flex-direction(row);

			.lastudio-button__icon {
				order: 2;
			}

			.lastudio-button__label {
				order: 1;
			}
		}
	}

	&.lastudio-button__instance--icon-bottom {
		.lastudio-button__state {
			@include flex-direction(column);

			.lastudio-button__icon {
				order: 2;
			}

			.lastudio-button__label {
				order: 1;
			}
		}
	}
}

.lastudio-button__instance {
	&.hover-effect-0 {
		.lastudio-button__plane-normal {
			opacity: 1;
		}

		.lastudio-button__plane-hover {
			opacity: 0;
		}

		.lastudio-button__state-normal {
			opacity: 1;

		}

		.lastudio-button__state-hover {
			opacity: 0;
		}

		&:hover {
			.lastudio-button__plane-normal {
				opacity: 0;
			}

			.lastudio-button__plane-hover {
				opacity: 1;
			}

			.lastudio-button__state-normal {
				opacity: 0;
			}

			.lastudio-button__state-hover {
				opacity: 1;
			}
		}
	}

	&.hover-effect-1 {
		.lastudio-button__plane-normal {
			opacity: 1;
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__plane-hover {
			opacity: 0;
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-normal {
			.lastudio-button__icon {
				opacity: 1;
				transition: all .3s cubic-bezier(.5,.12,.46,.88);
			}

			.lastudio-button__label {
				opacity: 1;
				transition: all .3s cubic-bezier(.5,.12,.46,.88);
			}
		}

		.lastudio-button__state-hover {
			.lastudio-button__icon {
				opacity: 0;
				transition: all .3s cubic-bezier(.5,.12,.46,.88);
			}

			.lastudio-button__label {
				opacity: 0;
				transition: all .3s cubic-bezier(.5,.12,.46,.88);
			}
		}

		&:hover {
			.lastudio-button__plane-normal {
				opacity: 0;
			}

			.lastudio-button__plane-hover {
				opacity: 1;
			}

			.lastudio-button__state-normal {
				.lastudio-button__icon {
					opacity: 0;
				}

				.lastudio-button__label {
					opacity: 0;
				}
			}

			.lastudio-button__state-hover {
				.lastudio-button__icon {
					opacity: 1;
				}

				.lastudio-button__label {
					opacity: 1;
				}
			}
		}
	}

	&.hover-effect-2 {
		.lastudio-button__plane-normal {
			transform: translateY(0%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__plane-hover {
			transform: translateY(100%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-normal {
			transform: translateY(0%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-hover {
			transform: translateY(100%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		&:hover {
			.lastudio-button__plane-normal {
				transition-delay: .1s;
				transform: translateY(-100%);
			}

			.lastudio-button__plane-hover {
				transform: translateY(0%);
				transition-delay: .1s;
			}

			.lastudio-button__state-normal {
				transform: translateY(-100%);
			}

			.lastudio-button__state-hover {
				transition-delay: .15s;
				transform: translateY(0%);

			}
		}
	}

	&.hover-effect-3 {
		.lastudio-button__plane-normal {
			transform: translateY(0%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__plane-hover {
			transform: translateY(-100%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-normal {
			transform: translateY(0%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-hover {
			transform: translateY(-100%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		&:hover {
			.lastudio-button__plane-normal {
				transition-delay: .1s;
				transform: translateY(100%);
			}

			.lastudio-button__plane-hover {
				transform: translateY(0%);
				transition-delay: .1s;
			}

			.lastudio-button__state-normal {
				transform: translateY(100%);
			}

			.lastudio-button__state-hover {
				transition-delay: .15s;
				transform: translateY(0%);

			}
		}
	}

	&.hover-effect-4 {
		.lastudio-button__plane-normal {
			transform: translateX(0);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__plane-hover {
			transform: translateX(-100%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-normal {
			transform: translateX(0);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-hover {
			transform: translateX(-100%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		&:hover {
			.lastudio-button__plane-normal {
				transform: translateX(100%);
				transition-delay: .1s;
			}

			.lastudio-button__plane-hover {
				transform: translateX(0);
			}

			.lastudio-button__state-normal {
				transform: translateX(100%);
			}

			.lastudio-button__state-hover {
				transform: translateX(0);
				transition-delay: .1s;
			}
		}
	}

	&.hover-effect-5 {
		.lastudio-button__plane-normal {
			transform: translateX(0);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__plane-hover {
			transform: translateX(100%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-normal {
			transform: translateX(0);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-hover {
			transform: translateX(100%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		&:hover {
			.lastudio-button__plane-normal {
				transform: translateX(-100%);
				transition-delay: .1s;
			}

			.lastudio-button__plane-hover {
				transform: translateX(0);
			}

			.lastudio-button__state-normal {
				transform: translateX(-100%);
			}

			.lastudio-button__state-hover {
				transform: translateX(0);
				transition-delay: .1s;
			}
		}
	}

	&.hover-effect-6 {
		.lastudio-button__plane-normal {
			opacity: 1;
			transform: scale(1);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__plane-hover {
			opacity: 0;
			transform: scale(0);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-normal {
			opacity: 1;
			transform: scale(1);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-hover {
			opacity: 0;
			transform: scale(0);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		&:hover {
			.lastudio-button__plane-normal {
				opacity: 0;
				transform: scale(1.5);
			}

			.lastudio-button__plane-hover {
				opacity: 1;
				transform: scale(1);
			}

			.lastudio-button__state-normal {
				opacity: 0;
				transform: scale(1.5);
			}

			.lastudio-button__state-hover {
				opacity: 1;
				transform: scale(1);
			}
		}
	}

	&.hover-effect-7 {
		.lastudio-button__plane-normal {
			opacity: 1;
			transform: scale(1);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__plane-hover {
			opacity: 0;
			transform: scale(1.5);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-normal {
			opacity: 1;
			transform: scale(1);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-hover {
			opacity: 0;
			transform: scale(1.5);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		&:hover {
			.lastudio-button__plane-normal {
				opacity: 0;
				transform: scale(0);
			}

			.lastudio-button__plane-hover {
				opacity: 1;
				transform: scale(1);
			}

			.lastudio-button__state-normal {
				opacity: 0;
				transform: scale(0);
			}

			.lastudio-button__state-hover {
				opacity: 1;
				transform: scale(1);
			}
		}
	}

	&.hover-effect-8 {
		.lastudio-button__plane-normal {
			opacity: 1;
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__plane-hover {
			opacity: 1;
			transform-origin: 0 100%;
			transform: rotateZ(-90deg) scaleX(2);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-normal {
			opacity: 1;
			transform: translateY(0%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-hover {
			opacity: 0;
			transform-origin: 0 100%;
			transform: rotateZ(-90deg) translateY(-100%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		&:hover {
			.lastudio-button__plane-normal {
				opacity: 0;
			}

			.lastudio-button__plane-hover {
				opacity: 1;
				transform: rotateZ(0deg);
			}

			.lastudio-button__state-normal {
				opacity: 0;
				transform: translateY(100%);
			}

			.lastudio-button__state-hover {
				opacity: 1;
				transform: rotateZ(0) translateY(0);
				transition-delay: .1s;
			}
		}
	}

	&.hover-effect-9 {
		.lastudio-button__plane-normal {
			opacity: 1;
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__plane-hover {
			opacity: 1;
			transform-origin: 100% 0;
			transform: rotateZ(-90deg) translateY(100%) scaleX(2);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-normal {
			opacity: 1;
			transform: translateY(0%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-hover {
			opacity: 0;
			transform-origin: 100% 0;
			transform: rotateZ(-90deg) translateY(100%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		&:hover {
			.lastudio-button__plane-normal {
				opacity: 0;
			}

			.lastudio-button__plane-hover {
				opacity: 1;
				transform: rotateZ(0deg);
			}

			.lastudio-button__state-normal {
				opacity: 0;
				transform: translateY(-100%);
			}

			.lastudio-button__state-hover {
				opacity: 1;
				transform: rotateZ(0) translateY(0);
				transition-delay: .1s;
			}
		}
	}

	&.hover-effect-10 {
		.lastudio-button__plane-normal {
			opacity: 1;
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__plane-hover {
			opacity: 1;
			transform: translateX(-100%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-normal {
			opacity: 1;
			transform: translateY(0%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-hover {
			opacity: 0;
			transform: translateX(-100%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		&:hover {
			.lastudio-button__plane-normal {
				opacity: 0;
			}

			.lastudio-button__plane-hover {
				opacity: 1;
				transform: translateX(0);
			}

			.lastudio-button__state-normal {
				opacity: 0;
				transform: translateY(100%);
			}

			.lastudio-button__state-hover {
				opacity: 1;
				transform: translateX(0);
				transition-delay: .1s;
			}
		}
	}

	&.hover-effect-11 {
		.lastudio-button__plane-normal {
			opacity: 1;
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__plane-hover {
			opacity: 1;
			transform: translateX(100%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-normal {
			opacity: 1;
			transform: translateY(0%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		.lastudio-button__state-hover {
			opacity: 0;
			transform: translateX(100%);
			transition: all .3s cubic-bezier(.5,.12,.46,.88);
		}

		&:hover {
			.lastudio-button__plane-normal {
				opacity: 1;
			}

			.lastudio-button__plane-hover {
				opacity: 1;
				transform: translateX(0);
			}

			.lastudio-button__state-normal {
				opacity: 0;
				transform: translateY(100%);
			}

			.lastudio-button__state-hover {
				opacity: 1;
				transform: translateX(0);
				transition-delay: .1s;
			}
		}
	}
}
