/**
 * Single Post
 */

.single-post-article,
.single-page-article{
	> .entry{
		body:not(.page-use-builder) & {
			margin-bottom: 50px;
		}
	}
}

.entry-title-single{
	font-size: 36px;
	line-height: 1.2;
	margin-bottom: 15px;
}

.single-post-article{
	> .post-thumbnail {
		margin-bottom: 40px;
	}
	> .post-meta{
		font-size: 11px;
		color: #3E3E3E;
		padding-bottom: 20px;
		i{
			margin-top: -3px;
			margin-right: 5px;
			font-size: 14px;
			vertical-align: middle;
		}
	}
	> .post-terms{
		color: $primary-color;
		font-style: italic;
		margin-bottom: 5px;
		&:before{
			display: none;
		}
		a:hover{
			text-decoration: underline;
		}
	}
	> .entry-footer{
		@include display();
		@include justify-content(space-between);
		margin-bottom: 40px;
		.tags-list{
			max-width: 55%;
			> span:first-child{
				font-weight: 600;
			}
			a{
				font-size: 11px;
				border: 1px solid #D3D3D3;
				padding: 4px 10px;
				display: inline-block;
				line-height: 20px;
				margin: 0 5px 5px 0;
				border-radius: 4px;
				&:hover{
					border-color: $primary-color;
					background-color: $primary-color;
					color: #fff;
				}
			}
		}
	}
}

.la-sharing-single-posts{
	.title-share{
		font-weight: 600;
		display: inline-block;
		vertical-align: middle;
	}
	a{
		font-size: 20px;
		margin-left: 15px;
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
		i{
			vertical-align: middle;
		}
		svg{
			vertical-align: middle;
			width: 1em;
			height: 1em;
		}
	}
}
p.logged-in-as a {
	font-weight: bold;
	~ a{
		font-weight: normal;
	}
}


.single-post-layout-special{
	.single-post-article{
		> .post-thumbnail {
			margin-left: -100px;
			width: 58%;
			float: left;
			img {
				max-height: none;
			}
		}
		> .post-meta,
		> .post-terms {
			margin-left: 50px;
			max-width: 45%;
			display: inline-block;
			margin-right: -10%;
		}
		> .entry {
			clear: both;
		}
		> .entry-header {
			display: inline-block;
			max-width: 58%;
			margin-right: -10%;
			.entry-title {
				letter-spacing: -1px;
				font-size: 66px;
				margin-left: 50px;
			}
		}
	}
}

.section-related-posts{

	.lastudio-carousel{
		.slick-arrow{
			top: 30%;
			background: #fff;
			color: #212121;
			width: 50px;
			text-align: center;
			height: 50px;
			line-height: 50px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
			&:hover{
				box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
			}
		}
		.slick-prev{
			margin-left: 20px;
		}
		.slick-next{
			margin-right: 20px;
		}
	}

	&.related-posts-design-1{
		background-color: #F9F9F9;
		padding-bottom: 80px;
		> .container{
			width: 1920px;
		}
		.related-posts-heading{
			text-align: center;
			margin: 70px 0 60px;
			letter-spacing: -1px;
			font-size: 36px;
		}
		.lastudio-posts__item{
			padding-left: 25px;
			padding-right: 25px;
		}
		.blog_item--thumbnail{
			padding-bottom: 56%;
		}
		.entry-title{
			padding-top: 5px;
		}
		.post-meta{
			padding-top: 10px;
		}
		.lastudio-more-wrap{
			margin-bottom: 10px;
		}
		.slick-prev{
			margin-left: -50px;
		}
		.slick-next{
			margin-right: -50px;
		}
	}
	&.related-posts-design-2 {
		background-color: #F9F9F9;
		.slick-arrow{
			top: 50%;
			margin-top: -20px;
			display: none !important;
		}
		.container{
			width: 100%;
			max-width: 100%;
			.row{
				margin: 0;
			}
			.col-xs-12{
				padding: 0;
			}
		}
		.lastudio-posts__item{
			color: #fff;
			padding: 0;
			a{
				color: #fff;
				background-color: transparent;
			}
			.lastudio-posts__inner-box{
				position: relative;
			}
		}
		.post-thumbnail{
			margin: 0;
		}
		.blog_item--thumbnail{
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-size: cover;
			background-position: center;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				opacity: 0.7;
				background-image: linear-gradient(270deg, rgba(0,0,0,0.00) 24%, #000000 100%);
			}
		}
		.lastudio-posts__inner-content{
			position: relative;
			z-index: 2;
			padding: 165px 135px;
		}
		.related-posts-heading {
			background: #EA622B;
			display: inline-block;
			font-size: 12px;
			font-weight: bold;
			padding: 6px 25px;
			margin-bottom: 20px;
		}
		.entry-title{
			font-size: 32px;
			width: 600px;
			max-width: 100%;
			margin-bottom: 30px;
			a:hover{
				color: $primary-color;
			}
		}
		.lastudio-more-wrap .lastudio-more{
			padding: 21px 55px;
			margin-top: 40px;
		}
	}
}

@media(max-width: 1600px){
	.section-related-posts.related-posts-design-1 .lastudio-posts__item{
		padding-left: 15px;
		padding-right: 15px;
	}
	.section-related-posts.related-posts-design-1 .entry-title {
		font-size: 20px;
	}
	.section-related-posts.related-posts-design-1 .slick-prev {
		margin-left: -20px;
	}
	.section-related-posts.related-posts-design-1 .slick-next {
		margin-right: -20px;
	}
}

@media(max-width: 1200px){
	.section-related-posts.related-posts-design-1{
		padding-bottom: 30px;
	}
	.section-related-posts.related-posts-design-1 .related-posts-heading {
		font-size: 30px;
		margin: 50px 0;
	}
	.section-related-posts.related-posts-design-2 .lastudio-posts__inner-content {
		padding: 100px 80px;
	}
	.single-post-layout-special .single-post-article{
		> .post-thumbnail {
			margin-left: 0;
			width: 45%;
		}
		> .entry-header {
			max-width: 55%;
			margin-right: 0;
			.entry-title{
				font-size: 46px;
			}
		}
		> .entry-header .entry-title,
		> .post-meta,
		> .post-terms {
			margin-left: 30px;
		}
	}
	.single-post-article > .entry-footer .tags-list a {
		padding: 2px 5px;
	}
	.entry-title-single{
		font-size: 26px;
	}
}

@media(max-width: 960px){
	.section-related-posts.related-posts-design-2 .entry-title {
		font-size: 24px;
		width: 400px;
		margin-bottom: 20px;
	}
	.section-related-posts.related-posts-design-2 .lastudio-more-wrap .lastudio-more {
		padding: 20px 45px;
		margin-top: 30px;
	}
}

@media(max-width: 767px){
	.section-related-posts.related-posts-design-1{
		.col-xs-12{
			padding: 0;
		}
	}
	.section-related-posts.related-posts-design-1 .related-posts-heading {
		font-size: 24px;
		margin: 40px 0;
	}
	.section-related-posts.related-posts-design-1 .lastudio-posts__item .lastudio-posts__inner-content {
		padding: 20px;
	}
	.section-related-posts.related-posts-design-1 .entry-title {
		font-size: 18px;
	}
	.section-related-posts.related-posts-design-1 .slick-prev {
		margin-left: 0;
	}
	.section-related-posts.related-posts-design-1 .slick-next {
		margin-right: 0;
	}

	.section-related-posts.related-posts-design-2 .lastudio-posts__inner-content {
		padding: 50px 30px;
	}
	.section-related-posts.related-posts-design-2 .entry-title {
		font-size: 20px;
	}
	.section-related-posts.related-posts-design-2 .lastudio-more-wrap .lastudio-more {
		padding: 18px 35px;
		margin-top: 20px;
	}

	.single-post-layout-special .single-post-article{
		> .post-thumbnail {
			width: 100%;
			margin-bottom: 20px;
		}
		> .entry-header {
			max-width: 100%;
			.entry-title{
				font-size: 26px;
			}
		}
		> .entry-header .entry-title,
		> .post-meta,
		> .post-terms {
			margin-left: 0;
			max-width: 100%;
		}
	}
	.single-post-article > .entry-footer {
		flex-direction: column;
		.tags-list {
			max-width: 100%;
			margin-bottom: 10px;
		}
	}
}